/*
* Instagram Feed
* */
.sb_instagram_container {
    position: relative;
    padding: 15px 0;
}

.sb_instagram {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}

.sb_instagram + .sb_instagram {
    padding-top: 15px;
}

.sb_instagram:after {
    content: "";
    display: table;
    clear: both
}

.sb_instagram_header {
    display: flex;
    align-items: flex-start;
}

.sb_instagram .sbi_header_img {
    position: relative;
    width: 50px;
    margin: 0;
    overflow: hidden;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px
}

.sb_instagram .sbi_header_img img {
    margin: 0;
    padding: 0;
    border: none;
}

.sb_instagram .sbi_header_img_hover {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .75);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    border-radius: 40px;
    transition: opacity .2s
}

.sb_instagram .sbi_header_img_hover .fa {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    margin-left: -8px;
    font-size: 20px
}

.sb_instagram a:focus .sbi_header_img_hover, .sb_instagram a:hover .sbi_header_img_hover {
    opacity: 1
}

.sb_instagram .sbi_header_text {
    padding-left: 15px
}

.sb_instagram .sbi_header_text h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.3
}

.sb_instagram .sb_instagram_header p {
    font-size: 13px;
    line-height: 1.3
}

.sb_instagram a, .sb_instagram a:active, .sb_instagram a:focus, .sb_instagram a:hover {
    outline: 0;
    text-decoration: none
}

.sb_instagram img {
    display: block;
    padding: 0;
    margin: 0;
    max-width: 100%;
    opacity: 1;
}

.sb_instagram .instagram_tpl {
    display: none;
}

.sb_instagram .instagram-item-box {
    position: relative;
    margin: 0 -10px 10px;
}

.sb_instagram .instagram-item-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.sb_instagram .instagram-item-bg img {
    display: none;
}

.sb_instagram .instagram-item-title {
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 7px;
    max-height: 50%;
    overflow: hidden auto;

    line-height: 1.3;
    font-size: 15px;
    opacity: 0;
}

.sb_instagram .instagram-item-box, .sb_instagram .instagram-item-bg, .sb_instagram .instagram-item-title {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.sb_instagram .instagram-item-box:hover, .sb_instagram .instagram-item-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.sb_instagram .instagram-item-box:hover .instagram-item-title, .sb_instagram .instagram-item-box:focus .instagram-item-title {
    opacity: 0.9;
}