/***************Header*******************/
.main-nav {
    height: auto !important;
}
.main-nav .header-bottom {
    height: 75px !important;
}
.main-nav.small-height .header-bottom {
    height: 55px !important;
}
.main-nav .header-top {
    display: inline-block;
    width: 96%;
    height: 28px;
    overflow: hidden;
    margin: 0% 2%;
    padding: 0px 0px 5px;
    color: inherit;
    border-bottom: 1px solid #dedede;
}
.header-top ul {
    margin: 0px;
}
.header-top i {
    padding-right: 5px;
}
.header-top .header-top-left {
    float: left;
    width: 60%;
}
.header-top .header-top-right {
    float: right;
    width: 40%;
}
.header-control {
    text-align: right;
    font-size: 14px;
}
.header-control ul li {
    padding-left: 10px;
    text-align: center;
}
.header-control ul li a.big-icon {
    background: rgba(33,39,57,.1);
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-transition-duration: .6s;
    -webkit-transition-duration: .6s;
    -o-transition-duration: .6s;
    transition-duration: .6s;
}
.header-control ul li a.big-icon:hover {
    background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 2px 10px rgba(52,61,71,.2);
    -moz-box-shadow: 0 2px 10px rgba(52,61,71,.2);
    box-shadow: 0 2px 10px rgba(52,61,71,.2);
}
.header-control ul li a.big-icon i {
    font-size: 26px;
    line-height: 39px;
}
.header-control ul li a.big-icon:hover i {
    animation-name: zoomIn;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation-duration: .5s;
    animation-timing-function: linear;
}
.header-control .top-cart-custom {
    position: relative;
}
.header-control .top-cart-custom .qty-top-cart-active {
    position: absolute;
    bottom: -5px;
    right: -10px;
    width: 25px;
    height: 20px;
    line-height: 20px;
    font-size: 11px;
    text-align: center;
    color: #d74516;   
}
@media screen and (max-width: 767px) {
    .header-control {
        text-align: center;
    }
    .header-top .header-top-left {
        display: none;
    }
    .header-top .header-top-right {
        width: 100%;
    }
}
/***************End Header***************/

/***************Footer*******************/
.openhours {
    padding: 0;
}
.openhours ul {
    padding: 0px;
    margin: 0px;
}
.openhours ul li {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    color: inherit;
}
.openhours ul li .date {
    float: left;
}
.openhours ul li .time {
    float: right;
}
.form-newsletter-single-container {
    width: 100%;
    display: block;
}
.form-newsletter-single {
    position: relative;
}
.form-newsletter-single input {
    border: none;
    width: calc(100% - 70px);
    height: 30px;
    color: #575757;
    float: left;
    padding-left: 5px;
}
.form-newsletter-single button {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    width: 75px;
    height: 30px;
    background: rgba(34,34,34, .9);
    color: #fff;
}
.form-newsletter-single div.form-tooltip-error {
    position: absolute;
}
.form-newsletter-single div.form-tooltip-error:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -4px;
    margin-left: -5px;
    width: 0;
    height: 0;
    background: none;
}
.footer-social-links {margin-bottom: 5px;}
.footer-social-fanpage {margin-bottom: 15px;}
.footer_main {
    color: #111;
}
.footer_main h3 {
    margin: 0px 0px 15px;
}
.footer_main ul li {
    color: #999;
}
.footer_main p {
    color: #999;
    margin-bottom: 5px;
    text-align: left;
}
.footer_main .footer_contact i {
    padding-right: 5px;
}
.footer_main p.content {
    margin-bottom: 30px;
    text-align: center;
}
.choose-lang a + a {
    padding-left: 5px;
}
/***************End Footer***************/

/***************Board********************/
/* Slider */
.slider-width-height .fixed {height: 0; /* Auto height */}
@media screen and ( max-width: 767px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}
@media screen and ( max-width: 575px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}
@media screen and ( max-width: 354px ) {.slider-width-height .fixed {height: 0; /* Auto height */}}
.slider-pro .sp-buttons {position: absolute;bottom: 0;padding-bottom: 15px;}
@media screen and ( max-width: 575px ) {
    .slider-pro .sp-buttons {padding-bottom: 0;}
    .hs-line-11 {margin-bottom: 10px;}
    .hs-line-8 {margin-bottom: 10px; }
    .btn.btn-slider {padding: 5px 15px;}
    .sp-arrow.sp-previous-arrow, .sp-arrow.sp-next-arrow {
        top: 30%;
        margin-top: -30px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 16px;
    }
}
@media screen and ( max-width: 354px ) {
    .hs-line-11, .hs-line-8 {margin-bottom: 5px;}
    .btn.btn-slider {padding: 5px 15px;}
}
/* End Slider */
/***************End Board****************/

/***************About********************/
/***************End About****************/

/***************Contact******************/
.contact-form .form-group {
    position: relative;
}
.map-container {
    margin-bottom: -5px;
}
ul.store-fronts {
    list-style-type: none;
    padding: 0px;
    padding-left: 5px;
    border-left: 3px solid #e6e6e6;
    font-size: inherit;
    color: inherit;
}
ul.store-fronts i {
    padding-right: 5px;
}
/***************End Contact**************/

/***************Gallery*******************/
.portfolio-control {
    width: 100%;
}
.portfolio-control ul.filter-square li {
    margin: 0px 5px 10px 0px;
    border: 1px solid #efefef;
    border-radius: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #363636;
    color:#fff;
}
.portfolio-control ul.filter-square li:hover, .portfolio-control ul.filter-square li.active {
    background-color: #999;
}
.portfolio-control ul.filter-square.portfolio-select li {
    background: none;
    border: none;
    padding: 0px;
    width: 100%;
} 
.portfolio-control ul.filter-square.portfolio-select li select {
    width: 100%;
}
.portfolio-box {
    position: relative;
}
.portfolio-box::before,
.portfolio-box::after,
.portfolio-box .portfolio-content {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}   
.portfolio-box::before,
.portfolio-box::after {
    content: "";
    display: inline-block;
    position: absolute;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
}
.portfolio-box:hover::before,
.portfolio-box:hover::after {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
}
.portfolio-box::before {
    background-color: #e62b4c;
    opacity: 0.8;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.portfolio-box::after {
    border: 1px solid #fff;
    bottom: 10px;
    top: 10px;
    left: 10px;
    right: 10px;
}
.portfolio-box img {
    width: 100%;
    height: auto;
}
.portfolio-box .portfolio-content {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    text-align: center;
    transform: translate(0%, -50%) scale(0);
    -webkit-transform: translate(0%, -50%) scale(0);
    -moz-transform: translate(0%, -50%) scale(0);
    -ms-transform: translate(0%, -50%) scale(0);    
    opacity: 0;
    z-index: 1;
}
.portfolio-box .portfolio-content h3::before,
.portfolio-box .portfolio-content h3::after {
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%); 
}
.portfolio-box .portfolio-content h3 {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    position: relative;
    padding: 0 17px;
    display: inline-block;
    letter-spacing: 0.56px;
}
.portfolio-box .portfolio-content h3::before,
.portfolio-box .portfolio-content h3::after {
    background-color: #fff;
    content: "";
    height: 1px;
    width: 15px;
    position: absolute;
    top: 50%;
}
.portfolio-box .portfolio-content h3::before {
    left: 0;
}
.portfolio-box .portfolio-content h3::after {
    right: 0;
}
.portfolio-box .portfolio-content span {
    color: #fff;
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    letter-spacing: 0.56px;
}
.portfolio-box .portfolio-content h3, .portfolio-box .portfolio-content span {
    line-height: 1.6rem;
}
.portfolio-box .portfolio-content ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 25px;
}
.portfolio-box .portfolio-content ul li {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
}
.portfolio-box .portfolio-content ul li a {
    font-size: 12px;
    width: 34px;
    height: 34px;
    border: 2px solid #fff;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    color: #fff;
    text-align: center;
    border-radius: 100%;
    text-decoration: none;
}
.portfolio-box .portfolio-content ul li a:hover {
    background-color: #f85c37;
    border-color: #f85c37
}
.portfolio-box:hover .portfolio-content {
    opacity: 1;
    transform: translate(0%, -50%) scale(1);
    -webkit-transform: translate(0%, -50%) scale(1);
    -moz-transform: translate(0%, -50%) scale(1);
    -ms-transform: translate(0%, -50%) scale(1);
}
.portfolio-section-2 .portfolio-box::before {
    background-color: rgba(0,0,0,0.7);
}
.portfolio-section-2 .portfolio-box::after {
    display: none;
}
#portfolio-grid .uk-position-bottom.uk-position-bottom-extends {
    bottom: 40px;
}
#portfolio-grid .portfolio-item {
    padding-bottom: 25px;
}
/*************End Gallery****************/

/*************Coupons********************/
.page-section.page-section-extends {
    padding-top: 60px;
    padding-bottom: 30px;
}
.page-section.page-section-extends-style1 {
    padding-top: 60px;
}
.page-section.page-section-extends + .page-section.page-section-extends, .page-section.page-section-extends-style1 + .page-section.page-section-extends-style1 {
    padding-top: 30px;
}
/*************End Coupons****************/

/***************Login********************/
.login_form_area a {
    text-decoration: none;
}
.login_form_area .box_area_login_v1 {
    background-color: #fbfbfb;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.login_form_area .box_area_login_v1 input {
    background-color: #fff;
}
.login_form_area .box_area_login_v1 hr {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #dbdbdb;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {
    margin-top: 20px;
}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}
.submit_name_psw {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0;
    padding-bottom: 0;
}
.submit_name_psw>form {
    position: relative;
}
.submit_name_psw input {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #c1c1c1;
    color: #666666;
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
    padding: 0 10px;
    width: 100%;
    outline: none;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.submit_name_psw {
    margin-top: 30px;
}
.btn_submit_login {
    margin-bottom: 30px;
}
.btn_submit_login button.submit {
    background-color: #363636;
    border: 1px solid #363636;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
/***************End Login****************/

/***************CSS Checkbox*************/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}
.radio .cr {
    border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}
.radio .cr .cr-icon {
    margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
ul.row.list_form {
    padding: 0;
    list-style: none;
}
/***************End CSS Checkbox*********/

/***************Appoinment***************/
/*Date picker css*/
.bootstrap-datetimepicker-widget {
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
}
.bootstrap-datetimepicker-widget ul li {
    list-style-type: none;
}
.bootstrap-datetimepicker-widget .glyphicon {
    color: red !important;
    background: blue;
}
.bootstrap-datetimepicker-widget .glyphicon-calendar:before {
    content: "\e109";
}
.full-width-box::after {
    background-color: #2e375f;
}
.contactForm.appoinment * {
    color: #000;
}
.contactForm.appoinment button, .contactForm.appoinment h3, .contactForm.appoinment i {
    color: #fff;
}
.contactForm.appoinment p {
    color: #888888;
}
.contactForm.appoinment input[type="text"], .contactForm.appoinment input[type="email"], .contactForm.appoinment input[type="tel"], .contactForm.appoinment textarea, .contactForm.appoinment select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #888888;
    color: #888888;
    padding: 15px;
    height: 47px;
}
.contactForm.appoinment select optgroup {
    color: #000;
}
.contactForm.appoinment select option {
    background: #fff;
    color: #888888;
}
.contactForm.appoinment textarea {
    height: auto;
}
/***************End Appoinment***********/

/***************Booking******************/
.booking-note textarea {
    min-height: 128px;
}
.box_staff_inner_v1 {
    padding-top: 45px;
    padding-bottom: 45px;
}
.booking_staff_title {
    text-align: center;
}
.our_service_title h2.section_title, .coupon_title h2.section_title, .gallery_title h2.section_title, .appoinment_title h2.section_title, .news_trend_v1 h2.section_title, .about_us_v1 h2, .services_table h2.section_title, .booking_services_v1 h2.section_title, .booking_staff_title h2.section_title {
    color: #252525;
    font-size: 42px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    font-family: inherit;
    font-weight: 700;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 15px;
    font-style: italic;
}
.booking_staff_title p.staff_us {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: inherit;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    line-height: 40px;
    margin-bottom: 0;
}
.box_staff_bg {
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
}
.info_inner_booking {
    float: left;
    width: 100%;
    margin: 30px 0px;
}
.time_work_staff_v1 {
    clear: both;
}
.time_work_staff_v1 label, .time_work_staff_v1 h3 {
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    font-weight: 700;
    text-transform: uppercase;
}
.time_work_staff_v1 .time_am_v1, .time_work_staff_v1 .time_pm_v1 {
    margin-top: 30px;
}
.time_work_staff_v1 label, .time_work_staff_v1 h3 {
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    font-weight: 700;
    text-transform: uppercase;
}
.time_work_staff_v1 ul {
    margin-top: 20px;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.time_work_staff_v1 ul li a, .time_work_staff_v1 ul li span {
    padding: 7px 15px 5px 15px;
    background: #ebebeb;
    margin-right: 7px;
    font-size: 14px;
    margin-bottom: 7px;
    text-decoration: none;
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    width: 93px;
    float: left;
}
.time_work_staff_v1 ul li span {
    background: none;
}
.info_inner_booking .staff_service_v1 {
    float: left;
    width: 50%;
    margin-bottom: 15px;
}
.staff_service_v1 .info_staff {
    float: left;
    max-width: 150px;
    margin-right: 15px;
}
.staff_service_v1 .info_staff img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
.staff_service_v1 .details_staff h2 {
    margin-top: 0;
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    text-transform: uppercase;
}
.staff_service_v1 .details_staff p {
    font-size: 16px;
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    font-weight: 500;
}
.btn-search {
    float: left;
    /*width: 100px;
    height: 40px;*/
    border: none;
    color: #444;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #363636;
    /*margin-top: 36px;
    margin-left: 30px;*/
}
@media (min-width: 992px) and (max-width: 1169px) {
    .group-select{
        width: 220px;
        margin-right: 10px;
    }
    .btn-search{
        margin-left: 0;
        height: 41px;
        width: 125px;
    }
}
/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .time_work_staff_v1 ul li a {
        float: left;
    }
    .time_work_staff_v1 ul li + li {
        margin-left: 0;
    }
    .staff_service_v1 .details_staff h2,
    .time_work_staff_v1 h3 {
        font-size: 20px;
    }
    .box-date{
        width: 260px;
    }
    .btn-search{
        width: 260px;
    }
}
@media screen and ( max-width: 767px ) {
    .hidden-mobile {
        display: none;
    }
    .info_inner_booking .staff_service_v1{
        width: 100% !important;
    }
    .info_inner_booking .info_staff{
        width: 40%;
        margin-right: 0px;
        padding-right: 10px;
    }
    .info_inner_booking .details_staff{
        width: 60%;
        float: right;
    }
    .staff_service_v1 .details_staff p{
        font-size: 12px;
    }
    .time_work_staff_v1 ul li a {
        float: left;
    }
    .time_work_staff_v1 ul li + li {
        margin-left: 0;
    }
    .staff_service_v1 .details_staff h2,
    .time_work_staff_v1 h3 {
        font-size: 20px;
    }
    .content-shop-booking{
        padding-left: 5px;
        padding-top: 15px;
        padding-bottom: 0;
        padding-right: 0;
    }
    .box-date{
        width: 100%;
    }
    .btn-search{
        width: 100%;
        margin-left: 0;
    }
    .group-select{
        width: 100%;
    }
    /*.add-services{
        margin-bottom: 30px;
    }*/
}
@media screen and ( min-width: 768px ) {
    .hidden-desktop {
        display: none;
    }
}
/***************End Booking**************/

/***************Service******************/
.service-title {
    font-weight: 700;
}
.service-price {
    color: #ff0;
    font-weight: 400;
    font-size: 15px;
}

.content_service ul {
    margin: 0px;
    padding: 0px;
}
.content_service .line_item_v1 {
    display: inline-block;
    width: 100%;
}

/*css control*/
.portfolio-control .filter-square.filter-square-style-1 {
    padding: 0px;
    list-style-type: none;
    text-align: left;
    width: 100%;
}
.portfolio-control .filter-square.filter-square-style-1 li {
    padding: 15px 20px;
}
.portfolio-control .filter-square.filter-square-style-1 li.child {
    padding: 10px 20px;
    margin-left: 15px;
}

/*css service item*/
.box_book_price ul li {
    list-style-type: none;
    border-bottom: 1px dashed #dedede;
    clear: both;
}

.box_book_price ul li:nth-child(2) {
    border-top: 1px dashed #dedede;
}

.box_book_price ul li:first-child {
    float: right;
    border-bottom: 0;
}

.box_book_price ul li:last-child {
    border-bottom: none;
}
.services_item_v1 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
}
.item-botton.services_item_v1 {padding-top: 0;}
.services_item_v1 a {
    text-decoration: none;
    font-size: 16px;
    color: #252525;
}
.services_item_v1 .btn_2 {
    padding: 0 15px !important;
    color: #fff !important;
    font-family: inherit;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
}
.services_item_v1 .line_item_v1 .just_start_line {
    width: 100%;
}
.services_item_v1 .price_service_v1 {
    color: #f00;
    font-family: inherit;
    font-weight: 500;
    font-variant-ligatures: common-ligatures;
    font-size: 18px;
    margin-left: 5px;
}
.services_item_v1 .box_des {
    font-size: 12px;
    color: #9e9e9e;
}
.scroll_btn{
    position: fixed;
    top: 0px;
    z-index: 1001;
}
.btn-mod.btn-border.btn-bg-white {
    background: #fff;
}
.btn-mod.btn-border.btn-bg-white:hover, .btn-mod.btn-border.btn-bg-white:focus {
    background: #000;
}
/*css gallery item*/
ul.service_gallery {
    padding-top: 0;
}
ul.service_gallery li {
    float: left;
    list-style-type: none;
}
ul.service_gallery li img {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}
ul.service_gallery li img:hover {
    opacity: .85
}
/***************End Service**************/

/***************Cart*********************/
.cart a {
    text-decoration: none;
}
.cart-table {
    margin-top: 45px;
    margin-bottom: 45px;
    color: #000;
    background-color: #f6f6f6;
    padding: 30px;
}
.cart-table .table {
    border: none;
}
.cart-table ul li:first-child {
    border-bottom: 1px solid #dedede;
    width: 100%;
}
.cart-table .ui-inputText:focus {
    border: 1px solid #00c8b4;
}
.cart-table thead tr th {
    background: #fff;
    border: medium none !important;
    color: #333333;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    vertical-align: middle;
}
.cart-table thead tr th.product {
    min-width: 320px;
}
.cart-table thead tr th.price {
    min-width: 100px;
}
.cart-table thead tr th.qty {
    min-width: 100px;
    float: none;
}
.cart-table thead tr th.add-cart {
    min-width: 150px;
}
.cart-table thead tr th.remove {
    min-width: 90px;
}
.cart-table tbody tr td {
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 2px;
    padding: 20px 0;
    vertical-align: middle;
    text-align: left;
}
.cart-table tbody tr:first-child td {
    padding-top: 30px;
}
.cart-table tbody tr:last-child td {
    padding-bottom: 0;
    border-bottom: none;
}
.cart-table .cart-product img {
    border: 1px solid #f3f3f3;
    display: block;
    float: left;
    margin-right: 25px;
    width: 93px;
}
.cart-table .cart-product .details {
    margin-top: 20px;
    font-weight: 500;
}
.cart-table .cart-product .details a {
    text-decoration: none;
    color: #606060;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
}
.cart-table .cart-product .details a:hover {
    color: #7ac2d7;
    text-decoration: none;
}
.cart-table .cart-product .details p {
    margin: 0;
    font-weight: bold;
}
.cart-table .cart-price {
    font-weight: bold;
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
}
.cart-table .cart-stock {
    color: #606060;
    text-transform: uppercase;
}
.cart-table .cart-pro-remove {
    text-decoration: none !important;
}
.cart-table .cart-pro-remove:hover {
    color: #7ac2d7;
}
.cart-table .cart-pro-remove i {
    display: block;
    font-size: 16px;
    line-height: 22px;
    margin-left: 35px;
}
.cart-table .ui-inputText {
    color: #333;
    transition: .3s;
    border: 1px solid #dfdfdf;
    border-radius: 0;
    width: 50%;
    padding: 0.6em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.cart-table-ver1 .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding: 15px 0;
    border-bottom: 1px solid #dedede;
}
.cart-table-ver1 {
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-left: 15px;
}
.cart-table-ver1 .table>tbody>tr>td {
    border-top: none;
}
.cart-table-ver1 .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #fff;
}
.cart-table tr:first-child td {
    background-image: none;
}
.cart-table table tr:hover td {
    background-color: transparent;
}
.cart-table p {
    font-family: inherit;
    font-variant-ligatures: common-ligatures;
    font-size: 16px;
}
.cart-table p.mgr_100 {
    margin-right: 100px;
}
.cart-payment {
    background-color: #fff;
    padding: 30px;
}
@media screen and ( max-width: 767px ) {
    .cart-table .title_des {
        min-width: 230px;
    }
    .cart-table .cart-price input {
        margin: 0px;
    }
}
/***************End Cart*****************/

/***************Payment******************/
.cart-payment {
    background-position: center top;
    background-size: 100% auto;
}
.cart-payment {
    margin-top: 70px;
    margin-bottom: 70px;
}
.cart-payment {
    text-align: center;
    color: #000;
}
.cart-payment {
    padding-top:15px;
}
.cart-payment select {
    margin-bottom: 15px;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    height: 37px;
    border: 1px solid #e1e1e1;
    color: #999;
    font-size: 14px;
}

.cart-payment input {
    margin-bottom: 15px;
    width:100%;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: auto;
    padding: 10px 12px;
    box-shadow: none;
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.cart-payment button {
    margin-bottom: 15px;
    cursor:pointer;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #b24461;
}
.cart-payment ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.list_form {
    padding-left: 0px;
}
.cart-payment .order {
    text-align: left;
}
.cart-payment .order .inner {
    padding: 15px 20px 0px 20px;
}
.cart .order .total ul {
    list-style-type : none;
}
/***************End Payment**************/

/*************News***********************/
/*.search_area_bar, .recent_area_bar, .category_news_v1, .tag_news_v1 {
    display: inline-block;
    width: 100%;
}
.search_area_bar > * {
    display : block;
}
.news_comment_v1 h3.leave_comment_v1, .box_comment_new_v1 h3.leave_comment_v1, .search_area_bar h3.leave_comment_v1, .recent_area_bar h3.leave_comment_v1, .category_news_v1 h3.leave_comment_v1, .tag_news_v1 h3.leave_comment_v1 {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    font-family: inherit;
}
.news_comment_v1 h3.leave_comment_v1:before, .box_comment_new_v1 h3.leave_comment_v1:before, .search_area_bar h3.leave_comment_v1:before, .recent_area_bar h3.leave_comment_v1:before, .category_news_v1 h3.leave_comment_v1:before, .tag_news_v1 h3.leave_comment_v1:before {
    background: rgba(34,34,34, .9) none repeat scroll 0 0;
    bottom: -2px;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.search_area_bar > form {
    position: relative;
}
.search_area_bar input[type="text"] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    color: #666666;
    height: 38px;
    line-height: 28.8px;
    margin: 0;
    position: absolute;
    top:0px;
    right: 0px;
    transition: all 0.4s ease 0s;
    width: 100%;
    outline: none;
}
.search_area_bar button.submit {
    background-color: rgba(34,34,34, .9);
    border: 1px solid rgba(34,34,34, .9);
    height: 38px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease 0s;
    width: 45px;
    outline: none;
    color: #fff;
}
.signle_post_v1 {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}
.signle_post_v1 .img_post_rc_v1 {
    display: inline-block;
    float: left;
    width: 34%;
}
.signle_post_v1 .txt_post_rc_v1 h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.signle_post_v1 .txt_post_rc_v1 h5 {
    font-size: 13px;
    text-align: right;
    margin: 0px;
}
.category_news_v1 ul {
    margin: 0px;
    padding: 0px;
}
.category_news_v1 ul li {
    list-style-type: none;
}
.category_news_v1 ul li a {
    color: #252525;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    border-bottom: 1px solid rgba(33,39,57,.1);;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    position: relative;
    transition: all 0.3s ease 0s;
}
.category_news_v1 ul li a.active, .category_news_v1 ul li a:focus, .category_news_v1 ul li a:hover {
    color: #eb5973;
}
.category_news_v1 ul li a:before {
    color: rgb(68, 68, 68);
    content: "\f0c1";
    font: normal normal normal 14px/1 "FontAwesome";
    font-size: 13px;
    line-height: 12px;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    top: 1px;
}
.tag_news_v1 ul {
    margin: 0px;
    padding: 0px;
}
.tag_news_v1 ul li {
    list-style-type: none;
    float: left;
    margin: 0 8px 8px 0;
}
.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    border-radius: 2px;
    color: #252525;
    display: block;
    font-size: 14px;
    line-height: 24px;
    opacity: 1;
    padding: 8px 15px;
    text-transform: capitalize;
    transition: all 0.2s linear 0s;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    font-family: inherit;
}
.tag_news_v1 ul li a.active, .tag_news_v1 ul li a:focus, .tag_news_v1 ul li a:hover {
    background-color: #eb5973;
}*/
/*css fixed height*/
.single-news.single-news-fixed-height figure.image {
    background: #fff;
    text-align: center;
    height: 225px;
    overflow: hidden;
}
.single-news.single-news-fixed-height figure.image img {
    flex: 1;
    width: auto;
    max-width: 100%;
    max-height: 225px;
}
.single-news.single-news-fixed-height .title {
    height: 95px;
    overflow: hidden;
}
.single-news.single-news-fixed-height .description {
    height: 45px;
    overflow: hidden;
}
.single-news.single-news-fixed-height .readmore {
    height: 40px;
    overflow: hidden;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .single-news.single-news-fixed-height figure.image, .single-news.single-news-fixed-height figure.image img {
        max-height: 183px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .single-news.single-news-fixed-height figure.image, .single-news.single-news-fixed-height figure.image img {
        max-height: 217px;
    }
}
@media screen and (max-width: 767px) {
    .single-news.single-news-fixed-height figure.image, .single-news.single-news-fixed-height figure.image img {
        max-height: none;
        width: 100%;
    }
}
.hits-area i {
    padding-right: 5px;
}
/*************End News*******************/

/*************Global*********************/
.form-tooltip-error ul li {
    list-style-type: none;
}
.alert.alert-aquamarine {
    border: 1px solid #43ca43;
    border-radius: inherit;
    background: #b3fb9b;
}
.form-control-wrapper {
  position: relative;
}
.pointer {
    cursor: pointer;
}
.width33 {
    width: 33.333%;
}
.width100 {
    width: 100%;
}
.mt-15 {
    margin-top: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-0 {
    margin-bottom: 0px;
}
.pb-0 {
    padding-bottom: 0px;
}
.mt-0 {
    margin-top: 0px;
}
.pt-0 {
    padding-top: 0px;
}
.pt-15 {
    padding-top: 15px;   
}
.pt-40 {
    padding-top: 40px;
}
.pb-15 {
    padding-bottom: 15px;    
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-60 {
    padding-bottom: 60px;
}
.pb-130 {
    padding-bottom: 130px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}
.mb-l20 {
    margin-bottom: -20px;
}
.mb-l90 {
    margin-bottom: -90px;
}
.mt-50 {
    margin-top: 50px;
}
.mr-15 {
    margin-right: 15px;
}
.ml-15 {
    margin-left: 15px;
}
.ptb_90 {
    padding-top: 90px;
    padding-bottom: 90px;
}
.pb-140 {
    padding-bottom: 140px;
}
.pb_90, .pb-90 {
    padding-bottom: 90px;
}
.toogle-hidden {
    display: none;
}
.bg-gray {
    background: #f1f1f1;
}
.alert.alert-aquamarine {
    border: 1px solid #43ca43;
    border-radius: inherit;
    background: #b3fb9b;
}
.bootstrap-datetimepicker-widget {
    z-index: 999999;
    color: #000;
}
.csi-btn.csi-btn-small {
    padding: 0.5rem 1.6rem;
    font-size: 2.1rem;
    line-height: 2.1rem;
}
.csi-btn.csi-btn-full {
    width: 100%;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #e62b4c;
    border-color: #e62b4c;
}
.fl-flex-label.fl-collapsed .fl-label, .fl-flex-label.fl-collapsed .fl-label span {
    line-height: 12px;
    margin: 2px 10px 5px;
    padding: 0px;
}
.white-popup {
    max-width: 800px;
}
.list-inline li, ul.list-inline li {
    display: inline-block;
}
.fl-flex-label .fl-label{
    padding-top: 0px;
}
.fl-flex-label.fl-collapsed.fl-background .fl-label {
    padding-top: 0px;
    margin-top: 0px;
    background: none;
}
/*************End Global*****************/
/* Fix gallery */
.gallery-image-wrap {
    height: auto !important;
}
ul#portfolio-grid > li, .portfolio {
    height: auto;
}
.image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.image-bg img, ul#portfolio-grid li .image-bg img {
    display: none;
}
/*.gallery-box:hover .image-bg, .gallery-box:focus .image-bg {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}*/
/* End fix gallery */

/* Fix update format */
/* Global */
* > img, img {
    max-width: 100%;
}
* > .pointer, .pointer {
    cursor: pointer;
}
form ul, form ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* End global */
/* Oppenhours - Contact info */
.foh-wrap, 
.fci-wrap {display: table;text-align: left;}
.foh-row, 
p.foh-row, 
span.foh-row,
div.foh-row, 
.fci-row, 
p.fci-row, 
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}
.foh-row .foh-date, 
p.foh-row .foh-date, 
span.foh-row .foh-date, 
div.foh-row .foh-date, 
.foh-row .foh-time, 
p.foh-row .foh-time, 
span.foh-row .foh-time, 
div.foh-row .foh-time, 
.fci-row .fci-title, 
p.fci-row .fci-title, 
span.fci-row .fci-title, 
div.fci-row .fci-title, 
.fci-row .fci-content, 
p.fci-row .fci-content, 
span.fci-row .fci-content, 
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}
.foh-row .foh-date, 
p.foh-row .foh-date, 
span.foh-row .foh-date, 
div.foh-row .foh-date, 
.fci-row .fci-title, 
p.fci-row .fci-title, 
span.fci-row .fci-title, 
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
/* End Oppenhours - Contact info */

/* Youtube iframe */
.youtube-player { position: relative; padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ width: 100%;max-width: 100%; height: 0;background: #000;margin: 0 auto;overflow: hidden;} 
.youtube-player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background: transparent;}
/* End Youtobe iframe */

/* Other */
ul.store-fronts i {
    width: 25px;
}
/*.btn.btn-book {
    border: 1px solid #111;
    padding: 10px 37px;
    border-radius: 0;
}*/
.contact-textarea textarea {height: 123px;}
.contact-item {margin-bottom: 15px;}
.store-fronts {margin-bottom: 15px;}
.contact-info .fci-row {}
.footer-openhours, .footer-contact-info  {display: inline-block;}
.footer-openhours .foh-row, .footer-contact-info .fci-row {font-size: 14px;}
.footer-contact-info .fci-row .fci-title {padding-right: 5px;}
@media screen and ( min-width: 576px ) and (max-width: 991px) {
    .contact-info .fci-row .fci-content .address br {display: none;}
}
@media screen and ( max-width: 767px ) {
    .contact-info .fci-row {
        font-size: 14px;
    }
}
@media screen and ( max-width: 359px ) {}
/* End other */
/* End fix update format */

/* Update Clone */
.body-wrap {overflow: hidden;min-height: 320px;}
footer.foot-wrap {margin: 0;padding: 30px 0 0;background-color: #f9f9f9;}
.footer-copyright {padding-top: 15px;background-color: #f5f5f5;text-align: center;}
.footer .footer-logo, .footer h3, .footer h4 {margin: 0 0 15px;}

.home-social {padding: 10px 0 5px;}
.home-social .home-social-inner {display: flex; justify-content: center; align-items: center;}
.home-social .home-social-inner .banner-heading {margin-bottom: 0px !important; padding: 0px 15px;}
.home-social .home-social-inner .footer-social-links-w {margin-bottom: 0;}

.social-img-icons-wrap {display: inline-block;}
.social-img-icons, .social-img-icons img {width: 25px; height: 25px;float: left;}
.social-img-icons {
    overflow: hidden;
    position: relative;
    border: 1px solid #f9f9f9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 8px;
}
.social-img-icons::before, .social-img-icons:hover:before {background: none;border: none;}
.social-img-icons img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.social-img-icons.facebook {background: #3a559f;}
.social-img-icons.facebook img {left: -3px;}
.social-img-icons.google-plus {background: #dd4b39;}
.social-img-icons.twitter {background: #50abf1;}
.social-img-icons.youtube {background: #dc472e;}
.social-img-icons.instagram {background: #c536a4;}
.social-img-icons.yelp {background: #cd0300;}
.social-img-icons.vimeo {background: #1ab7ea;}
.social-img-icons.blogger {background: #f89029;}
.social-img-icons.pinterest {background: #c9353d;}
.social-img-icons.yellowpages {background: #fff200;}

.home-about {padding: 30px 0; background-color: #f8f8f8;}
.home-abox {
    /*background: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,.8);
    padding: 15px;*/
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
.home-openhours {display: inline-block;}

.home-service {padding: 0 0 15px;margin: 0;background: #fff;}
.home-service-data li {padding-bottom: 15px;}

.breadcrumbs {
    padding: 15px;
    position: relative;
    background: rgba(255, 25, 25, 0) url(../../images/breadcrumbs.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.breadcrumbs::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.breadcrumbs h2 {line-height: 1.1;margin: 0;}

.pa-about-us, .pa-our-team {padding: 30px 0 15px;}
.pa-about-us p {margin: 0 0 15px;}
.team-item {margin-bottom: 30px;}
.pc-contact, .pc-coupons, .pc-giftcards, .pg-gallery, .plg-gallery {padding: 30px 0 0;}

.gallery-box-wrap {padding: 0 10px;margin: 0 0 15px 0;}
.gallery-item, .gallery-item > span { height: auto; padding: 0; margin: 0;}
.gallery-box {
    position: relative;
    background-color: #fff;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;

    margin: 0 -10px 10px;
}
.gallery-box .gallery-title {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}
.gallery-item:hover .gallery-box, .gallery-item:focus .gallery-box {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.pp-pages, .pe4-404 {padding: 30px 0;}
.ps-service {padding: 30px 0 15px;}

/* Service new */
.page-container {
    margin: 0 0 15px;
    /*padding: 15px;*/
    /*background-color: #ffe;*/
    border-radius: 5px;
}
.service-btn, .service-btn .btn, .service-btn img, .service-row, .service-row img, .service-image-wrap, .circle-service-image, .service-content-wrap, .service-catname, .service-subcatname, .service-item, .si-info, .si-info-wrap, .si-info-col, .si-name, .si-price, .si-p-wrap, .si-price .old, .si-price .current, .si-price .up, .si-desc {margin: 0; padding: 0;max-width: 100%;}
.service-btn {text-align: right; margin-bottom: 15px;}
.service-btn .btn {
    vertical-align: middle;margin-bottom: 5px;padding: 5px 10px;color: #151515;border: 2px solid #151515;text-decoration: none;
    -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;
}
.service-btn .btn + .btn {margin-left: 5px;}
.service-btn img {
    max-height: 16px; border: none;margin-right: 5px;box-shadow: initial;display: none;
    -webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all .5s;
}
.service-btn .btn img:first-child {display: initial;}
.service-btn .btn:hover img:first-child {display: none;}
.service-btn .btn:hover img:last-child {display: initial;}
.service-btn .btn-book {background-color: #fff;border-color: #151515;}
.service-btn .btn-book:hover {background-color: #000;border-color: #151515;color: #fff;}
.service-btn .btn-call {background-color: #fff;border-color: #151515;}
.service-btn .btn-call:hover {background-color: #000;border-color: #151515;color: #fff;}
.service-row {margin-bottom: 30px;}
.service-row:last-child {margin-bottom: 0;}
.service-row .service-image-wrap {
    width: 250px;
    margin: 0 auto 15px;
    border: 3px solid #111;
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}
.service-row .service-image-wrap.circle-wrap {border-radius: 50%;}
.service-row .circle-service-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.service-row .service-image-wrap.rouded-wrap {border-radius: 5px;}
.service-row .service-image-wrap.rouded-wrap img {border: none;}
.service-row .service-catname, .service-row .service-subcatname {line-height: 1.1;font-weight: bold;font-family: Dosis, arial, sans-serif;letter-spacing: 0.2em;padding-bottom: 10px;margin-bottom: 15px;position: relative;z-index: 0;color: #111;}
.service-row .si-name, .service-row .si-price, .service-row .si-price .si-p-wrap, .service-row .si-price .old, .service-row .si-price .current, .service-row .si-price .up{line-height: 1.1;font-weight: bold;font-family: "Open Sans", arial, sans-serif;font-size: 15px;color: #111;}
.service-row .si-price, .service-row .si-price .si-p-wrap, .service-row .si-price .old, .service-row .si-price .current, .service-row .si-price .up {font-weight: normal;}
.service-row .service-catname {font-size: 25px;}
.service-row .service-subcatname {font-size: 20px;}
.service-row .service-catname:after, .service-row .service-subcatname:after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.service-row .service-catdesc, .service-row .service-subcatdesc { margin: -10px 0 15px;line-height: 1.5;font-weight: normal;font-size: 14px;font-family:"Open Sans", arial, sans-serif; color: #111;}
.service-row .service-item {margin-bottom: 15px;border-bottom: 1px solid #eee;}
.service-item .si-info {margin-bottom: 15px;}
.service-item .si-info-wrap {position: relative;display: flex}
.service-item .si-dots-wrap {flex-grow: 1;}
.service-item .si-dots {border-bottom: 1px dotted #111;margin-bottom: 5px;}
.service-item .si-name, .service-item .si-price {display: inline-block;z-index: 1;position: relative;}
.service-item .si-name {padding-right: 5px;}
.service-item .si-price {text-align: right;float: right;}
.service-item .si-price span, .service-item .si-price div {white-space: nowrap;}
.service-item .si-price .old, .service-item .si-price .current, .service-item .si-price .up {padding-left: 5px;}
.service-item .si-price .old {text-decoration: line-through;opacity: 0.7;}
.service-item .si-desc {margin-bottom: 15px;line-height: 1.5;font-weight: normal;font-size: 14px;font-family:"Open Sans", arial, sans-serif; color: #111;}
.service-row .service-row {padding-left: 15px;}
@media screen and ( min-width: 576px ){
    .service-item .si-info-wrap {display: flex;}
    .service-item .si-price {white-space: nowrap;}
}

/* End service new */

/* Booking */
.booking-email .group_date {position: relative;}
.booking-email span.fa.fa-calendar.calendar {position: absolute;top: 10px;right: 10px;}
.booking-email p.title_appointment {font-weight: bold;font-size: 30px;margin: 0 0 15px;text-align: center;}
.booking-email .content-shop-booking {background: none;margin:0;padding:0;}
.booking-email select.form-control.list_service {height: 187px;}
.booking-email select.s_error {border-color: #f00;}
.booking-email .form-tooltip-serror ul {margin: 0;}
.booking-email .form-tooltip-serror {background: #f95858;padding: 5px 8px;-webkit-border-radius: 3px;border-radius: 3px;position: absolute;right: 0;bottom: 100%;margin-bottom: 8px;max-width: 230px;font-size: 14px;line-height: 20px;}
.booking-email .form-tooltip-serror:before {content: '';display: block;position: absolute;left: 50%;bottom: -4px;margin-left: -5px;width: 0;height: 0;border-style: solid;border-width: 5px 5px 0;border-color: #f95858 transparent transparent;}
.booking-email .form-group-checkbox .form-tooltip-serror {right: 100%;bottom: 0;margin-bottom: 0;margin-right: 10px;min-width: 150px;}
.booking-email .form-group-checkbox .form-tooltip-serror:before {-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg);-o-transform: rotate(-90deg);transform: rotate(-90deg);margin: 0!important;left: auto;right: -7px;bottom: 9px}
.booking-email .form-label .form-tooltip-serror {position: relative;display: inline-block;margin: -4px 0 -4px 8px;}
.booking-email .form-label .form-tooltip-serror:before {-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);bottom: 50%;margin: 0 0 -2px!important;left: -7px}
.booking-email .form-tooltip-serror, .form-tooltip-serror * {color: #fff!important;}
.booking-email .item-booking {margin: 0;}

/* Booking sms */
.my-booking-sms {margin: 0 0 15px;}
.my-booking-sms label {font-weight: normal;}
.my-booking-sms .form-input, .my-booking-sms .is-more {position: relative;}
.my-booking-sms .form-input.input-fa .fa.fa-calendar {position: absolute;margin: 0;padding: 0;right: 10px;top: calc(50% - 9px);font-size: 18px;}
.my-booking-sms .is-more .remove-services {position: absolute;z-index: 1;top: 0;left: 15px;}
.my-booking-sms .is-more .remove-services + div > div:first-child > label {margin-left: 30px;}
.my-booking-sms .add-services {margin: 0 0 15px;}

.myconfirm-sms, .myconfirm-sms .time_work_staff_v1 .time_pm_v1 {margin: 0;}
.myconfirm-sms .time_work_staff_v1 .time_am_v1 {margin: 0 0 15px;}
.myconfirm-sms .time_work_staff_v1 label {margin: 0 0 5px; font-weight: bold;}
.myconfirm-sms .time_work_staff_v1 ul, .myconfirm-sms .time_work_staff_v1 ul li {margin: 0;padding: 0;}
.myconfirm-sms .time_work_staff_v1 ul li a
/*, .myconfirm-sms .time_work_staff_v1 ul li span */
{
    padding: 10px 15px;
    margin: 0 5px 5px 0;
    text-decoration: none;
    background: #ebebeb;
    width: 100px;
    text-align: center;
    line-height: initial;
}

.pb-book {padding: 30px 0;}

/* Css mycarttable */
.p-cart .main-content, .p-payment .main-content, .p-payment-success .main-content, .p-payment-cancel .main-content {padding: 30px 0;}
.mycarttable {background: none;}
.mycarttable .table {margin-bottom: 0;border: none;}
.mycarttable thead tr th, 
.mycarttable tbody tr td {
    color: #4e4e4e;
    padding: 0;
    text-align: left;
    vertical-align: top;
    border: none;
    border-top: 1px solid #ddd;
}
.mycarttable thead tr th *, 
.mycarttable tbody tr td *{margin: 0;}
.mycarttable thead tr th {
    background: #f9f9f9;
    color: #4e4e4e;
    border: 1px solid transparent;
    
    height: 40px;
    padding: 0 15px;
    text-transform: uppercase;
    vertical-align: middle;
}
.mycarttable .list-row tbody tr:first-child td {border: none;}
.mycarttable thead tr th.th-qty {width: 100px;}
.mycarttable thead tr th.th-price-total{text-align: right;}
.mycarttable thead tr th.th-remove, 
.mycarttable tbody tr td.td-remove {width: 50px;text-align: right;}
.mycarttable tbody tr td .list-row-col {padding: 15px;}
.mycarttable tbody tr td .list-row-col img {
    max-width: 110px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .image-item {
    max-width: 110px;
    margin-right: 15px;
    float: left;
}
.mycarttable tbody tr td .list-row-col .name-item, 
.mycarttable tbody tr td .list-row-col .price-item, 
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable tbody tr td .price-row-col, 
.mycarttable tbody tr td .price-row-col p {font-weight: bold;}
.mycarttable tbody tr td .list-row-col .form-control {min-width: 70px;}
.mycarttable tbody tr td .list-row-col .form-control.autowidth {width: auto;min-width: 110px;}
.mycarttable tbody tr td .list-row-col .price-total-item, 
.mycarttable .price-row tbody tr , 
.mycarttable .price-row tbody tr td {text-align: right;}
.mycarttable .price-row tbody tr.noneboder td, 
.mycarttable .price-row tbody tr:not(:first-child) td {border: none;}
.mycarttable tbody tr td:first-child {width: 90%;}
.mycarttable tbody tr td .price-row-col {padding: 5px 15px;}
.mycarttable .price-row tbody tr:last-child td .price-row-col, 
.mycarttable .price-row tbody tr:last-child td .price-row-col p {font-size: 120%;color: #f00;}
.mybutton {margin-top: 15px;}
.mybutton .btn-continue {float: left;}
.mybutton .btn-next {float: right;}
@media screen and (max-width: 767px) {
    .mycarttable {padding: 0;background: none;}
    .mycarttable thead tr th {background: #f9f9f9;}
    .mycarttable .price-row tbody tr:first-child td {border: none;}
    .mycarttable tbody tr td .small-sm {font-size: 90%;line-height: initial;}
    .mycarttable tbody tr td p {white-space: normal;}
    .mycarttable tbody tr td .list-row-col .name-item {min-width: 250px;}
}
.mybox-order {
    margin:0 0 15px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 3px;
    color: #333;
}
.mybox-order ul, .mybox-order li {margin: 0;padding: 0;}
.mybox-order ul li {
    clear: both;
    display: inline-block;
    width: 100%;
    padding: 0 0 15px;
}
.mybox-order ul li.li-last {padding-bottom: 0;}
.mybox-order .item-info {display: block;clear: both;border-bottom: 1px dotted #aaa;}
.mybox-order .item-info .item-image {margin: 0 -15px;}
.mybox-order .item-info .item-image img {margin: 0 0 15px;}
.mybox-order .item-info .item-name, .mybox-order .item-info .item-price {margin: 0 -15px 15px 0;}
.mybox-order .item-info .item-price, .mybox-order .total label, .mybox-order .total span {font-weight: bold;}
.mybox-order .total span {color: #000;}
#cart_payment_total{
    font-size: 18px;
    color: #F00;
}
.mybox-order .btn-discount {background-color: #b24461;color: #fff;}
.mybox-order .btn-discount:hover {background-color: #e5425b;}
.total ul li .input-group {position: relative;z-index: 0;}
.total ul li .input-group input[type="text"] {position: relative;padding: 5px 50px 5px 5px;z-index: 1;}
.total ul li .input-group button {position: absolute; top: 0;right: 0;z-index: 2;height: 34px;}
.btn-discount, .total ul li .btn-discount {
    height: 30px;
    display: inline-block;
    background-color: #373737;
    border: 2px solid #373737;
    padding: 5px 12px;
    color: #fff;
    font-size: 12px;
}
.btn-discount:hover, .total ul li .btn-discount:hover {background-color: rgba(0,0,0, .7);border-color: rgba(0,0,0, .7);}
.b-loader {
    border: 5px solid #4e4e4e;
    border-top: 5px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-left: 0;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* End css mycarttable */

.pc-cart, .pp-payment, .pp-payment-success, .pp-payment-cancel {padding: 30px 0;}


/* Responsive */
@media screen and ( min-width: 992px ){}

@media screen and ( max-width: 991px ){
    .home-about, .pa-about-us, .pa-our-team, .pc-coupons, .pc-giftcards, .pg-gallery, .plg-gallery {padding: 15px 0 0;}
    .home-abox {margin-bottom: 15px;height: auto;}
    .pc-contact, .pp-pages, .pe4-404, .pc-cart, .pp-payment, .pp-payment-success, .pp-payment-cancel {padding: 15px 0;}
}
@media screen and ( max-width: 767px ){
    .team-item {margin-bottom: 15px;}
    .coupon_img_v1, .coupon_wrap {margin-bottom: 15px;}
    .coupon_wrap .coupon_img_v1 {margin-bottom: 5px;}
    .pb-book {padding: 15px 0;}
    .myconfirm-sms .time_work_staff_v1 ul li.expired {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .footer-openhours .foh-row, .footer-contact-info .fci-row {font-size: 13px;}
}

/*CSS LOGO*/
.main-nav .header-bottom {height: 100px !important;}
.nav-logo-wrap {
    width: calc(100% - 110px);
    height: 100px;
    line-height: 100px;
}
.nav-logo-wrap .logo, .nav-logo-wrap img {
    display: initial;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}
@media (min-width: 576px){}
@media (min-width: 768px){
    .main-nav .header-bottom {height: 110px !important;}
    .nav-logo-wrap {
        width: calc(100% - 120px);
        height: 110px;
        line-height: 110px;
    }
}
@media (min-width: 992px){
    .main-nav .header-bottom {height: 120px !important;}
    .nav-logo-wrap {
        width: calc(100% - 130px);
        height: 120px;
        line-height: 120px;
    }
}
@media (min-width: 1201px){
    .main-nav .header-bottom {height: 130px !important;}
    .nav-logo-wrap {
        float: left;
        width: auto;
        height: 120px;
        line-height: 120px;
        max-width: 480px;
    }
}

/*freeze footer*/
.freeze-footer { position: fixed; right: 0; bottom: 0; padding: 0 15px 15px 0; display: inline-block;z-index: 1041;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a {width: 100%; margin-bottom: 15px;color: #fff;}
.freeze-footer a.btn_make_appointment {background-color: #ed2869;border-color: #ed2869;}
.freeze-footer a.btn_call_now {background-color: #fec168;border-color: #fec168;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1041;width: 100%; }
.freeze-header.with-bg{ background-color: #ef577a; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

/*CSS service*/
.services-listall .info {
    color: #111;
}
.services-listall a {
    text-decoration: none;
}
.services-listall .thumb {
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}
.services-listall .thumb img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services-listall .info {
    padding: 15px;
}
.services-listall h3 {
    border-bottom: solid 4px rgba(168, 129, 76, .5);
    color: #a8814c;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.services-listall h3 strong {
    color: #000;
}
.services-listall p {}

/*Testimonials*/
.section-testimonials {
    position: relative;
    z-index: 0;
    padding: 50px 0;
    text-align: center;
}
.section-testimonials:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}
.section-testimonials:after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../../images/bg-parallax1.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.testimonials-list .item {
    padding-top: 80px;
}
.section-testimonials .testimonial-quote {
    color: #111;
    font-size: 220px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonials-list .name {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}
.testimonials-list .owl-pagination {
    position: initial;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
}

/* News, Table of content */
#toc_container {
    border-color: #a2a9b1;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #111;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #111;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #111 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #111
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #111;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.group-select, .group-select label {
    float: none;
}
.group-select {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: initial;
}
.form-horizontal .radio {
    padding-top: 0;
}
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #111;
    background: #111;
    color: #fff;
}

.works-grid.works-grid-1 .work-item {
    width: 100%;
}
.services-listall .item {
    padding-top: 15px;
}

@media (max-width: 1199px) {
    .main-nav .header-bottom {
        display: flex;
    }
    .main-nav .header-bottom .nav-logo-wrap {
        flex: 1;
    }
    .main-nav .header-bottom .mobile-nav {
        max-width: 100px;
        height: 100% !important;
    }
}