.col-lef{
    float: left;
}
.header-top-left br{
    display: none;
}
.social-img-icons img{
    max-width: 35px;
    margin-bottom: 5px;
}
.scroll_btn{
    position: fixed;
    top: 20px;
    z-index: 100;
}
.form-group{position: relative}
.add-services{
    cursor: pointer;
}
.removeButton{
    cursor: pointer;
    position: absolute;
    z-index: 10;
}
.removeButton + .row > .col-md-6:first-child label{
    margin-left: 30px;
}
.form-tooltip-error ul{
    margin: 0px;
    padding: 0px;
}
.img-info-staff a{
    display: block;
}
.img-info-staff a img{
    max-width: 100%;
}
.preview_img img{
    max-width:100%;
}
.wpcf7-form{
    width:100%;
}
.list_gallery_home .gallery-item {
    margin-bottom: 0px;
}
.item-booking label{
    display: block;
}
.group-select{
    position: relative;
    margin-bottom: 10px;
}
.group-select .fa-calendar{
    position: absolute;
    right: 30px;
    top: 50px;
}
.pd-fix{
    position: relative;
}
.image_hover{
    display: none;
    position: absolute;
    z-index: 10;
    width: 500px;
    height: auto;
    left: 110%;
    top: 0px;
}
.image_hover img{
    width: 100%;
}
ul#filter{
    text-align: center;
    margin: 20px 0px;
}

ul#filter li {
    display: inline-block;
}
ul#filter li a {
    padding: 10px;
    display: block;
    background: #ccc;
}

ul#filter li.active a {
    background: #6dab3c;
    color: #fff;
}
/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}

.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking .btn-primary { border-radius: 0; }
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}
.popup_main_area {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px 15px 15px;
}
.btn-book-search{
    width: 100%;
}
p.title_appointment {
    padding-top: 20px;
}
#send_booking .input-box {margin-bottom: 5px;}

.company_address br{display:  none}
#cms-show-mainnav ul li a .fa.fa-bars{
    font-size: 30px;
}
.in-container-service{
    margin-top: 10px;
}
.vt-time .col-2 {
    padding: 3px;
    position: relative;
    padding-left: 90px;

}
.vt-time .col-2 .col-lef{
    position: absolute;
    left: 0px;
    font-weight: 600;
}
section.p-giftcards {
    padding-top: 30px;
}
@media (min-width: 992px) {
    .pd-fix:hover .image_hover{
        display: block;
    }
}

.news-section {
    margin-top: 30px;
}

/* Open hour - Contact info */
.foh-wrap,
.fci-wrap {display: table;text-align: left;}
.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

/* Youtube iframe */
.youtube-player { position: relative; padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ width: 100%;max-width: 100%; height: 0;background: #000;margin: 0 auto;overflow: hidden;}
.youtube-player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background: transparent;}

.relative {
    position: relative;
}