.footer .info_contact .fa{
    margin-right: 10px;
}
.navbar-header{float: left;}
.navbar-menu >li:hover>ul.dropdown-menu{
    display: block;
}
.desktop-nav{float: right}

.btn-primary.btn_send_newsletter{
    margin-top: 0px;
}
.padding-tb-sm th, .padding-tb-sm td {
    padding: 2px;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
}
.art-postcontent h1 {
    color: #6C7F93;
    margin: 10px 0 0;
    font-size: 26px;
    font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.pagination_v1 ul li.active{
    
    background: #e75073;
    border: 1px solid #e75073;
    height: 40px;
    line-height: 37px;
    transition: all 0.3s ease 0s;
    width: 40px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;

}
.news-page-stl{
    margin-bottom: 20px;
}
.img-responsive{
    width: 100%;
    max-height: 100%;
}
form.form-group{
    position: relative;
}
.ctn-blog-news-inpage .read-more {
    width: 110px;
    height: 35px;
    color: #fff !important;
    line-height: 35px;
    text-align: left;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 0px;
    background: #D6225A;
}
.btn-search-news {
    background: #FFF;
    color: #CCC;
    border: 0px;
    margin-top: -29px;
    margin-right: 7px;
}
.list-cate-services ul{
    list-style-type: none;
    padding: 0px;
}
.list-cate-services ul li{
    width: 100%;
}
.list-cate-services ul li a {
    width: 100%;
    padding: 16px 20px;
    background: #fafafa;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    display: block;
}
.list-cate-services ul li:hover a {
    background: #D6225A;
    color: #fff;
}
.box-news-right .title-page h2 {
    font-size: 19px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 12px;
    color: #4473a7;
    text-transform: uppercase;
    margin-top: 0px;
}
.box-news-right .title-page h2 a {
    color: #0e0e0e;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    padding-bottom: 6px;
    border-bottom: 4px solid #D6225A;
    position: relative;
    z-index: 999;
}
.box-news-right .title-page h2 span.right-initial {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #171515;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    border-radius: 5px;
}
.img-news-hot {
    float: left;
    width: 35%;
    overflow: hidden;
    padding-right: 15px;
}
.item-news-hot {
    margin-bottom: 30px;
    width: 100%;
}
.blog-news-inpage-title {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 115px;
    padding-top: 10px;
}
.item-news-hot h2 {
    clear: inherit;
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 0px;
    line-height: 22px;
}
.ctn-blog-news-inpage .time-img-blog {
    position: absolute;
    left: 10px;
    top: -45px;
    background: #D6225A;
    width: 70px;
    height: 90px;
    font-family: 'CALI MT regular';
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 18px;
    line-height: 29px;
}
.ctn-blog-news-inpage .time-img-blog:before {
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0px;
    right: 0px;
    width: 80%;
    height: 2px;
    background: #000;
    margin: auto;
}
.ctn-blog-news-inpage .time-img-blog:after {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    right: 0px;
    width: 80%;
    height: 6px;
    margin: auto;
    border-bottom: 1px solid #000;
    border-top: 3px solid #000;
}
.blog-news-inpage-img img {
    width: 100%;
    max-height: 250px;
}
form .form-group{
    position: relative;
}

.services_tab_ul_v1 li.ui-corner-left a{
    width: 100%;
    display: block;
}
.form-tooltip-error{
    background: #d6225a;
}
.form-tooltip-error:before{
    border-color: #d6225a transparent transparent;
}
.cate-gallery {
    width: 100%;
    text-align: center;
    margin: 40px 0;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}
.cate-gallery ul{
    margin: 0px;
}
.cate-gallery ul#filter li {
     margin-bottom: 0px; 
}
.cate-gallery ul li {
    display: inline-block;
}
.cate-gallery ul li a {
    font-weight: 400;
    font-size: 16px;
    position: relative;
    padding: 23px 30px;
    display: inline-block;
}
.cate-gallery ul li.active a, .cate-gallery ul li:hover a {
    background: #d6225a;
    color: #fff;
}
    .box_list_gallery .img-item-gallery{
        text-align: center;
    }
.box_list_gallery .img-item-gallery img{
    max-height: 100%;
    width: auto;
}
.box_list_gallery .check-height{
    margin-bottom: 20px;
} 
.store-fronts_xs{
    margin-bottom: 20px;
}
.store-fronts_xs ul{
    list-style-type: none;
    
}
.store-fronts_xs ul li.name{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.store-fronts_xs ul li .fa{
    margin-right: 10px;
}

form .form-control-wrapper{
    position: relative;
}
.pagination>li>a{
    color: #e75073;
}
.pagination>.active>a{
    background-color: #e75073;
    border-color: #e75073;
}
.address_info li,.store-fronts li{
    padding-left: 35px;
    position: relative;
    padding-bottom: 5px;
}
.address_info li i.fa, .store-fronts li i.fa{
        position: absolute;
    top: 4px;
    left: 0px;
}
.contact_info li{
     position: relative;
     padding-left:80px;
     padding-bottom: 5px;
}
.contact_info li > span{
    position: absolute;
    left: 0px;
    top:0px;
    font-weight: bold;
}
.social-switch-icon-wrap ul li{
    float: left;
    margin-right: 5px;
}
.social-switch-icon-wrap ul li a img{
    max-width: 35px;
}
#my-slider .sp-buttons {
    position: absolute;
    bottom: 10px;
}
.section-wrap{
    padding-top: 10px;
}


/* Update t12d14y2017 */
/* Image bg */
.image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
}
.image-bg img {display: none !important;}

.slider-pro .sp-buttons {margin-top: -35px;}

.gallery-box-wrap {padding: 0 10px;}
.gallery-item, .gallery-item > span { height: auto; padding: 0; margin: 0;}
.gallery-box {
    position: relative;
    background-color: #fff;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    margin: 0 -15px 30px;
}
.gallery-box .gallery-title {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}
.gallery-item:hover .gallery-box, .gallery-item:focus .gallery-box {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.footer-info table{
    width: 100%;
}
.footer-social,.footer-newletter{
    text-align: center;
}
.footer-social .icon-footer>li{
    display: inline-block;
    max-width: 45px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.thumb_image_service{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: left;
    background-position-y: top;
    background-size: cover;
    border-radius: 50%;
}
.scroll_btn {
    position: fixed;
    z-index: 1001;
}
.video_about iframe{
    width: 100%;
    height: 300px;
}
.widget-social ul li img{
    max-width: 25px;
}
.list-inline>li {
     padding-right: 10px;
     padding-left: 0px;
}
.list-service .item .thumb .btn-inner, .list-service-2 .item .thumb .btn-inner {
    position: absolute;
    top: 39%;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.list-service .item .thumb .btn-inner a, .list-service-2 .item .thumb .btn-inner a {
    width: 120px;
    height: 46px;
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    background-size: 200% auto;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    line-height: 46px;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s all;
    -webkit-transition: 0.7s all;
}
.list-service .item .thumb:hover > .btn-inner a, .list-service-2 .item .thumb:hover > .btn-inner a{
    opacity: 1;
    visibility: visible;
}
.list-service .item:hover > .thumb:before, .list-service-2 .item:hover > .thumb:before {
    border: 10px solid rgb(245, 185, 249);
}
.section-welcome .list-service-2 .item h3 { height: 72px; overflow-x: auto }
.section-welcome .list-service-2 .thumb {max-width: 100%;}
.title_page_service{
    text-align: left;
}
.section > .container >.in-container{
    margin: 0px;
}
.header,.menu_mobile_v1 {
    position: inherit !important;
}
@media (max-width: 768px){
    .blog-news-inpage-title {
        padding-left: 0px;
    }
    .time-img-blog{
        display: none;
    }
    .footer .info_contact
    {
        text-align: left;
    }
    .content-shop-booking {
        padding: 10px 0px;
    }
    .group-select {
        width: 100%;
        margin-right: 0px;
    }
    .btn-search{
        width: 100%;
        margin-left: 0px;
    }
    .gallery-box-wrap .col-xs-6{
        padding: 0 7px;
    }
    .gallery-box {
        margin: 0 -15px 14px;
    }
    .to p-right .btn_service_book{
        text-align: center;
    }
    .top-right .btn_service_book a.btn-default{
        padding: 9px 14px;
        font-size: 13px;

    }
    .scroll_btn {
        top: 68px;
    }
    .title_page_service{
        text-align: center;
    }
}
/* Oppenhours - Contact info */
.foh-wrap, .fci-wrap {display: table;text-align: left;}
.foh-row, p.foh-row, span.foh-row, div.foh-row, .fci-row, p.fci-row, span.fci-row, div.fci-row {display: table-row;}
.foh-row .foh-date, p.foh-row .foh-date, span.foh-row .foh-date, div.foh-row .foh-date, .foh-row .foh-time, p.foh-row .foh-time, span.foh-row .foh-time, div.foh-row .foh-time, .fci-row .fci-title, p.fci-row .fci-title, span.fci-row .fci-title, div.fci-row .fci-title, .fci-row .fci-content, p.fci-row .fci-content, span.fci-row .fci-content, div.fci-row .fci-content {display: table-cell;padding: 0;padding-bottom: 10px;vertical-align: top;}
.foh-row .foh-date, p.foh-row .foh-date, span.foh-row .foh-date, div.foh-row .foh-date, .fci-row .fci-title, p.fci-row .fci-title, span.fci-row .fci-title, div.fci-row .fci-title {padding-right: 10px;font-weight: bold;}

/*CSS LOGO*/
.mean-container .mean-bar {height: 100px;}
.mean-container .mean-nav {margin-top: 100px;}
.mean-container a.meanmenu-reveal {
    top: 50%;
    margin-top: -14px;
}
.mobile_logo {
    max-width: calc(100% - 110px);
    height: 100px;
    line-height: 100px;
}
.mobile_logo img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100px;
}
@media (min-width: 576px){}
@media (min-width: 768px){
    .mean-container .mean-bar {height: 110px;}
    .mean-container .mean-nav {margin-top: 110px;}
    .mobile_logo {height: 110px;line-height: 110px;}
    .mobile_logo img {max-height: 110px;}
}
@media (min-width: 992px){
    .logo {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 120px;
        line-height: 120px;
    }
    .logo img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 120px;
    }
    .navbar.main-nav {
        width: 100%;
        text-align: center;
    }
}
@media (min-width: 1200px){
    .logo {
        width: initial;
        text-align: left;
        height: 130px;
        line-height: 130px;
        max-width: 360px;
        max-height: initial;
    }
    .logo img { max-height: 130px;}
    .navbar.main-nav {
        width: initial;
        text-align: right;
    }
    .navbar-nav > li > a {padding: 0px 15px;}
}

/*freeze footer*/
.freeze-footer { position: fixed; right: 15px; bottom: 60px; padding: 0; display: inline-block;z-index: 1021;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a { width: 100%; margin-bottom: 15px; color: #fff; padding: 10px 10px; line-height: 1; font-size: 17px; height: auto;}
.freeze-footer a.btn_make_appointment {background-color: #a8814c;border-color: #a8814c;}
.freeze-footer a.btn_call_now {background-color: #a8814c;border-color: #a8814c;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021;width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

.btn_service_book.scroll-fixed {
    top: 145px;
}
@media ( max-width: 992px ){
    .btn_service_book.scroll-fixed {
        top: 130px;
    }
}
.services-list .thumb {
    max-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    z-index: 1;
}
.services-list .thumb::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    border: none;
}
.services-list .thumb:hover::before {
    -webkit-animation: shine 1.2s;
    animation: shine 1.2s;
}
.services-list .thumb img {
    border-radius: 0;
}
.services-list .info {
    margin: 0 0 30px;
    padding: 15px;
}
.services-list .info h3 {
    margin: 0 0 5px;
    line-height: 1.3;
    font-size: 25px;
}
.services-list .info p {
    margin: 0 0 15px;
    line-height: 1.3;
    color: #7a7992;
}
.btn-link, .btn-link:hover {
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    background-size: 200% auto;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 11px 36px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-block;
    text-decoration: initial;
}
.break-row {
    float: left;
}

@media (min-width: 768px) and (max-width: 991px) {
    .services-list .break-row.break-row-3,
    .services-list .break-row.break-row-5,
    .services-list .break-row.break-row-7,
    .services-list .break-row.break-row-9,
    .services-list .break-row.break-row-11,
    .services-list .break-row.break-row-13,
    .services-list .break-row.break-row-15 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .services-list .break-row.break-row-4,
    .services-list .break-row.break-row-7,
    .services-list .break-row.break-row-10,
    .services-list .break-row.break-row-13,
    .services-list .break-row.break-row-15 {
        width: 100%;
    }
}

.detail-price-number .old {
    text-decoration: line-through;
    font-size: 15px;
}

/* Fix theme */
.consent-form .group-select, .consent-form .group-select label {
    float: none;
    width: 100%;
}
.form-horizontal .checkbox, .form-horizontal .radio {
    padding-top: 0;
}

.send_consent .btn_consent {
    background-image: linear-gradient(to right,#aaaaff 0%,#fcbaf8 51%,#aaaaff 100%);
    color: #fff;
}

/*news module*/
.section-news .n-meta {
    border-color: #aaaaff;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #aaaaff;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #aaaaff none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #aaaaff;
    border-color: #aaaaff;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #aaaaff;
    border-color: #aaaaff;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #aaaaff
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #aaaaff;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

.white-popup {
    overflow: initial;
}