/*Back To Top*/
.back-to-top {
    display: none;
}

/*Fonts*/
body {
    font-family: "Raleway", sans-serif;
}

/* Paging */
.pagination > li > a.hover-main-color,
.pagination > li > span.hover-main-color {
    color: #000;
    margin-left: 1px;
}

.pagination > li.active > a.hover-main-color,
.pagination > li.active > span.hover-main-color,
.pagination > li > a:hover.hover-main-color,
.pagination > li > span:hover.hover-main-color {
    background-color: #fc427f;
    color: #fff;
    border: 1px solid #ccc;
}

.pagination > li > a, .pagination > li > span {
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Menu Main */
.navbar-default, .navbar-default .navbar-collapse {
    position: static;
}

.navbar-brand {
    height: auto;
    padding: 0;
    margin: 0;
}

.header-nav-desktop {
    text-align: right;
}

.header-nav-desktop ul.nav.navbar-nav {
    margin-left: auto;
}

.navbar-default .navbar-nav > li.dropdown > a:after {
    content: "";
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    border: none;
}

.navbar-default .navbar-nav > li.active li a:visited {
    color: #111;
    background-color: #fff;
}

.navbar-default .navbar-nav > li.active li a:visited:hover {
    color: #fc427f;
}

@media (max-width: 1650px) {
    .navbar .navbar-container {
        min-width: 100%;
    }
}

/* Menu Mobile */
.menu_mobile_v1 {
    min-height: 100px;
}
.menu_mobile_v1, .mean-container .mean-nav {
    background-color: #fff;
}
.mean-container a.meanmenu-reveal {
    border-color: #171717;
}
.mean-container a.meanmenu-reveal>span, .mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background-color: #171717;
}
.mean-container .mean-nav {
    margin-top: 110px;
}
.mean-container .mean-nav ul li a, .mobile-menu-scroll ul li a {
    color: #171717;
}
.mean-container .mean-nav ul li a:hover, .mean-container .mean-nav ul li.active a {
    background: #fc427f;
}
.mobile_logo_container {
    text-align: center;
}

.mobile_logo img {
    max-height: 90px;
}

.mobile-menu-scroll ul li a:hover, .mobile-menu-scroll ul li a:focus {
    color: #fc427f;
}

.mobile-menu-scroll ul li.active a {
    color: #f5f5f5;
    background-color: #fc427f;
}


/* Menu Footer */
.logo-footer img {
    max-height: 110px;
}

/* Social */
ul.social, ul.social li {
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.social li {
    display: inline-block;
    padding: 5px;
}

/* Footer */
.section-footer {
    position: relative;
    z-index: 1;

    background-image: url(/public/library/global/nail-images/bg-nail-4.jpg);
    background-size: cover;
    background-position: center;
}

.section-footer:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 66, 127, 0.9);
}
.copyright-footer {
    text-align: center;
}
@media (min-width: 768px) {
    .section-footer {
        background-attachment: fixed;
    }
}

/* Footer Contact */
.footer-content {
    padding-top: 15px;
    text-align: left;
}

.footer-contact a, .footer-contact a:hover, .footer-content a, .footer-content a:hover {
    color: #fff;
}

@media (min-width: 992px) {
    .footer-contact .address br {
        display: none;
    }
}

/* Freeze Header */
.freeze-header.with-bg {
    background-color: #fff;
}

.freeze-header .mean-container .mean-nav {
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}

/* Freeze Footer & Scroll Top */
.freeze-footer .btn {
    padding: 10px;
    line-height: 1;
    font-size: 30px;
    min-width: 60px;
    border-radius: 3px;
}

.freeze-footer .btn, .freeze-footer .btn .fa {
    color: #fff;
}

.back-to-top {
    position: fixed;
    z-index: 1021;
    bottom: 15px;
    right: 15px;
    height: 45px;
    min-width: 60px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: #fc427f;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 767px) {
    .back-to-top {
        bottom: 75px;
    }

    .freeze-footer {
        background-color: #fc427f;
        padding: 15px 0 0;
    }

    .freeze-footer .btn {
        font-size: 17px;
    }

    .copyright-footer {
        padding-bottom: 120px;
    }
}

/* Home About */
.section-about-home{
    position: relative;
    background: none;
}
.section-about-home-bg{
    position: relative;
    background-image: url(/public/library/global/nail-images/bg-nail-5.jpg);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}
.section-about-home-bg2{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/library/global/nail-images/bg-about.jpg);
}
.section-about-home-bg, .section-about-home-bg2 {
    background-position: left top;
    background-size: cover;
}
.about-singer-content {
    padding: 45px 0;
}
@media (min-width: 768px) {
    .section-about-home-bg, .section-about-home-bg2{
        position: absolute;
        z-index: -1;
        width: 50%;
        height: 100%;
        padding-bottom: 0;
    }
    .section-about-home-bg2{
        left: auto;
        right: 0;
     }
}

/* Home Location */
.section-location a {
    color: #fff;
}

/* Home Service */
.artists .col-lg-4, .artists .col-lg-4:nth-child(n) {
    margin-top: 0;
}
.service-items .service-item {
    margin-bottom: 30px;
    max-width: 100%;
}

.service-i-img, .service-i-name, .service-i-description {
    margin-bottom: 7px;
}
.service-i-container {
    background-color: #fff;
    position: relative;
    z-index: 3;
}
.service-i-img img {
    width: 100%;
    border: 3px solid #e7e7e7;
}
.artist .artist-avatar:before, .artist .artist-avatar:after {
    width: 100%;
    height: 100%;
}
.artist:hover .artist-avatar:before {
    left: -20%;
}
.artist:hover .artist-avatar:after {
    right: -20%;
}
.service-i-name {
    font-size: 17px;
}

.service-item .service-i-description {
    color: #111;
    text-transform: initial;
}
@media (min-width: 576px) {
    .service-i-container {
        margin: 0 30px;
    }
}

/* Home Gallery */
.grid-items .grid-item, .grid-items .grid-item img {
    width: 100%;
}
@media (min-width: 576px) {
    .grid-items .grid-item {
        width: 50%;
    }
}
@media (min-width: 768px) {
    .grid-items .grid-item {
        width: 33.333%;
    }
}
@media (min-width: 1200px) {
    .grid-items .grid-item {
        width: 25%;
    }
}

/* Home Testimonial */
.section-testimonial {
    position: relative;
    z-index: 1;
    padding: 30px 0;
    background-image: url(/public/library/global/nail-images/bg-nail.jpg);
    background-size: cover;
    background-position: right center;
}
.section-testimonial:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.single-testimonial-item {
    padding: 60px 45px;
    background-color: #fff;
    text-align: center;
}
.single-testimonial-item .testimonial-content {
    padding: 15px;
}
.single-testimonial-item .testimonial-img {
    width: 240px;
    min-width: 240px;
    margin: auto
}
.section-testimonial .owl-carousel .owl-nav button.owl-next,
.section-testimonial .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    margin-top: -20px;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}
.section-testimonial .owl-nav .owl-prev {
    left: 0;
}
.section-testimonial .owl-nav .owl-next {
    right: 0;
}
@media (min-width: 576px) {
    .single-testimonial-item {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .section-testimonial {
        background-attachment: fixed;
    }
}

/* Breadcrumb */
.page-header {
    position: relative;
    z-index: 1;

    background-image: url(/public/library/global/nail-images/bg-banner.jpg);
    padding: 45px 0;
}
.page-header:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 66, 127, 0.7);
}
@media (min-width: 768px) {
    .page-header {
        background-attachment: fixed;
    }
}

/* Container */
.section-header .section-subtext {
    text-transform: none;
    font-weight: bold;
    font-size: 16px;
}
.section-padding {
    padding: 45px 0;
}

/* Gallery, Coupon, Gift-Cards */
.m-category-tab li {
    background-color: #fff;
    color: #000;
}

.m-category-tab li.active, .m-category-tab li:hover {
    background-color: #000;
    color: #fff;
}

.m-gallery-box {
    background-color: #fff;
}

.m-image-title, .m-gallery-box .m-image-title {
    color: #FFF;
    font-weight: 500;
    background-color: rgba(252, 66, 127, 0.7);
}
.m-coupon-price {
    background-color: rgba(207, 0, 15, 0.9);
    color: #fff;
}

/* Service */
.service-name {
    font-size: 30px;
}
.service-image.circle, .service-image.square {
    border-color: #fc427f
}

.service-name {
    color: #fc427f;
}

.detail-price-dots {
    border-color: #e7e7e7;
}

.detail-desc-item, .service-desc {
    font-style: italic;
}

/* Booking */
input:not([type=radio]):not([type=checkbox]), textarea, .form-control {
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.form-booking .btn-search, .form-booking .btn-search:hover, .form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-confirm:hover, .form-booking-confirm .btn-confirm:focus {
    background-color: #fc427f;
    color: #fff;
}

/* Date time picker */
.bootstrap-datetimepicker-widget {
    font-size: 15px;
}

/* Contact */
.fluid-container {
    display: flex;
    flex-wrap: wrap;
}
.fluid-container .fluid-col-1 {
    width: 100%;
}
.fluid-container .contact-info-item {
    background-image: none;
    background-color: #fc427f;
}
.contact-info-item:before, .contact-info-item:nth-child(3):before,
.contact-info-item:nth-child(2):before, .contact-info-item:nth-child(1):before{
    background-color: transparent;
}
.fluid-container .contact-info-item:nth-child(2) {
    background-color: #111;
}
.contact-info-item a, .contact-info-item a:hover, .contact-info-item a:focus {
    color: #fff;
}
.contact-info-item, .contact-info-item a {
    font-size: 20px;
}
.group-select {
    margin-bottom: 15px;
}
.form-control {
    min-height: 45px;
}
@media (min-width: 768px) {
    .fluid-container .fluid-col-1 {
        width: 33.333%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .contact-info-item, .contact-info-item a {
        font-size: 17px;
    }
}

/* News, Table of content */
#toc_container {
    border-color: #a2a9b1;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #ef2b53;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #ef2b53;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #ef2b53 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #ef2b53;
    border-color: #ef2b53;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #ef2b53;
    border-color: #ef2b53;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #ef2b53
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #ef2b53;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #fc427f;
    background: #fc427f;
    color: #fff;
}