/*By Demo*/
.mobile-menu-scroll {
    min-height: 50px;
}

.mobile-menu-scroll ul li a {
    display: inline-block;
}

@media (max-width: 767px) {
    .freeze-footer {
        padding: 0;
    }

    .freeze-footer a {
        margin: 0;
    }
}

.service-i-description.artist-role {
    display: none;
}

.navbar-brand img {
    width: 270px !important;
}

.about-singer-content .about-singer-role {
    text-transform: none;
}

ul.social li img {
    width: 50px;
}

.service-i-img img {
    border-radius: 50px;
}

.about-singer-content {
    padding: 110px 0 70px 70px;
}

.about-singer-content .about-singer-role:before {
    width: 30px;
}

.about-singer-content .about-singer-role {
    padding-left: 50px;
}

.section-padding {
    padding: 70px 0;
}

.section-header {
    margin-bottom: 30px;
}

ul.social li img {
    width: 36px;
}

.copyright-footer p {
    text-align: left;
    padding-top: 10px;
}

ul.social, ul.social li {
    text-align: right;
}

.section-about-home-bg {
    background-image: url(../../images/bg/bg-about.jpg);
}

.latest-album-section {
    background-image: url(../../images/bg/bg-location.jpg);
}

.latest-album-section .section-header {
    margin-top: 70px;
}