.nav-social a.social-img-icons img {
    max-width: 30px;
    margin-bottom: 10px;
}
.removeButton {
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.item-booking .removeButton + .row > .col-md-6:first-child label{
    padding-left: 30px;
}
.circle-service-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#send_contact .form-group{
    position: relative;
}

.form-tooltip-error ul{
    margin: 0px;
    padding: 0px;
}
.form-tooltip-error ul li{
    margin: 0px;
}
.block_cart  .form-control{
    height: 40px;
}
.total-payment-info li{
    margin-bottom: 20px;
    line-height: 30px;
}
.block_line{
    display: flex;
}
.btn-book-search{
    height: 47px;
}
.total-payment-info .btn {
    height: 40px;
    line-height: 40px;
}
.box_map{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.flex {
    display: flex;
    align-items: center;
}
ul#filter {
    background: #ccc;
    margin-bottom: 20px;
    text-align: center;
}
ul#filter li{
    display: inline-block;
}
ul#filter li a{
    padding: 10px;
    display: block;
    cursor: pointer;
}
.List_service_child {
    padding-left: 20px;
}
.service_home .item .thumb:after{
    display: none;
}
.service_home .item{
    position: relative;
}
.service_home .item  .sv-info{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 9;
    background-color: rgba(0,0,0,.50);
    visibility: visible;
    transition: opacity .4s;

}
h3.sv-name {
    padding-bottom: 20px;
    text-align: center;
}
h3.sv-name a {
    color: #fff;
}
.sv-description {
    color: #fff;
    width: 100%;
    text-align: center;
}
.service_home .item  .sv-info .sv-conten{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: 20px;
    width: 100%;
}
.service_home .item{
    position: relative;
}
.service_home .item:hover .sv-info {
    opacity: 1;
}

.service_home .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,0);
    margin-top: 0px;
}
.service_home .owl-nav .owl-next,.service_home .owl-nav .owl-prev {
    right: 0px;
    position: absolute;
    border: 0px;

}
.service_home .owl-nav .owl-next {
    right: 0px;
}
.service_home .owl-nav .owl-prev {
    left: 0px;
}
.service_home .owl-nav .owl-prev:before, .service_home .owl-nav .owl-next:before{
    font-size: 40px;
    font-weight: 600;
}
.footer-main .vt-time .col-2 {
    display: flex;
    padding: 3px;
}
.footer-main .vt-time .col-2 .col-lef {
    min-width: 100px;
    font-weight: 600;
}
.about-content img.img_about {
    float: left;
    padding-right: 20px;
    max-width: 50%;
    padding-bottom: 20px;
}

ul.btn_book_home {
    position: fixed;
    right: 0px;
    bottom: 100px;
    z-index: 99;
    text-align: left;
}
ul.btn_book_home li{
    margin-bottom: 15px;
}
ul.btn_book_home li a{
  display: block;
}
ul.btn_book_home li a.btn-call{
    text-align: left;
    padding-left: 35px;
}


.btn_book_home i.fa.fa-phone {
    position: absolute;
    left: 10px;
    font-size: 20px;
    bottom: 30px;
}
.section-padding{
    padding: 50px;
}

ul.footer_infomaytion li {
    position: relative;
    line-height: 25px;
    padding-left: 60px;
}
.footer_infomaytion li spam {
    position: absolute;
    left: 0px;
    font-weight: 600;
}
.footer_infomaytion li a{color: #fff;}
.section-service h2{
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
}
@media (max-width: 768px){
    .about-content img.img_about {
        float: none;
        padding-right: 0px;
        max-width: 100%;
        text-align: center;
    }
    .flex {
        display: block;
    }
    .mean-container a.meanmenu-reveal {
        z-index: 999;
    }
}
@media (max-width: 480px){
    .service_home .item  .sv-info {
        opacity: 1;
        position: relative;
        background-color: #fff;
    }
    .service_home .item .sv-info .sv-conten {
        position: relative;
        transform: translate(0,0);
    }
    h3.sv-name a {
        color: #000;
    }
    .sv-description {
        color: #4c4848;
    }

}

.signature {
    float: left;
    width: 100%;
}

/*news module*/
.section-news .n-meta {
    border-color: #f864a6;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #f864a6;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #f864a6 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #f864a6;
    border-color: #f864a6;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #f864a6;
    border-color: #f864a6;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #f864a6
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #f864a6;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}
.white-popup {
    overflow: initial;
}
.section-gallery {
    padding-bottom: 15px;
}

.m-gallery-box-wrap {
    padding: 0 10px;
    margin: 0 0 15px 0;
    overflow: initial;
}

.m-gallery-box {
    position: relative;
    margin: 0 -10px 10px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.m-image-bg, .m-gallery-box .m-image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.m-image-bg img, .m-gallery-box .m-image-bg img {
    display: none !important;
}

.m-image-title, .m-gallery-box .m-image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.m-gallery-box:hover, .m-gallery-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}