
@media (min-width: 1440px){
	.container {
	    width: 1100px;
	}
}

@media only screen and (max-width: 1460px) and (min-width: 1000px){
	.container {
	    width: 950px;
	}
}
@media only screen and (max-width: 1260px) and (min-width: 1000px){
	.container {
	    width: 768px;
	}
}

@media only screen and (max-width: 1060px) and (min-width: 991px){
	.container {
	   width: 600px;
	}
}

@media (min-width: 992px){

	.col-md-right 	{ width: 30%;}
	.col-md-left 	{ width: 70%;}
	.col-md-right.col-md-pull-8 { right:70%; }
	.col-md-left.col-md-push-4 { left:30%; }
}

@media (min-width: 990px){
	.youtube-player {
	    padding-bottom: 75.25%;
	}

} 

@media (max-width: 1200px){
	.section-slider { margin-top: 0; }
	.art-sheet {border-width: 9px; }
	.navbar.main-nav{border-width: 8px; }

	.sp-buttons{
	    left: 35px;
	}
	.sp-buttons:before,
	.sp-buttons:after { display: none; }

}

@media (max-width: 990px){
	.pmain {padding-left: 0;}
	.nav-left { display: none; }


	.art-sheet {border-width: 7px; padding: 20px; }
	.art-main { padding-top: 0; }
	.art-sidebar { padding-top: 30px; }
	.header { padding:0;  }

	.section-service .item { margin-top: 120px; }
	.section-service .service-content { height: auto; min-height:100px; }
	.section-service-title {margin-bottom: 0;}
	.page-title { text-align: center; }

	.section-sale .row { display: block; }
	.sale-col { padding: 50px 15px; }

	.footer-main,
	.footer-social { text-align: left; }
	.menu-footer { padding: 10px 0; margin-bottom: 10px; }
	.footer-copyright { text-align: center; }

	.home-content,
	.footer { padding-left: 0; }


}

@media (max-width: 768px){
	.logo img { height: 100px; }
	.mTitle { font-size: 24px; }
	
	.section-welcome .section-title h2 { font-size: 2.5em; padding: 70px 0; }
	.section-service .item { margin-bottom: 50px; }
	.section-service .item-middle { margin-bottom: 50px; }
	.pmain { padding-bottom: 0; margin-top: 80px;}
	.footer {background-size: cover;}
	.section-service .item h3 { font-size: 24px; }
	.ch-page { display: none; }
	.page-headline h2 { margin: 15px 0; }

	.about-gallrey img { margin-bottom: 15px; }
	
	.section-home h2 { font-size: 5.5em; }
	.home-content p { font-size: 1.8em; }


}
@media (max-width: 767px){
	.sp-btn { display: none; }
	.section-slider { margin-bottom: 20px; }
	.title-center h2:before { display: none; }
	.title-center { margin-bottom: 30px; }
	.products-list .item h2 { letter-spacing: 0; }

	.section-home h2 { font-size: 4.5em; margin-bottom: 0px; }
	.home-content p { font-size: 1.3em; line-height: 1.5em; padding:0 10%; }
	.gallery-inner,
	.call-to { display: block; text-align: center; }
	.call-to h3 { margin-bottom: 20px; }
	.gallery-inner .item { width: 100%; }
	.footer-main { padding: 50px 0; }
	.footer-col { margin-top: 30px; }
	.section-client p { font-size: 16px; }
	.in-content { padding: 0px; }

	.page-heading h2 { font-size: 2.5em; }

	.top-right a { margin-bottom: 10px; }
	.book_appoin_btn .btn { margin-bottom: 10px; }
}

@media (max-width: 480px){
	.art-sheet {border-width: 3px; padding: 10px 20px; }
	.header-main {display: none;}
	.art-sidebar { padding-top:10px; }


}

@media (max-width: 380px){
}

@media (min-width: 768px){

	
	.cart-product-description{max-width: 130px;}	
	.table-row{border-bottom: none;}
	.total_change{text-align: left;}
	.thead {display: table-header-group;}
	.quantity-label{display: block;}
	.cart-product-image-cell{padding-bottom: 15px;}
	.total-change-cell>p.total_change:before{display: none;}
	.total-amount-label{display: block;}
	.total-amount-cell{padding:15px;}
	.quantity-label{color: rgba(0,0,0,0)}
	.table-row{
		display: table-row;
		border:inherit;
		vertical-align: inherit;
	}
	.table-head{
		display: table-cell;
		padding: 15px;
		border:inherit;
		vertical-align: inherit;
	}
	.table-data{
		display: table-cell;
		padding-top: 15px;
		border:inherit;
		vertical-align: inherit;
	}	
	.table-cart .tbody .table-data,.table-cart .tbody .table-data.quantity-cell,
	.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
		border-bottom:1px solid #d8d8d8;
		vertical-align: top;
		display: table-cell;
	}
	.table-cart .tbody .table-data.total-change-cell{vertical-align: bottom;}
	.quantity-cell,.price-cell{display: table-cell;}
	.total-amount{text-align: left;padding-top: 0;}
	.total-amount:before{display: none;}


}
