.location-wrapper h2{
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    color: #393939;
    text-transform:uppercase;
}
.location-wrapper h3{
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    color: #393939;
}
.location_contact{
    font-size: 16px;
    font-family: inherit;
    font-weight: 300;
    color: #393939;
    line-height: 20px;
}
.location_contact td {
    padding-left: 0;
}
.location_contact li span {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bold;
}
.location_contact.opening_hour li {
    padding-left: 110px;
}
.location_contact li {
    position: relative;
    padding-left: 75px;
    padding-bottom: 5px;
    clear: both;
}
.location_contact li a {
    color: #fdb1aa;
}
.location_contact_box {
    background-color: #ffffff;
    border:1px solid #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}
.location_contact_box h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 1;
}
@media (min-width: 768px){}
@media (min-width: 992px){}