/* global */
img {
    max-width: 100%;
}

.relative {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.relative.w100 {
    min-width: 100%;
}

.form-tooltip-error ul, .form-tooltip-error ul li {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.maxlength-error {
    color: #f00;
}

.relative .fa-calendar {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}

/* Waiting Dialog */
.modal-dialog .modal-content {
    background-color: #fff;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;

    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

/* Menu Button Mobile */
.mean-container .mean-bar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mean-container a.meanmenu-reveal {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: -25px 5px 0 0;
    display: inline-flex;
    align-items: center;
    border: 1px solid;
    border-radius: 3px;
}

.mean-container a.meanmenu-reveal > span,
.mean-container a.meanmenu-reveal > span:before,
.mean-container a.meanmenu-reveal > span:after {
    position: relative;
    width: 40px;
    margin: auto;
    height: 4px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    z-index: 1;
    border-radius: 1px;
}

.mean-container a.meanmenu-reveal > span:before, .mean-container a.meanmenu-reveal > span:after {
    position: absolute;
    z-index: 2;
}

.mean-container a.meanmenu-reveal > span:before {
    top: -9px;
}

.mean-container a.meanmenu-reveal > span:after {
    bottom: -9px;
}

.mean-container a.meanmenu-reveal.meanclose > span:before {
    top: 0;
    transform: rotate(45deg);
}

.mean-container a.meanmenu-reveal.meanclose > span:after {
    top: -8px;
    transform: rotate(-45deg);
}

/* Menu Mobile Scroll */
.mobile-menu-scroll {
    overflow: scroll hidden;
}

.mobile-menu-scroll ul {
    display: flex;
}

.mobile-menu-scroll ul, .mobile-menu-scroll ul li {
    margin: auto;
    padding: 0;
    list-style: none;
}

.mobile-menu-scroll ul li a {
    display: block;
    padding: 15px;
    line-height: 1;
    color: #171717;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: bold;
}

.mobile-menu-scroll ul li a:hover, .mobile-menu-scroll ul li a:focus {
    color: #171717;
}

.mobile-menu-scroll ul li.active a {
    color: #f5f5f5;
    background-color: #171717;
}

/* Social */
ul.social, ul.social li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.social li {
    padding: 5px;
}

/* Slider Pro */
.section-slider {
    border: none;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

.sp-slide-content {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.sp-buttons {
    margin-top: -60px;
    padding-bottom: 29px;
}

.sp-button {
    border: 2px solid #fff;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 2px #000;
}

.slider-width-height .fixed {
    height: 0; /* Auto height */
}

/*freeze footer*/
.freeze-footer {
    position: fixed;
    right: 15px;
    bottom: 60px;
    padding: 0;
    display: inline-block;
    z-index: 1021;
}

.freeze-footer ul {
    margin: 0;
    padding: 0;
}

.freeze-footer ul li {
    list-style-type: none;
}

.freeze-footer .icon {
    display: inline-flex;
}

.freeze-footer a {
    width: 100%;
    margin-bottom: 15px;
}

@media ( max-width: 767px ) {
    .freeze-footer {
        left: 0;
        top: auto;
        right: 0;
        bottom: 0;
    }

    .freeze-footer ul {
        display: flex;
    }

    .freeze-footer ul li {
        width: 50%;
        padding: 0 15px;
        margin-left: auto;
        display: block;
    }
}

/*freeze header*/
.freeze-header {
    position: fixed;
    z-index: 1021;
    left: 0;
    top: 0;
    width: 100%;
}

.freeze-header.with-bg {
    -webkit-box-shadow: 0px 1px 1px #eee;
    -moz-box-shadow: 0px 1px 1px #eee;
    box-shadow: 0px 1px 1px #eee;

    width: 100%;
}

/* Open hour - Contact info */
.foh-wrap,
.fci-wrap {
    display: inline-table;
    text-align: left;
}

.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}

.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

/* Youtube iframe */
.youtube-player {
    position: relative;
    padding-bottom: 56.25%; /* Use 75% for 4:3 videos */
    width: 100%;
    max-width: 100%;
    height: 0;
    background: #000;
    margin: 0 auto;
    overflow: hidden;
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
}

/*Service*/
.service-line {
    padding-bottom: 15px;
}

.service-image-wrap {
    text-align: center;
}

.service-image {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    max-width: 240px;
}

.service-image.circle {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid;
}

.service-image.square {
    border: 3px solid;
}

.service-image-bg {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.service-image-bg img {
    display: none !important;
}

.service-name {
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    padding: 0 0 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.service-desc {
    font-weight: normal;
    margin: -15px 0 15px;
}

.detail-price-item {
    display: flex;
    width: 100%;
    padding: 0 0 15px;
}

.detail-desc-item {
    margin: -15px 0 15px;
}

.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted;
}

.detail-price-number {
    padding-left: 5px;
    font-weight: bold;
}

.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
    font-weight: bold;
}

.detail-price-number span {
    padding: 3px;
}

.detail-price-number .old {
    text-decoration: line-through;
    font-size: 90%;
}

.service-name, .service-desc, .detail-price-item, .detail-desc-item, .detail-price-dots,
.detail-price-number, .detail-price-name, .detail-price-number span, .detail-price-number .old {
    min-height: 1px;
}

.service-list-sub {
    padding-left: 15px;
}

.service-btn-group {
    padding-top: 15px;
    padding-bottom: 15px;
}

.service-btn-group .btn {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .right.service-image-wrap {
        text-align: right;
    }

    .left.service-image-wrap {
        text-align: left;
    }

    .service-image.circle {
        max-width: 320px;
    }

    .service-image.square {
        max-width: 100%;
    }
}

/* Gallery */
.m-category-tab {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 0 15px;
}

.m-gallery-content {
    position: relative;
}
.m-category-tab li, .m-category-tab li.active, .m-category-tab li:hover {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.m-gallery-content, .m-gallery-listing, .m-gallery-paging {
    text-align: center;
}

@media ( max-width: 475px ) {
    .m-category-tab li {
        width: 100%;
    }
}

.m-gallery-box-wrap {
    padding: 0 10px;
    margin: 0 0 15px 0;
    overflow: initial;
}

.m-gallery-box {
    position: relative;
    margin: 0 -10px 10px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.m-image-bg, .m-gallery-box .m-image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.m-image-bg img, .m-gallery-box .m-image-bg img {
    display: none !important;
}

.m-image-title, .m-gallery-box .m-image-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.m-gallery-box:hover, .m-gallery-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/* Coupon */
.m-coupon-box {
    position: relative;
    z-index: 0;

    margin: 0;
    margin-bottom: 30px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.m-giftcards {
    margin-bottom: 30px;
}

.m-giftcards .m-coupon-box {
    margin-bottom: 15px;
}

.m-coupon-info {
    text-align: center;
}

.m-coupon-box:hover, .m-coupon-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.m-coupon-price {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
}

/*Old Booking*/
.item-booking {
    width: auto;
}
.addButton, .removeButton {
    display: inline-block;
}
.email-booking .multi select {
    height: 256px;
}

.email-booking .group-select optgroup {
    font-weight: bold;
}

.email-booking .group-select optgroup, .email-booking .group-select option {
    height: auto;
    white-space: normal;
}

.sms-booking #btn_search_booking .btn-search {
    width: 100%;
    height: 54px;
    line-height: 1;
}

.sms-booking .item-booking.is-more {
    position: relative;
    z-index: 0;
}

.sms-booking .item-booking .remove-services {
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1;
    cursor: pointer;
}

.sms-booking .item-booking.is-more .booking-service label {
    padding-left: 30px;
}

#booking_info {
    padding-top: 30px;
}

#booking_info .note-time {
    color: #f00;
    font-style: italic;
}

.box_account_v1 {
    padding: 15px;
}

.smsBookingConfirm .btn {
    margin-bottom: 15px;
}

.time_work_staff_v1 ul {
    padding: 0;
}

.time_work_staff_v1 ul li {
    list-style-type: none;
}

.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.time_work_staff_v1 ul li > a {
    padding: 10px;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
}

.time_work_staff_v1 ul li > span {
    text-decoration: line-through;
}

/*.btn.focus, .btn:focus, .btn:hover {
    color: inherit;
}*/

@media ( max-width: 575px ) {
    .email-booking .multi select {
        max-height: 54px;
    }
}

/* Booking */
.form-input-group {
    position: relative;
}
.form-input-group .form-text {
    padding-right: 45px;
}
.form-input-group .form-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 15px;
    margin-top: -9px;
}
.form-booking .group-select, .form-booking-confirm .group-select,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel{
    margin-bottom: 15px;
}
.form-booking .btn-search, .form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel {
    display: block;
    width: 100%;
    border-color: #ced4da;;
}
.form-booking .btn-search, .form-booking .btn-search:hover, .form-booking .btn-search:focus,
.form-booking-confirm .btn-confirm, .form-booking-confirm .btn-confirm:hover, .form-booking-confirm .btn-confirm:focus {
    background-color: #ef2b53;
    color: #fff;
}
.form-booking-confirm .btn-cancel, .form-booking-confirm .btn-cancel:hover, .form-booking-confirm .btn-cancel:focus {
    background-color: #d7d7d7;
    border-color: #ced4da;;
    color: #333;
}
.form-booking .form-control, .form-booking .btn-search,
.form-booking-confirm .form-control, .form-booking-confirm .btn-confirm, .form-booking-confirm .btn-cancel {
    border-radius: 0;
    min-height: 54px;
}
.form-booking .form-control[multiple] {
    min-height: 155px;
}
.form-booking .form-control[multiple] optgroup, .form-booking .form-control[multiple] option {
    height: auto;
}
.form-booking .form-control[multiple] option {
    padding: 7px 0;
}
.form-booking .booking-service-staff.is-more {
    position: relative;
}

.form-booking .booking-service-staff .remove-services {
    position: absolute;
    z-index: 2;
    left: 15px;
    top: 0;
    min-width: 175px;
    min-height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.form-booking .booking-service-staff.is-more .booking-service label {
    padding-left: 20px;
}
.add-services {
    display: inline-block;
}
.box-booking-info {
    padding-top: 30px;
}
.booking-info-title {
    position: relative;
    text-align: center;
}
.booking-info-title:before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -5px;
    height: 3px;
    width: 100px;
    margin-left: -50px;
    background-color: #ced4da;
}
.box-service-staff {
    display: flex;
    flex-wrap: wrap;
}
.service-staff {
    background-color: #f8f9fa;
    margin: 15px 15px 15px 0;
    padding: 15px 15px 15px 0;
    border-left: 3px solid #efefef;
    display: inline-flex;
    min-width: calc(24.999% - 30px);
}
.service-staff .service-staff-avatar {
    float: left;
    max-width: 100px;
    margin: 5px 0 15px 15px;
}
.service-staff .service-staff-avatar.no-photo {
    display: none;
}
.service-staff .service-staff-info {
    margin-left: 15px;
}
.service-staff .service-staff-info p {
    line-height: 1.5;
}
.date-info, .time-info {
    margin-bottom: 15px;
}
.time-info .time-note {
    color: #f00;
    font-size: 13px;
}
.time-info .time-items, .time-info .time-items li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.time-info .time-items li {
    padding: 5px;
    display: inline-block;
}
.time-items li > a, .time-items li > span {
    color: #333;
    font-size: 14px;
    line-height: 1;
}
.time-items li > a {
    display: inline-block;
    padding: 10px;
    margin: 0;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    background: #fff;
    text-decoration: none;
}
.time-items li > span {
    text-decoration: line-through;
}
.box-booking-confirm {
    background: #fff;
    padding: 15px;
}
@media ( max-width: 767px ) {
    .booking-confirm-title {
        font-size: 35px;
    }
    .booking-confirm-note {
        font-size: 17px;
    }
}
@media ( max-width: 575px ) {
    .booking-confirm-title {
        font-size: 20px;
    }
    .booking-confirm-note {
        font-size: 15px;
    }
    .service-staff {
        min-width: calc(50% - 30px);
    }
}