.footer-nav-padd .openingHours li{
    position: relative;
    padding-left: 105px;
}
.footer-nav-padd .openingHours li spam{
    position: absolute;
    left: 0px;
    text-transform: capitalize;
}
.footer-social li img{
    width: 32px;
}
#send_newsletter_home .form-group{
    position: relative;
}
.form-tooltip-error ul li{
    margin: 0px;
}
.form-control-wrapper{
    position: relative;
}
.display_flex{
    display: flex;
}
.cate-gallery{
    text-align: center;
}
#filter{
    margin: 20px 0px;
    background: #f9f5f3;
}
#filter li{
    display: inline-block;
}
#filter li a{
    line-height: 40px;
    display: block;
    padding: 0px 20px;
    cursor: pointer;
}
#filter li.active a,#filter li:hover a{
    background: #757579;
    color: #fff;
}
.cart .form-tooltip-error ul {
    margin-top: 0px;
}
.address-contact .address_info li{
    position: relative;
    padding-left: 80px;
}
.address-contact .address_info li spam{
    position: absolute;
    left: 0px;
    font-weight: 600;
}
.btn-sauna{
    margin-top: 20px;
}
#send_contact .form-group{
    position: relative;
}
.time-booking ul li{
    display: inline-block;

    margin-bottom: 20px;
    margin-right: 10px;
}
.time-booking ul li a{
    padding: 10px 20px;
    background: #ccc;
}
.time-booking ul li span{
    padding: 10px 20px;
}
.in-map{
    margin-bottom: 50px;
}
.section.section-services{
    padding:0px;
}

.iconhome img { width: 80px; }
@media (max-width: 1280px){ .about-list .item { padding: 18px 20px 50px; }}
.section .item h3 { font-size: 18px;}.item p { font-size: 15px; }
.fadeInUp .item { padding-top: 50px; }
@media only screen and (max-width: 687px) {
    .m-title h3 { font-size: 19px; } h2.title-about-us { font-size: 20px; }
}
.m-title { font-size: 14px; }
.header-main{background: #ffffff7a;}
.section-services .center-title { margin-bottom: 20px; margin-top: 50px; }
.fadeInUp .item { padding-top: 10px; }
.center-title { margin-bottom: 0px; }
.tips-inner .m-title { margin-bottom: 0px; }




.circle-service-image { border-radius: 0;}
.navbar-nav>li { padding: 0 10px; }
.navbar-nav>li>a { color: #282828; font-size: 15px;}
.footer-copyright { background: #232329;}

/*freeze footer*/
.freeze-footer { position: fixed; right: 0; bottom: 0; padding: 0 15px 15px 0; display: inline-block;z-index: 1021;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a {width: 100%; margin-bottom: 15px;}
.freeze-footer a.btn_make_appointment {background-color: #ed2869;border-color: #ed2869;}
.freeze-footer a.btn_call_now {background-color: #fec168;border-color: #fec168;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021;width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

.navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
}
.page-heading {
    padding: 0;
}

/* Coupon */
.m-coupon-box {
    position: relative;
    z-index: 0;

    margin: 0;
    margin-bottom: 30px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.m-coupon-info {
    text-align: center;
}
.m-coupon-box + .m-coupon-info{
    margin: -15px 0 30px;
}
.m-coupon-box:hover, .m-coupon-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.m-coupon-price {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5px;
    background: rgba(207, 0, 15, 0.9);
    color: #fff;
}
.btn.coupon-btn-add {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background-color: #f864a6;
}

.pointer {
    cursor: pointer;
}

.signature {
    float: left;
    width: 100%;
}

/*news module*/
.section-news .n-meta {
    border-color: #f864a6;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #f864a6;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #f864a6 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #f864a6;
    border-color: #f864a6;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #f864a6;
    border-color: #f864a6;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #f864a6
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #f864a6;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

.white-popup {
    overflow: initial;
}