
@media (min-width: 1350px){
	.container {
	    width: 1280px;
	}
}


@media (min-width: 992px){

	.col-md-right 	{ width: 30%;}
	.col-md-left 	{ width: 70%;}
	.col-md-right.col-md-pull-8 { right:70%; }
	.col-md-left.col-md-push-4 { left:30%; }
}

@media (min-width: 990px){
	.youtube-player {
	    padding-bottom: 75.25%;
	}

} 
@media (max-width: 1280px){
	
	.about-list .item {padding: 70px 20px 50px;}

}
@media (max-width: 1200px){
	.section-slider { margin-top: 0; }
	.art-sheet {border-width: 9px; }
	.navbar.main-nav{border-width: 8px; }

	.sp-buttons{
	    left: 35px;
	}
	.sp-buttons:before,
	.sp-buttons:after { display: none; }

}

@media (max-width: 990px){
	.pmain {padding-left: 0;}
	.services-list .info { padding: 15px; }
	.services-list .info h3  { font-size: 16px; }
	.tips-right {    padding: 30px 20px; }

	.section-statistic .item { min-width: 50px; }
	.section { padding: 20px 0; }
	.section-visit { padding-top: 100px; }

	.footer-navcolor { padding: 50px; }
	.page-heading { padding: 5px 0; }


}

@media (max-width: 768px){
	.footer {background-size: cover;}
	.section-statistic .item {
		margin-bottom: 15px;
		padding: 15px 15px;
	}
	

}
@media (max-width: 767px){
	.top-right a { margin-bottom: 10px; }
	.book_appoin_btn .btn { margin-bottom: 10px; }

	.about-list .item { margin-bottom: 50px; }

	.section-beauty,
	.section-services { text-align: center; }
	.services-list .item { display: inline-block;     margin-bottom: 20px;}
	.section-video p { font-size: 1.5em; }

	.tips-inner { display: block; }
	.tips-inner .tips-left, .tips-inner .tips-right { width: 100%; }
	.tips-inner .tips-left { min-height: 300px; }

	.section-statistic { text-align: center; }
	.statistics-inner { display: block; }
	.statistics-inner .ml-auto { margin-left: 0; }

	.section-blog .info p { display: none; }

	.footer-main { padding-top: 50px; }
	.footer-nav.footer-nav-padd,
	.footer-nav { padding: 20px; }
	.footer-copyright-inner {display: block;}
	.footer-social,
	.footer ul.footer-menu,
	.footer-nav,
	.footer-nav li,
	.footer-copyright { text-align: center; }

	.footer-navcolor { padding-top: 30px;}
	.footer-navcolor li{ text-align:left;}

	h2 { font-size: 1.5em;}

}

@media (max-width: 480px){
	.art-sheet {border-width: 3px; padding: 10px 20px; }
	.header-main {display: none;}
	.art-sidebar { padding-top:10px; }


}

@media (max-width: 380px){
}

@media (min-width: 768px){

	
	.cart-product-description{max-width: 130px;}	
	.table-row{border-bottom: none;}
	.total_change{text-align: left;}
	.thead {display: table-header-group;}
	.quantity-label{display: block;}
	.cart-product-image-cell{padding-bottom: 15px;}
	.total-change-cell>p.total_change:before{display: none;}
	.total-amount-label{display: block;}
	.total-amount-cell{padding:15px;}
	.quantity-label{color: rgba(0,0,0,0)}
	.table-row{
		display: table-row;
		border:inherit;
		vertical-align: inherit;
	}
	.table-head{
		display: table-cell;
		padding: 15px;
		border:inherit;
		vertical-align: inherit;
	}
	.table-data{
		display: table-cell;
		padding-top: 15px;
		border:inherit;
		vertical-align: inherit;
	}	
	.table-cart .tbody .table-data,.table-cart .tbody .table-data.quantity-cell,
	.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
		border-bottom:1px solid #d8d8d8;
		vertical-align: top;
		display: table-cell;
	}
	.table-cart .tbody .table-data.total-change-cell{vertical-align: bottom;}
	.quantity-cell,.price-cell{display: table-cell;}
	.total-amount{text-align: left;padding-top: 0;}
	.total-amount:before{display: none;}


}
