/*===================================================================================*/
/*  STYLE
/*===================================================================================*/
/*
.style2 a.btn,
.style2 .btn { background: #7676af;}

.style2 a.btn-main,
.style2 .btn-main,
.style2 .footer-navcolor,
.style2 .icon-link,
.style2 .about-list .item:hover .icon,
.style2 .about-list .item h3:after,
.style2 .icon-cart,
.style2 .navbar-nav > li > a:before,
.style2 .table-cart .thead .table-head,
.style2 .contact-heading span
{ 
    background-color: #0109ff;
}
.style2 .dropdown-submenu>a:after  {
    color:#0109ff;
}
.style2 .about-list .item .icon {
    background: #8f92f7;
}
.style2 .about-list .item {
    border-color: #8f92f7;
}
.style2 a:hover,
.style2 .footer-nav li span { 
    color: #8f92f7;
}


.style2 .table-cart .thead .table-head
.style2 .footer-navcolor li,
.style2 a.btn, .style2 .btn,
.style2 .footer h3,
.style2 .about-list .item .icon,
.style2 .contact-heading span{
    color: #fff;
}
.style2 .footer {background: #191a42;}
.style2 .footer-copyright {background: #0c0d31;}
.style2 .footer { color: rgba(255, 255, 255, 0.85);}

.style2 a.btn:hover, 
.style2 .btn:hover {
    background: #151515;
}
*/


/*===================================================================================*/
/*  END-STYLE
/*===================================================================================*/

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    font-weight: 30;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
}

a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f85c5c;
    text-decoration: none;
}
a.btn, .btn,
a.btn-main, .btn-main  {
    border: 0;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    padding: 0 30px;
    transition: all 0.3s ease;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}
a.btn,.btn { background: #757579;}
a.btn-main,.btn-main { background-color: #f864a6;}
a.btn:hover, .btn:hover {
    transition: all 0.3s ease;
}
p {
    font-weight: 300;
    margin:0 0 15px;
}

h2, h3,h4, h5 {
    font-weight: 600;
    color: #303030;
    font-family: 'Quicksand', sans-serif;
}
h2 {
    font-size: 2.625em;
    line-height: 1.2;
    text-transform: uppercase;
}
h3 {
    font-size: 2em;
    line-height: 1.3em;
    text-transform: uppercase;
}
h4 {
    font-size: 1.5em;
    line-height: 1.4em;
}
h5 {
    font-size: 15px;
    line-height: 1.5em;
    text-transform: uppercase;
}

.form-control {
    padding: 0px 20px;
    height: 47px;
    width: 100%;
    font-size: 13px;
    margin: 0px 0;
    border: 1px solid #eeeeee;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0px;
    color: #555;
    background: #fff;
}

/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:14px 5%; 
    border-top: 1px solid #e8e8e8;
    font-family: "Open Sans";
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing:0px;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;

}
.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background: #000;
}
.mean-container .mean-nav ul li a.mean-expand {
    border: 1px solid #e8e8e8;
}
.mean-container .mean-nav ul li li a {
    border-top: 1px solid #c3c1be;
     padding:14px 10%; 
}
.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8);
}
.mean-container .mean-nav {
    background: #fff;
    margin-top: 70px;
    position: absolute;
    z-index: 10;
}
.menu_mobile_v1 { 
    margin-bottom: 0px;
    background: #fff;
    z-index: 999;
    padding: 0 20px;
    text-align: left;
    min-height:80px;

}
#desktop-nav {
    padding:0px;
}
.navbar.main-nav {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 0px;
    margin-left: 150px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}
.navbar-nav>li { padding: 0 15px; }
.navbar-nav>li>a {
    text-transform: uppercase;
    line-height: 80px;
    font-style: normal;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    position: relative;
}
.navbar-nav > li.active a:before, 
.navbar-nav > li:hover > a:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-nav > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 20px;
    left: 0;
    background-color: #f864a6;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    color: #666;
    background: none;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li:hover>a.active {
    color: #000;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
    margin: 0;
    border: 0;
    padding: 20px 0px;
}
.dropdown-submenu.pull-left {float: none; width: 100%;}
.dropdown-submenu.pull-left>.dropdown-menu {width: 100%;}
.dropdown.pull-left .dropdown-menu {left: auto;right: 0;}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0px;
    background: #fff;
    color: #252525;
    padding:20px 0;
    top: 105%;
}
.dropdown-submenu>a:after {
    font-family: "FontAwesome";
    content: "\f111";
    border: 0;
    font-size: 6px;
    margin-top:1px;
    color:#f673b0;
}
.dropdown-menu>li>a {
    padding:5px 25px;
    font-family: Open Sans;
    color: #666;
    letter-spacing: 1.4px;
    font-weight: 400;
    font-size: 14px;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background:rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop >li>a { font-size: 14px; padding: 0 10px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: none; }


/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.imgrps {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.art-main {
    position: relative;
    padding: 0;
}
.header { position: relative; }
.header-main { 
    /*z-index: 10;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
}
.header-nav{
    position: relative;
    text-align: center;   
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-main .logo {
    position: absolute;
    left: 0;
    top: 0px;
    height: 100%;
    display: flex;
    max-height: 100%;
    align-items: center;
}

.header-main .navbar-right {
    position: absolute;
    right: 0;
}
.pmain { margin: 0; padding-left: 0px;}
.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}
.in-container {
    padding: 50px 0;
   
}
.in-content p {
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}
.in-content-full {
    padding-left: 0px;
}

.m-title h2,
.center-title h2 { margin-bottom: 5px; }
.m-title { margin-bottom: 35px; }
.center-title {
    text-align: center;
    margin-bottom: 35px;
}
.m-title:after,
.center-title:after{
    content: '';
    display: inline-block;
    height: 13px;
    width: 142px;
    background-image: url(../images/heading-art-01.svg);
    display: inline-block;
    opacity: 0.5;
}
.sub-title {
    font-weight: 300;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.line {
    position: absolute;
    height: 16px;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
.line div {
    height: 16px;
    width: 100%;
    top: -16px;
    position: absolute;
}
.line div:before{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    left: 30%;
    right: 30%;
}
.line div:after {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    left: 20%;
    right: 20%;
}
.line div:before,
.line div:after {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    border-radius: 100%;
}

.page-heading {
    background-color: #f9f5f3;
    padding: 150px 0 0;
}
.page-heading-inner {
    position: relative;
}
.page-heading h2 { margin-bottom: 0; }
.go-button {
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.go-button svg { position: relative; top: 5px; }
.breadcrumb { padding: 0; background:none; }
.breadcrumb a,
.breadcrumb span{
    font-size: 0.875em;
}

/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.section-slider { overflow: hidden; }
.section-about {
    background-repeat: no-repeat;
    background-image: url(../images/features-bg.jpg);
    background-position: top center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, 
    border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px;
}
.about-list .item{
    padding: 70px 35px 50px;
    border: 1px solid #fedeec;
    position: relative;
    border-radius: 5px;
    margin-top: 35px;
    transition: all 0.25s ease-out;
    text-align: center;
}
.section .item h3 {
    font-size: 20px;
    position: relative;
    margin-bottom: 10px;
}
.about-list .item h3 {
    margin-bottom: 35px;
}
.about-list .item h3:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: #f864a6;
    left: 50%;
    bottom: -17px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: width 0.35s ease-out;
    -moz-transition: width 0.35s ease-out;
    transition: width 0.35s ease-out;
}
.about-list .item .icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    background-color: #fedeec;
    padding: 20px 20px;
    box-shadow: 0 0 0 5px #ffffff, 0 0 0 6px #fedeec;
    border-radius: 1px;
    transition: all 0.8s ease-out;
    position: absolute;
    top: 0;
    text-align: center;
    left: 50%;
    transform: translate(-50%,-50%);
}
.about-list .item .icon


.about-list .item .icon svg{ opacity: 0.6; color: inherit; }

.about-list .item:hover {
    box-shadow: 0px 5px 15px 0px rgba(248,100,166,0.2);
}
.about-list .item:hover .icon {
    background-color: #f864a6;
    color: #fff;
    border-radius: 40px;
}
.about-list .item:hover h3:after {
    width: 100px;
}
.about-list .item:hover .icon-link {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 1;
    visibility: visible;
}
.icon-link {
    position: absolute;
    bottom: -25px;
    left: 50%;
    background: #f864a6;
    color: #fff;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    line-height: 48px;
    box-sizing: border-box;
    text-align: center;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    opacity: 0;
    visibility: hidden;
    display: inline-block;
}
.icon-cart {
    z-index: 10;
    line-height: 40px;
    position: absolute;
    right: 85px;
    bottom: -20px;
    border-radius: 100%;
    background-color: #f864a6;
    height: 40px;
    width: 40px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-100px) rotate(-180deg);
    -moz-transform: translateX(-100px) rotate(-180deg);
    -o-transform: translateX(-100px) rotate(-180deg);
    transform: translateX(-100px) rotate(-180deg);
    transition: all 0.5s ease-out;
}

.section-services .center-title {
    margin-bottom: 60px;
}
.services-list .item {
    text-align: center;
    margin-bottom: 60px;
    
}
.services-list .item .thumb {
    position: relative;
    overflow: hidden;
}
.services-list .item .thumb a{
    display: block;
    position: relative;
    border-radius: 100% 100% 0 0;
    overflow: hidden;
    margin: 0 -80px;
    padding: 0 80px;
    transform: translateZ(0);
}
.services-list .info { position: relative; padding: 30px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); }
.services-list h3 {
    transition: all 0.4s ease-out;
}
.item-meta {
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    transition: all 0.4s ease-out;
}
.item-meta li+li {
    flex: none;
    padding-left: 20px;
    position: relative;
}
.item-meta span {
    display: block;
    color: #999;
    font-size: 0.875em;
}
.services-list .item .icon-link{
    left: auto;
    right: 50px;
    bottom: -25px;
}
.services-list .item:hover .icon-cart, 
.services-list .item:hover .icon-link {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
    -moz-transform: translateX(0px) rotate(0deg);
    -o-transform: translateX(0px) rotate(0deg);
    transform: translateX(0px) rotate(0deg);
}
.services-list .item .thumb:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #ffffff 100%);
    pointer-events: none;

    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -o-transform: translateY(300px);
    transform: translateY(300px);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);
    -moz-transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);
    transition: all 0.25s cubic-bezier(0.05, 0.45, 0.4, 1);

}
.services-list .item:hover .thumb:after {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.services-list .item:hover h3,
.services-list .item:hover .item-meta {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}


.section-video {
    padding: 100px 0px;
    background: url(../images/bg-video.jpg) center center no-repeat;
    background-size: cover;
}
.section-video p {
    color: #ffffff;
    font-size: 48px;
    font-family: "Quicksand", Sans-serif;
    font-weight: 700;
}
.section-video a {
    display: inline-block;
    padding: 0px;
    background: #fff;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size:24px;
}
.video-inner {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
    align-items: center;
}
.video-inner .text-center{
    width: 14.062%;
}

.tips-inner {
    display: flex;
    align-items: stretch;
}
.tips-inner .tips-left,
.tips-inner .tips-right {
    width: 50%;
}
.tips-inner .tips-left {
    background: url(../images/tips-bg.jpg) center center no-repeat;
    background-size: cover;
}
.tips-right {
    padding: 100px 70px;
}
.tips-inner .m-title { margin-bottom: 60px; }
.tips-right .btn.btn-main i{ margin-left: 16px; }

.section {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 30px 0px;
    overflow: hidden;
}
.section-beauty,
.section-statistic {
    background-color: #f9f5f3;
    
}
.dflex {
    display: flex;
}
.dflex-between {
    display: flex;
    justify-content: space-between;
}
.ml-auto { margin-left: auto; }
.section-beauty  .services-list .item .thumb a{
    border-radius: 0;
    margin: 0px;
    padding: 0px;
}
.section-beauty  .services-list .item .thumb span{
    display: block;
    border-radius: 100% 100% 0 0;
    overflow: hidden;
    margin: 0 -80px;
    padding: 0 80px;
    transform: translateZ(0);
}
.section-beauty  .services-list .item .thumb span.imghover {
    position: absolute;
    top: 0px;
    opacity: 0;
    transition:  all 0.5s ease-out;
}
.section-beauty  .services-list .item:hover .thumb span.imghover {
    opacity:1;
}

.section-tips { overflow: hidden; }
.section-visit .btn i,
.section-tips .btn i { margin-left: 15px; }
.section-statistic {
    padding-left: 20px;
    padding-right: 20px;
}
.row.no-pm {
    margin: 0
}
.row.no-pm .col-sm-3{
    padding: 0;
}
.section-statistic .item {
    padding: 35px 15px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    min-width: 200px;
    margin-left: 15px;
}
.section-statistic .item .number {
    font-size: 36px;
    font-weight: 700;
        color: #222222;
}
.section-statistic .item .name {
    font-size: 14px;
}
.section-client {
    padding: 150px 0;
    background: url(../images/bg-comment.jpg) center center no-repeat;
    background-size: cover;
}

.section-client .item {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.section-client .owl-carousel .owl-item .thumb img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.section-client .item-header {
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid rgba(175, 175, 175, 0.15);
}
.section-client .item-header-info{
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
    margin-left: 15px;
}
.section-client .item-header h4 { 
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: 0; 
}
.section-client .item-header p {
    font-size: 0.875em;
    line-height: 1.4;
    color: #999;
    margin-bottom: 0; 
}
.section-client .item-text {
     padding: 20px 40px 50px;
}
.section-client  .item-rate i{ color: #fc0 }


.section-blog  .item{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    transition:all 0.5s ease-out;
}
.section-blog  .item:hover{
     transform: translateY(-3px);
}
.section-blog  .thumb a{ display: block; position: relative; }
.section-blog  .thumb .mask-img {
    position: absolute;
    bottom: 0;
    left: 0;
}
.section-blog .info {
    padding: 40px;
}
.section-blog .info h4 {
    font-size: 1.25em;
    margin-bottom: 10px;
}
.section-blog .info .item-meta {
    justify-content: flex-start;
    margin-bottom: 30px;
}
.button-text {
    padding: 0;
    line-height: 1.5;
    background: none;
    color: #333;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}
.button-text svg { position: relative; top: 5px; }
.button-text:hover::before {right: 0;}
.button-text:hover { color: #000; }
.button-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    border-bottom: 1px solid #333;
    -webkit-transition: right 0.3s ease-out;
    transition: right 0.3s ease-out;
}

.section-visit {
    background-color: #f9f5f3;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 150px 0px 100px 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.section-visit p { margin-bottom: 40px; }
.section-visit svg {
    width: calc(100% + 1.3px);
    height: 92px;
    display: block;
    width: calc(100% + 1.3px);
    position: absolute;
    left: 50%;
    top: -1px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.section-visit .elementor-shape-fill {
    fill: #fff;
}


/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar-box { 
    margin: 0 0 60px;
    border: 1px solid #E2E2E2;
    padding: 5px 20px 20px;
    overflow: visible;
}
.art-sidebar-name { text-align: center; }
.sidebar-social {text-align: left;}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}
.art-sidebar-content .col-2 i { font-size: 18px; color: #781414; }
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.art-sidebar-content .col-2 .col-right {padding-left: 50px; }
.timeopen .art-sidebar-content .col-2 .col-right {padding-left: 80px;}
.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: white;
    font-family: "Playfair Display";
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }
.art-sidebar-box ul { padding: 0; margin: 0; margin-left: 15px; list-style: none; }
.art-sidebar-box li { margin-bottom: 10px; }
.art-sidebar-box li a {color: #777777;font-size: 12px;}

.art-sidebar-box li:before {
    content: '';
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}


/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-xs-6 { padding: 0 5px; }


.gallery-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; }
.gallery-item { 
    margin-bottom: 30px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}
.gallery-item:hover:after {display: block;}
.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}
.gallery-item .gallery-info { text-align: center; }
.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.gallery-item:hover .icon {
    bottom: 0px;
    color: #000;
    opacity: 1;
    visibility: visible;
}
.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}

.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}
.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 10px;
    top: 50px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.group-select {
    float: left;
    margin-right: 0;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
}
.popup_main_area {
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
.modal_form_header h4 { margin: 0;  color: #fff;}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color:#f864a6;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    margin-top: 0;
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}

.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #E2E2E2;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #000;font-size: 24px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.page-contact{
    background:url(../images/contact-us-default-bg-1.jpg) no-repeat;
    padding-bottom:50px;
    text-align: center;
}
.contact-heading { text-align: center; }
.contact-heading span {
    background-color: #f864a6;
    display: inline-block;
    font-size: 24px;
    padding: 22px 30px;;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 15px;
}



.maps  { margin-bottom: 30px; }
.maps iframe{
    border: 0;
    height: 400px;
}
.contact-info { color: #777;}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p {
    color: #6e6b61;
    font-size: 14px; 
    line-height: 1.4;
    margin: 0 0 20px;
}
.contact-form { max-width: 800px; margin: 0 auto; padding-bottom: 50px; }
.contact-form .form-group{
    margin-bottom: 20px;   
}
.btn-submit { margin-top: 20px; }
.contact-social { padding-top: 20px; }
.contact-map { margin-bottom: 30px; }
.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}
.contact-form textarea { padding: 20px;}
.contact-form label {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin:0 0 3px;
}
.contact-map iframe { max-width: 100%; }
.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    border: 0;
    line-height: 45px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
     border: 0;
    line-height: 45px;
}
.btn_submit_login { margin-bottom: 30px;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
.box_register .btn_submit_login {margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}


.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}
.contact-info .fci-row { display: table-row; }
.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.contact-info .fci-title {
    padding-right: 15px;
    font-weight: bold;
}
.fl-flex-label { margin-bottom: 10px; }

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 0; }
h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
    padding-right: 15px;
    color: #000;
    font-weight: 700;
}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
}
.price-item h4 { font-size: 15px; }
.price-item-number {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
    font-weight: 600;
    line-height: 1.0;
}
.circle-service-image {
    width: 180px;
    height: 180px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-right {text-align: right;}
.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:#000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}
#back-top a:hover{ opacity: 0.9;  }
.footer {
    background:#352d32;
    color: rgba(255, 255, 255, 0.85);
}

.footer-copyright { 
    background: #2d2629;
    padding: 30px 0;
    color: #fff;
}
.footer-col { text-align: center; }
.footer-nav{
    padding: 75px 0px;
}
.footer-nav.footer-nav-padd{
    padding: 75px 30px;
}
.footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-nav  ul {
    text-align: center;
}
.footer-nav li {
    margin-bottom: 15px;
    text-align: left;
}
.footer-nav li a {
    color:inherit;
}
.footer-navcolor p {
    margin-left: 15px;
}
.footer-nav .icon svg {
    fill: currentColor;
}
.footer-nav .icon polyline{
    stroke: rgb(255,255, 255);
}

.footer-navcolor{
    background-color: #f864a6;
    padding: 75px 60px 70px;
}
.footer-navcolor li {
    margin-bottom: 5px;
    display: flex;
    text-align: left;
    color: rgba(255, 255, 255, 0.85);
}
.footer-nav h3 {
    font-size: 1.2em;
    line-height: 1.3;
    color: inherit;
}



.footer-nav  li span {
    color: #f864a6;
    display: block;
    font-size: 14px;
}

.footer-form  input {
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    color: #fff;
    box-sizing: border-box;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border-radius: 3px;
    font-weight: 700;
}
.footer-form .btn{
    background-color: rgba(255, 255, 255, 0.1);
    color: #9e9d9d;
}
.footer-form p {
    font-size: 0.875em;
    line-height: 1.5;
}

.footer-social { text-align: right; }
.footer-social a{
    display: inline-block;
    margin-right: 5px;
}
.footer ul.footer-menu { text-align: left; margin-bottom:5px;}
.footer-menu li {
    position: relative;
    display: inline-block;
}
.footer-menu li+li {
    padding-left: 20px;
}
.footer-menu li a{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.65);
}
.footer-menu :nth-child(n+2):not(.footer-menu)::before {
    content: "";
    height: 1.5em;
    margin-left: 0px;
    margin-right: 20px;
    border-left: 1px solid #eeeeee;
    height: 1em;
}
.footer-copyright .copyright {
    font-size: 14px;
}
.footer-social li {
    position: relative;
    display: inline-block;
}
.footer-social li a{
    font-size: 14px;
    color: inherit;
}

.footer-social  svg {
    fill: currentColor;
}

.footer-bottom {

}
.footer-copyright-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_send_newsletter {
    display: inline-block;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    padding: 0 30px;
}
@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
         margin-right:0px;
    }
}
