*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a{margin:0;padding:0;}
.fix{overflow:hidden}
.allow-overflow{overflow:visible;}
.browserupgrade{margin:0.2em 0;background:#ccc;color:#000;padding:0.2em 0;}
html{font-size:100%;}
@media all and (max-width:768px){html{font-size:87.5%;}
}
body{font-family:'Open Sans', sans-serif;color:#252525;font-weight:400;font-size:14px;line-height:24px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
p{font-family:'Open Sans', sans-serif;color:#252525;font-weight:400;font-size:14px;line-height:24px;}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{font-family:'Open Sans', sans-serif;color:#252525;font-weight:400;font-variant-ligatures:common-ligatures;margin-top:0;margin-bottom:0;}
h1,
.h1{font-size:40px;font-weight:700;}
h2,
.h2{font-size:30px;font-weight:400;}
h3,
.h3{font-size:14px;font-weight:400;}
h4,
.h4{font-size:14px;font-weight:400;}
h5,
.h5{font-size:18px;font-weight:400;}
h6,
.h6{font-size:16px;font-weight:300;}
@media all and (max-width:767px){h1,
.h1{font-size:30px;font-weight:400;}
h2,
.h2{font-size:24px;}
h3,
.h3{font-size:20px;}
h4,
.h4{font-size:16px;}
h5,
.h5{font-size:16px;}
h6,
.h6{font-size:16px;}
}
ul,
ol{list-style:none;}
ul.bullets{list-style:inside;}
ol{list-style-type:upper-roman;list-style-position:inside;}
strong{font-weight:600;}
hr{margin:1.625em 0;border-color:#333;}
a:hover,
a:focus,
a:active{text-decoration:none;outline:none;}
a{color:#ffc267;}
a:hover,
a:focus,
a:active{color:#ffc267;}
p a:hover,
p a:focus,
p a:active{color:#ffc267;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{color:inherit}
.uppercase{text-transform:uppercase}
.capitalize{text-transform:capitalize}
.type-bold{font-weight:bold;}
.type-italic{font-style:italic;}
.type-strikethrough{text-decoration:line-through;opacity:.5;}
.type-underline{text-decoration:underline;}
body{overflow-x:hidden;}
.f-left{float:left}
.f-ight{float:right}
.pos-relative{position:relative;}
.pos-absolute{position:absolute;}
.pos-absolute.container{left:0;right:0;}
.pos-top{top:0;}
.pos-bottom{bottom:0;}
.pos-right{right:0;}
.pos-left{left:0;}
.pos-vertical-center{position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
@media all and (max-width:767px){.pos-vertical-center{top:0;transform:none;-webkit-transform:none;}
}
@media all and (max-height:600px){.pos-vertical-center{top:0;transform:none;-webkit-transform:none;}
}
.pos-vertical-align-columns{display:table;table-layout:fixed;width:100%;}
.pos-vertical-align-columns > div[class*='col-']{display:table-cell;float:none;vertical-align:middle;}
@media all and (max-width:990px){.pos-vertical-align-columns{display:block;width:auto;}
.pos-vertical-align-columns > div[class*='col-']{display:block;}
}
.inline-block{display:inline-block;}
.block{display:block;}
@media all and (max-width:990px){.text-center-md{text-align:center;}
.text-left-md{text-align:left;}
.text-right-md{text-align:right;}
}
@media all and (max-width:767px){.text-center-xs{text-align:center;}
.text-left-xs{text-align:left;}
.text-right-xs{text-align:right;}
}
a,
.btn{-webkit-transition:all 0.3s ease-out 0s;-moz-transition:all 0.3s ease-out 0s;-ms-transition:all 0.3s ease-out 0s;-o-transition:all 0.3s ease-out 0s;transition:all 0.3s ease-out 0s;}
input,
select,
textarea{-webkit-transition:all 0.5s ease-out 0s;-moz-transition:all 0.5s ease-out 0s;-ms-transition:all 0.5s ease-out 0s;-o-transition:all 0.5s ease-out 0s;transition:all 0.5s ease-out 0s;}
img,
.img{max-width:100%;transition:all 0.3s ease-out 0s;}
.img-fullwidth{width:100%;}
p + img,
img:last-child{margin-bottom:0;}
body{background:#fff;}
*::-moz-selection{background:#ffc267;color:#fff;text-shadow:none;}
::-moz-selection{background:#ffc267;color:#fff;text-shadow:none;}
::selection{background:#ffc267;color:#fff;text-shadow:none;}
.mark,
mark{background:#ffc267 none repeat scroll 0 0;color:#ffffff;}
.bg-white{background:#fff !important;}
.bg-white p,
.bg-white span,
.bg-white ul,
.bg-white a:not(.ml-btn){color:#252525;}
.bg-white a:hover{color:#252525;}
.bg-white h1,
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white h6,
.bg-white i{color:#252525;}
.bg-gray{background:#f1f1f1 !important;}
.bg-gray p,
.bg-gray span,
.bg-gray ul,
.bg-gray a:not(.btn){color:#252525;}
.bg-gray h1,
.bg-gray h2,
.bg-gray h3,
.bg-gray h4,
.bg-gray h5,
.bg-gray h6,
.bg-gray i{color:#252525;}
.bg-dark{background:#151515 !important;}
.bg-dark p,
.bg-dark span,
.bg-dark ul,
.bg-dark a:not(.btn){color:#fff;}
.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark h4,
.bg-dark h5,
.bg-dark h6,
.bg-dark i{color:#fff;}
.bg-theme{background:#ffc267 !important;}
.theme-color{color:#ffc267 !important;}
.bg-theme p,
.bg-theme span,
.bg-theme ul,
.bg-theme a:not(.btn){color:#fff;}
.bg-theme h1,
.bg-theme h2,
.bg-theme h3,
.bg-theme h4,
.bg-theme h5,
.bg-theme h6,
.bg-theme i{color:#fff;}
.bg-cat-1{background-color:#00c8ff;color:#fff;}
.bg-cat-2{background-color:#8bc34a;color:#fff;}
.bg-cat-3{background-color:#f2b718;color:#fff;}
.bg-cat-4{background-color:#f06292;color:#fff;}
.bg-cat-5{background-color:#f44336;color:#fff;}
.area-title .theme-color{background-color:#2f2f2f;color:#ffffff;}
.bg-dark .area-title .theme-color{background-color:#fff;color:#2f2f2f;}
.color-facebook{color:#3b5998;}
.color-twitter{color:#00aced;}
.color-googleplus{color:#dd4b39;}
.color-instagram{color:#125688;}
.color-pinterest{color:#cb2027;}
.color-dribbble{color:#ea4c89;}
.color-behance{color:#053eff;}
.bg-facebook{background:#3b5998;color:#fff;}
.bg-twitter{background:#00aced;color:#fff;}
.bg-googleplus{background:#dd4b39;color:#fff;}
.bg-instagram{background:#125688;color:#fff;}
.bg-pinterest{background:#cb2027;color:#fff;}
.bg-dribbble{background:#ea4c89;color:#fff;}
.bg-behance{background:#053eff;color:#fff;}
.btn.bg-facebook,
.btn.bg-twitter,
.btn.bg-instagram,
.btn.bg-googleplus,
.btn.bg-pinterest,
.btn.bg-dribbble,
.btn.bg-behance{border-color:rgba(0, 0, 0, 0) !important;}
.btn.bg-facebook .btn__text,
.btn.bg-twitter .btn__text,
.btn.bg-instagram .btn__text,
.btn.bg-googleplus .btn__text,
.btn.bg-pinterest .btn__text,
.btn.bg-dribbble .btn__text,
.btn.bg-behance .btn__text{color:#fff;}
.btn.bg-facebook .btn__text i,
.btn.bg-twitter .btn__text i,
.btn.bg-instagram .btn__text i,
.btn.bg-googleplus .btn__text i,
.btn.bg-pinterest .btn__text i,
.btn.bg-dribbble .btn__text i,
.btn.bg-behance .btn__text i{color:#fff;}
.btn.bg-facebook:hover,
.btn.bg-twitter:hover,
.btn.bg-instagram:hover,
.btn.bg-googleplus:hover,
.btn.bg-pinterest:hover,
.btn.bg-dribbble:hover,
.btn.bg-behance:hover{opacity:.9;}
.btn:first-child{margin-left:0;}
.btn:last-child{margin-right:0;}
.text-blue{color:#4FC1F0;}
.text-white{color:#fff;}
.text-black{color:#363636;}
.text-theme{color:#ffc267;}
.text-white h1,
.text-white p,
.text-white h2{color:#fff;}
.text-white{color:#fff;}
.text-theme{color:#ffc267 !important;}
.bg-1,
.bg-2,
.bg-3{background-attachment:fixed;background-clip:initial;background-color:rgba(0, 0, 0, 0);background-origin:initial;background-position:center center;background-repeat:no-repeat;background-size:cover;}
/*.bg-1{background:rgba(0, 0, 0, 0) url("../../images/bg/1.jpg") no-repeat fixed 0 0/cover;}
.bg-2{background:rgba(0, 0, 0, 0) url("../../images/bg/2.jpg") no-repeat scroll center center/cover;}
.bg-3{background:rgba(0, 0, 0, 0) url("../../images/bg/3.jpg") no-repeat scroll center center/cover;}
.bg-4{background:rgba(0, 0, 0, 0) url("../../images/bg/contact-bg.jpg") no-repeat scroll center center/cover;}
.pattern-bg{background:url('../../images/pattern/pattern-bg.png') repeat;background-position:top right;background-color:rgba(236, 239, 247, 1);}*/
[data-overlay]{position:relative;}
[data-overlay]:before{position:absolute;content:'';background:#3f51b5;width:100%;height:100%;top:0;left:0;z-index:1;}
[data-overlay] *:not(.background-image-holder):not(.instafeed--background){z-index:2;}
[data-overlay].image--light:before{background:#fff;}
[data-overlay].bg--primary:before{background:#425cbb;}
[data-overlay="1"]:before{opacity:0.1;}
[data-overlay="2"]:before{opacity:0.2;}
[data-overlay="3"]:before{opacity:0.3;}
[data-overlay="4"]:before{opacity:0.4;}
[data-overlay="5"]:before{opacity:0.5;}
[data-overlay="6"]:before{opacity:0.6;}
[data-overlay="7"]:before{opacity:0.7;}
[data-overlay="8"]:before{opacity:0.8;}
[data-overlay="9"]:before{opacity:0.9;}
[data-overlay="10"]:before{opacity:1;}
[data-overlay="0"]:before{opacity:0;}
[data-black-overlay]{position:relative;}
[data-black-overlay]:before{position:absolute;content:'';background:#000;width:100%;height:100%;top:0;left:0;z-index:1;}
[data-black-overlay] *:not(.background-image-holder):not(.instafeed--background){z-index:2;}
[data-black-overlay].image--light:before{background:#fff;}
[data-black-overlay].bg--primary:before{background:#425cbb;}
[data-black-overlay="1"]:before{opacity:0.1;}
[data-black-overlay="2"]:before{opacity:0.2;}
[data-black-overlay="3"]:before{opacity:0.3;}
[data-black-overlay="4"]:before{opacity:0.4;}
[data-black-overlay="5"]:before{opacity:0.5;}
[data-black-overlay="6"]:before{opacity:0.6;}
[data-black-overlay="7"]:before{opacity:0.7;}
[data-black-overlay="8"]:before{opacity:0.8;}
[data-black-overlay="9"]:before{opacity:0.9;}
[data-black-overlay="10"]:before{opacity:1;}
[data-black-overlay="0"]:before{opacity:0;}
[data-black-overlay="0"] > div{z-index:5;color:#fff;}
[data-scrim-bottom]{position:relative;}
[data-scrim-bottom]:before{position:absolute;content:'';width:100%;height:80%;background:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #232323 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #232323));background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #232323 100%);background:-o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #232323 100%);background:-ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #232323 100%);background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #232323 100%);bottom:0;left:0;z-index:1;backface-visibility:hidden;}
[data-scrim-bottom]:not(.image--light) h1,
[data-scrim-bottom]:not(.image--light) h2,
[data-scrim-bottom]:not(.image--light) h3,
[data-scrim-bottom]:not(.image--light) h4,
[data-scrim-bottom]:not(.image--light) h5,
[data-scrim-bottom]:not(.image--light) h6{color:#b3b3b3;}
[data-scrim-bottom]:not(.image--light) p,
[data-scrim-bottom]:not(.image--light) span,
[data-scrim-bottom]:not(.image--light) ul{color:#f6f6f6;}
[data-scrim-bottom].image--light:before{background:#fff;}
[data-scrim-bottom="1"]:before{opacity:0.1;}
[data-scrim-bottom="2"]:before{opacity:0.2;}
[data-scrim-bottom="3"]:before{opacity:0.3;}
[data-scrim-bottom="4"]:before{opacity:0.4;}
[data-scrim-bottom="5"]:before{opacity:0.5;}
[data-scrim-bottom="6"]:before{opacity:0.6;}
[data-scrim-bottom="7"]:before{opacity:0.7;}
[data-scrim-bottom="8"]:before{opacity:0.8;}
[data-scrim-bottom="9"]:before{opacity:0.9;}
[data-scrim-bottom="10"]:before{opacity:1;}
[data-scrim-top]{position:relative;}
[data-scrim-top]:before{position:absolute;content:'';width:100%;height:80%;background:-moz-linear-gradient(bottom, #232323 0%, rgba(0, 0, 0, 0) 100%);background:-webkit-gradient(linear, left bottom, left bottom, color-stop(0%, #232323), color-stop(100%, rgba(0, 0, 0, 0)));background:-webkit-linear-gradient(bottom, #232323 0%, rgba(0, 0, 0, 0) 100%);background:-o-linear-gradient(bottom, #232323 0%, rgba(0, 0, 0, 0) 100%);background:-ms-linear-gradient(bottom, #232323 0%, rgba(0, 0, 0, 0) 100%);background:linear-gradient(to bottom, #232323 0%, rgba(0, 0, 0, 0) 100%);top:0;left:0;z-index:1;}
[data-scrim-top]:not(.image--light) h1,
[data-scrim-top]:not(.image--light) h2,
[data-scrim-top]:not(.image--light) h3,
[data-scrim-top]:not(.image--light) h4,
[data-scrim-top]:not(.image--light) h5,
[data-scrim-top]:not(.image--light) h6{color:#b3b3b3;}
[data-scrim-top]:not(.image--light) p,
[data-scrim-top]:not(.image--light) span,
[data-scrim-top]:not(.image--light) ul{color:#f6f6f6;}
[data-scrim-top].image--light:before{background:#fff;}
[data-scrim-top="1"]:before{opacity:0.1;}
[data-scrim-top="2"]:before{opacity:0.2;}
[data-scrim-top="3"]:before{opacity:0.3;}
[data-scrim-top="4"]:before{opacity:0.4;}
[data-scrim-top="5"]:before{opacity:0.5;}
[data-scrim-top="6"]:before{opacity:0.6;}
[data-scrim-top="7"]:before{opacity:0.7;}
[data-scrim-top="8"]:before{opacity:0.8;}
[data-scrim-top="9"]:before{opacity:0.9;}
[data-scrim-top="10"]:before{opacity:1;}
input[type=text],
input[type=email],
input[type=password]{width:100%;}
select{width:100%;}
input:focus{background:transparent;border:1px solid #4FC1F0;}
textarea{resize:vertical;background:#ffc267;border:1px solid #ffc267;padding:10px;width:100%;font-size:14px;}
textarea:focus{background:transparent;border:1px solid #4FC1F0;outline:none;}
::-moz-placeholder{color:#444;font-size:14px;}
.m-0{margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;}
.p-0{padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;}
.mt-0{margin-top:0}
.mt-10{margin-top:10px}
.mt-15{margin-top:15px}
.mt-20{margin-top:20px}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mt-50{margin-top:50px}
.mt-60{margin-top:60px}
.mt-70{margin-top:70px}
.mt-80{margin-top:80px}
.mt-90{margin-top:90px}
.mt-100{margin-top:100px}
.mt-110{margin-top:110px}
.mt-120{margin-top:120px}
.mt-130{margin-top:130px}
.mt-140{margin-top:140px}
.mt-150{margin-top:150px}
.mr-0{margin-right:0px}
.mr-10{margin-right:10px}
.mr-15{margin-right:15px}
.mr-20{margin-right:20px}
.mr-30{margin-right:30px}
.mr-40{margin-right:40px}
.mr-50{margin-right:50px}
.mr-60{margin-right:60px}
.mr-70{margin-right:70px}
.mr-80{margin-right:80px}
.mr-90{margin-right:90px}
.mr-100{margin-right:100px}
.mr-110{margin-right:110px}
.mr-120{margin-right:120px}
.mr-130{margin-right:130px}
.mr-140{margin-right:140px}
.mr-150{margin-right:150px}
.mb-0{margin-bottom:0}
.mb-10{margin-bottom:10px}
.mb-15{margin-bottom:15px}
.mb-20{margin-bottom:20px}
.mb-30{margin-bottom:30px}
.mb-40{margin-bottom:40px}
.mb-50{margin-bottom:50px}
.mb-60{margin-bottom:60px}
.mb-70{margin-bottom:70px}
.mb-80{margin-bottom:80px}
.mb-90{margin-bottom:90px}
.mb-100{margin-bottom:100px}
.mb-110{margin-bottom:110px}
.mb-120{margin-bottom:120px}
.mb-130{margin-bottom:130px}
.mb-140{margin-bottom:140px}
.mb-150{margin-bottom:150px}
.ml-0{margin-left:0}
.ml-10{margin-left:10px}
.ml-15{margin-left:15px}
.ml-20{margin-left:20px}
.ml-30{margin-left:30px}
.ml-40{margin-left:40px}
.ml-50{margin-left:50px}
.ml-60{margin-left:60px}
.ml-70{margin-left:70px}
.ml-80{margin-left:80px}
.ml-90{margin-left:90px}
.ml-100{margin-left:100px}
.ml-110{margin-left:110px}
.ml-120{margin-left:120px}
.ml-130{margin-left:130px}
.ml-140{margin-left:140px}
.ml-150{margin-left:150px}
.pt-0{padding-top:0}
.pt-10{padding-top:10px}
.pt-15{padding-top:15px}
.pt-20{padding-top:20px}
.pt-30{padding-top:30px}
.pt-40{padding-top:40px}
.pt-50{padding-top:50px}
.pt-60{padding-top:60px}
.pt-70{padding-top:70px}
.pt-80{padding-top:80px}
.pt-90{padding-top:90px}
.pt-100{padding-top:100px}
.pt-110{padding-top:110px}
.pt-120{padding-top:120px}
.pt-130{padding-top:130px}
.pt-140{padding-top:140px}
.pt-150{padding-top:150px}
.pr-0{padding-right:0}
.pr-10{padding-right:10px}
.pr-15{padding-right:15px}
.pr-20{padding-right:20px}
.pr-30{padding-right:30px}
.pr-40{padding-right:40px}
.pr-50{padding-right:50px}
.pr-60{padding-right:60px}
.pr-70{padding-right:70px}
.pr-80{padding-right:80px}
.pr-90{padding-right:90px}
.pr-100{padding-right:100px}
.pr-110{padding-right:110px}
.pr-120{padding-right:120px}
.pr-130{padding-right:130px}
.pr-140{padding-right:140px}
.pb-0{padding-bottom:0}
.pb-10{padding-bottom:10px}
.pb-15{padding-bottom:15px}
.pb-20{padding-bottom:20px}
.pb-30{padding-bottom:30px}
.pb-40{padding-bottom:40px}
.pb-50{padding-bottom:50px}
.pb-60{padding-bottom:60px}
.pb-70{padding-bottom:70px}
.pb-80{padding-bottom:80px}
.pb-90{padding-bottom:90px}
.pb-100{padding-bottom:100px}
.pb-110{padding-bottom:110px}
.pb-120{padding-bottom:120px}
.pb-130{padding-bottom:130px}
.pb-140{padding-bottom:140px}
.pb-150{padding-bottom:150px}
.pl-0{padding-left:0}
.pl-10{padding-left:10px}
.pl-15{padding-left:15px}
.pl-20{padding-left:20px}
.pl-30{padding-left:30px}
.pl-40{padding-left:40px}
.pl-50{padding-left:50px}
.pl-60{padding-left:60px}
.pl-70{padding-left:70px}
.pl-80{padding-left:80px}
.pl-90{padding-left:90px}
.pl-100{padding-left:100px}
.pl-110{padding-left:110px}
.pl-120{padding-left:120px}
.pl-130{padding-left:130px}
.pl-140{padding-left:140px}
.pl-150{padding-left:150px}
.ptb-0{padding:0}
.ptb-10{padding:10px 0}
.ptb-20{padding:20px 0}
.ptb-30{padding:30px 0}
.ptb-40{padding:40px 0}
.ptb-50{padding:50px 0}
.ptb-60{padding:60px 0}
.ptb-70{padding:70px 0}
.ptb-80{padding:80px 0}
.ptb-90{padding:90px 0}
.ptb-100{padding:100px 0}
.ptb-110{padding:110px 0}
.ptb-120{padding:120px 0}
.ptb-130{padding:130px 0}
.ptb-140{padding:140px 0}
.ptb-150{padding:150px 0}
.mtb-0{margin:0}
.mtb-10{margin:10px 0}
.mtb-15{margin:15px 0}
.mtb-20{margin:20px 0}
.mtb-30{margin:30px 0}
.mtb-40{margin:40px 0}
.mtb-50{margin:50px 0}
.mtb-60{margin:60px 0}
.mtb-70{margin:70px 0}
.mtb-80{margin:80px 0}
.mtb-90{margin:90px 0}
.mtb-100{margin:100px 0}
.mtb-110{margin:110px 0}
.mtb-120{margin:120px 0}
.mtb-130{margin:130px 0}
.mtb-140{margin:140px 0}
.mtb-150{margin:150px 0;}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{float:left;}
.col-1{width:10%;}
.col-2{width:20%;}
.col-3{width:30%;}
.col-4{width:40%;}
.col-5{width:50%;}
.col-6{width:60%;}
.col-7{width:70%;}
.col-8{width:80%;}
.col-9{width:90%;}
.col-10{width:100%;}
.full-screen{height:100vh;}
::-webkit-input-placeholder{color:#909090;}
:-ms-input-placeholder{color:#909090;}
::-moz-placeholder{color:#909090;opacity:0.9;}
:-moz-placeholder{color:#909090;opacity:0.9;}
[data-black-overlay] p,
[data-black-overlay] h1,
[data-black-overlay] h2,
[data-black-overlay] h3,
[data-black-overlay] h4,
[data-black-overlay] h5,
[data-black-overlay] h6{color:#fff;}
[data-black-overlay] > div,
[data-black-overlay] > form,
[data-black-overlay] > section{position:relative;z-index:5;}
p.form-messege{margin-top:15px;font-size:14px}
p.success{color:green;}
p.error{color:red;}
.hs-btn{background:#fff none repeat scroll 0 0;color:#606060 !important;display:inline-block;font-size:14px;font-weight:normal;height:40px;line-height:40px;padding:0 20px;position:relative;text-transform:uppercase;transition:all 0.3s ease 0s;z-index:2;}
.hs-btn.btn-light{background:#ffc267 none repeat scroll 0 0;color:#fff !important;}
.hs-btn.btn-light.btn-large{height:45px;line-height:45px;padding:0 22px;}
.hs-btn::before{background:#151515 none repeat scroll 0 0;content:"";height:0;left:0;position:absolute;top:0;transition:all 0.3s ease 0s;width:100%;z-index:-1;}
.hs-btn:hover::before{background:#151515 none repeat scroll 0 0;color:#fff;height:100%;width:100%;}
.hs-btn.hs-btn-3{color:#ffc267 !important;height:36px;line-height:36px;padding:0 18px;font-family:'Open Sans', sans-serif;}
.bg-theme *::-moz-selection{background:#fff none repeat scroll 0 0;color:#ffc267;text-shadow:none;}
.giftcards-btn-add{height:32px !important;font-size:15px !important;padding:5px 10px !important;line-height:23px !important;}
.coupon_info{text-align:center;margin-top: 15px;}
.coupon_info span{font-size:16px !important;margin-right:5px; font-weight: bold;}