/* Large screen desktop */

@media (min-width: 1366px) and (max-width: 1500px) {}

@media (min-width: 1170px) and (max-width: 1370px) {}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1169px) {
    .slider-inner h1 {
        font-size: 47px !important;
        line-height: 43px !important;
    }
    .slider-inner p {
        font-size: 20px !important;
    }
    .about_text_home_v1 h3 {
        line-height: 70px;
    }
    .about_box_right {
        padding: 10px 58px 15px;
    }
    .about_box_right .about_details_home {
        padding-bottom: 0;
    }
    .appoinment_title p.section_details {
        display: none;
    }
    .appoinment_inner {
        margin-top: 25px;
    }
    .mt_40 {
        margin-top: 15px;
    }
    .group-select{
        width: 220px;
        margin-right: 10px;
    }
    .btn-search{
        margin-left: 0;
        height: 41px;
        width: 125px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .slider-inner h1 {
        font-size: 34px !important;
        margin-bottom: 30px !important;
    }
    .slider-shape-1::after {
        display: none;
    }
    .slider-inner p {
        font-size: 16px !important;
        margin-bottom: 30px !important;
    }
    .slider-area .slick-dots li.slick-active button::before {
        color: #ffc267;
        opacity: 1;
    }
    .our_service_title {
        margin-bottom: 0;
    }
    .single_service_area {
        margin-top: 120px;
    }
    .single_service_area .btn_book_service a {
        margin-left: 33%;
    }
    .single_news_trend {
        /*margin-top: 45px;*/
    }
    .about_thumb_v1 .thumb_img img {
        width: 100%;
    }
    .work_timings li.hour_time {
        width: 155px;
        margin-bottom: 50px;
    }
    .thumb_img_appoiment .pdf_0 {
        padding-left: 15px;
    }
    .news_trend_v1.ptb_90 {
        padding-bottom: 0;
    }
    .signle_post_v1 .img_post_rc_v1 {
        width: 15%;
    }
    .time_work_staff_v1 ul li a {
        float: left;
    }
    .time_work_staff_v1 ul li + li {
        margin-left: 0;
    }
    .staff_service_v1 .details_staff h2,
    .time_work_staff_v1 h3 {
        font-size: 20px;
    }
    .box-date{
        width: 260px;
    }
    .btn-search{
        width: 260px;
    }
    .section-padding {
        padding: 41px 0;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .slider-inner h1 {
        font-size: 16px !important;
        line-height: 20px !important;
        margin-bottom: 23px !important;
    }
    .slider-shape-1::after {
        display: none;
    }
    .slider-inner p {
        display: none;
    }
    .slider-area .slick-dots li.slick-active button::before {
        color: #ffc267;
        opacity: 1;
    }
    .single-slider-wrap,
    .slider-content {
        /* height: 134px !important; */
    }
    .slider-button .hs-btn.btn-light.btn-large {
        height: 38px !important;
        line-height: 37px !important;
        padding: 0 10px !important;
    }
    .slider-button .hs-btn {
        font-size: 11px !important;
    }
    .slider-nav-style-1 .slick-dots {
        right: 8px !important;
    }
    .slider-inner {
        /*text-align: left;*/
    }
    .col-md-3.col-lg-3.col-sm-6.col-xs-12 .single_footer_widget {
        margin-bottom: 40px;
    }
    .about_thumb_v1 .thumb_img {
        padding-left: 16px;
        padding-top: 16px;
    }
    .about_thumb_v1 .thumb_img img {
        width: 100%;
    }
    .about_thumb_v1 .thumb_img::before {
        height: calc(100% - 55px);
    }
    .about_text_home_v1 {
        width: 50px;
    }
    .about_text_home_v1 h3 {
        font-size: 14px;
        line-height: 50px;
    }
    .about_thumb_v1 .thumb_text {
        width: 44px;
    }
/*    .about_box_right {
        padding: 60px 20px 60px;
    }*/
    .single_service_area {
        margin-top: 120px;
    }
    .our_service_title {
        margin-bottom: 0;
    }
    .single_service_area .btn_book_service a {
        margin-left: 33%;
    }
    .cbox_open_hour_v1 {
        padding: 90px 15px 0;
    }
    .single_news_trend {
        /*margin-top: 45px;*/
    }
    .appoinment_form .input-box {
        flex-wrap: wrap;
        width: 100%;
    }
    .appoinment_form .input-box > input {
        width: 100%;
    }
    .appoinment_form .input-box > input + input {
        margin-left: 0;
        margin-top: 30px;
    }
    .newsletter_v1_inner .newsletter_tile {
        font-size: 20px;
        font-weight: 700;
        height: 41px;
        line-height: 66px;
    }
    .nws_input_box {
        height: 70px;
        line-height: 70px;
    }
    .newsletter_v1_inner .sing_up_btn {
        height: 70px;
        justify-content: flex-start;
    }
    .footer_top_v1 {
        padding-bottom: 0;
    }
    .section-padding {
        padding: 25px 0;
    }
    .open-timings {
        padding-top: 30px;
    }
    .work_timings li.hour_time {
        width: 100%;
        margin-bottom: 30px;
    }
    .cbox_open_hour_v1 .list_days {
        /*text-align: center;*/
        padding-left: 15px;
        padding-right: 15px;
    }
    .cbox_open_hour_v1 {
        box-shadow: none;
    }
    .pro-item {
        margin-bottom: 30px !important;
    }
    .thumb_img_appoiment .pdf_0 {
        padding-left: 15px;
    }
    .news_trend_v1.ptb_90 {
        padding-bottom: 0;
    }
/*    .about_home_v1.ptb_90 {
        padding-top: 45px;
    }*/
    .mgb_service {
        /*margin-bottom: 50px;*/
    }
    .service_price_table.ptb_90 {
        padding-top: 45px;
        padding-bottom: 0;
    }
    .services_table {
        padding-bottom: 45px;
    }
    .news_top_comment.middle_comment {
        margin: 32px 0 33px 0px;
    }
    .submit_name_psw {
        padding: 0;
    }
    .btn_login_social .btn_facebook_v1 {
        margin-bottom: 15px;
        width: 100%;
    }
    .btn_login_social .btn_gplus_v1 {
        width: 100%;
    }
    .popup_main_area .border_right {
        border-right: 0;
    }
    .time_work_staff_v1 ul li a {
        float: left;
    }
    .time_work_staff_v1 ul li + li {
        margin-left: 0;
    }
    .staff_service_v1 .details_staff h2,
    .time_work_staff_v1 h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .content-shop-booking{
        padding-left: 5px;
        padding-top: 15px;
        padding-bottom: 0;
        padding-right: 0;
    }

    .box-date{
        width: 100%;
    }
    .btn-search{
        width: 100%;
        margin-left: 0;
    }
    .group-select{
        width: 100%;
        margin-bottom: 15px;
    }
    .add-services{
        margin-bottom: 15px;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .single_service_area .btn_book_service a {
        margin-left: 41%;
    }
    }

@media only screen and (max-width: 767px) {
    .gallery_box_page {
        padding-top: 10px;
    }
}

/*reposive open hours*/
@media only screen and (max-width: 543px) {
    .open_timings li
    {
        width: 50%;
    }
    .open_timings li div
    {
        height: 150px;
    }
    .open_timings p:nth-child(even) {
        font-size: 13px;
    }
    .open_timings p:nth-child(odd) {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 991px) {
    .about_thumb_v1 .thumb_img {
        width: auto; 
        margin: auto;
        max-width: 100%;
    }
    .ptb_90,.mgt_50 {
        padding: 20px 0px;
        margin: 0px;
    }
    .ptb_90{
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .about_box_right {
        padding: 20px;
    }
    .open_hour_v1.ptb_90{
        margin-top: 50px;
    }
    .about_us_v1 {
        padding-top: 20px;
    }
}


@media only screen and (max-width: 767px) {
    .info_inner_booking .staff_service_v1{
        width: 100% !important;
    }
    .info_inner_booking .info_staff{
        width: 40%;
        margin-right: 0px;
        padding-right: 10px;
    }
    .info_inner_booking .details_staff{
        width: 60%;
        float: right;
    }
    .coupon_page_v1 {
        /*padding-top: 0px;*/
        padding-bottom: 0px;
    }
    .staff_service_v1 .details_staff p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
    }

    .max-767-mb-30 {
        margin-bottom: 30px;
    }
}
