/*
* Popover
* */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

/*More*/
.popover {
  max-width: 320px;
}
.popover-content {
  padding: 0 17px 15px 17px;
  max-height: 320px;
  overflow-y: auto;
  margin-top: 17px;
}
.action-button,
.action-link {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
}
.action-button {
  line-height: 20px;
  padding: 7px;
  width: 34px;
  height: 34px;
  background-color: #2fa0e5;
  border-radius: 5px;
}
.action-link {
  color: #000;
}
.action-button:hover,
.action-button:focus,
.action-link:hover,
.action-link:focus {
  opacity: 0.85;
}
.action-link:last-child,
.action-button:last-child {
  margin-right: 0;
}
.btn-popup.fa {
  font-size: 20px;
  cursor: pointer;
}
.popover-title {
  background-color: #eee;
  border-color: transparent;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  border-radius: 0;
  text-align: center;
}
.popover-title .close {
  width: 100%;
  height: 100%;
}
.popover-content .form-group:first-child {
  margin-top: 10px;
}
.popover-content .well {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  box-shadow: none;
}
.popover-content .well a {
  margin: 0 10px 0 0;
}
/*
* End Popover
* */