img, * img {
    max-width: 100%;
}

.scroll_btn {
    position: fixed;
    top: 0px;
    z-index: 1001;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.fl-flex-label.fl-collapsed.fl-background .fl-label {
    background: #e2fee7;
}
.form-tooltip-error ul,.form-tooltip-error ul.list_form li{
    margin: 0px;
    padding: 0px;
}

.footer-copyright {
    padding: 10px 0 0px;
}
.detail-price-number {
    font-weight: normal;
}
span.detail-price-name {
    color: #000;
}
.section-about h2 {
    font-size: 40px;
}
.stitle {
    font-size: 30px;
}
.section-services .item {
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.copyright p {
    padding-bottom: 0px;
}
.footer-phone {
    padding-bottom: 14px;
}
.footer-phone a {
    color: #fff;
}
.section-about-text h3 {
    font-size: 36px;
}
section.coupon_code_v1 img {
    margin-bottom: 10px;
}
ul.head-top-social img {
    max-width: 35px;
}
ul.head-top-social li {
    display: inline-block;
    margin-right: 5px;
}
.contact-home p{
    position: relative;
    padding-left: 60px;
}
.contact-home p .icon{
    position: absolute;
    left: 0px;
}


 .section-stylist .item {
    margin: 0px 7px;
    padding: 7px;
}
.owl-nav button{
    position: absolute;
    top: 45%;
    background: none;
    border: 0px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    font-size: 42px;
    font-weight: bold;
}
.owl-carousel .owl-nav button span {
    padding: 5px;
}
.owl-nav button.owl-prev{
    left: 5px;
}
.owl-nav button.owl-next{
    right: 5px;
}


.header-main { background-color: #e3e3e3;box-shadow: 0 0 40px rgba(95,125,149,0.25);} 
.navbar-nav>li>a { color: #000000;} .navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus, .navbar-nav>li.active>a, .navbar-nav>li:hover>a { color: #ff0000; } p.des_giftcard { font-size: 15px; } .box_preview .center { font-size: 18px !important; } section#our-services img { width: 300px; } .section-about h2 { font-size: 30px; text-align: center; } section#about-us p { font-size: 14px; line-height: 30px; } .about-left h2 { text-transform: none; font-size: 26px; } .contact-details { max-width: 100% !important; position: relative; background:#fff;} .section-stylist .item p { padding: 3px; text-align: center; } .section-stylist .item h5 { text-align: center; } .page-heading h2 { font-size: 30px; } .section-about-text h3 { font-size: 28px; } .item h3 { font-size: 20px; margin-bottom: 10px; } .section p { font-size: 14px; line-height: 30px; } .head-top, a.btn-main, .btn-main, .btn-link { background: #ff5656; margin-bottom:10px;} .logo { max-width: 200px; } .section-stylist .item h5 { margin: 12px 12px 6px 12px; border-bottom: none; } .parallax h3 { text-align: center;} .gallery-item { margin-bottom: 25px;} .contact-details i{color: #251b42;} .opening-hour-time{ color: #ffffff; font-size: 14px; } .freeze-footer { position: fixed; bottom: 120px; right: 0px; z-index: 999; } .contact-hours{ border-bottom:0; } a.btn:hover, .btn:hover, .btn-main:hover, .btn-link:hover{color: #ff5656; border: 1px solid #ff5656;}
.logo .imgrps {
    max-width: 180px;
}


@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 28px;
    }
}
.circle-service-image {
    background-size: cover;
    background-position: center;
}
.logo {
    max-width: 300px;
}
.head-nav-right .btn-main {
    min-width: 120px;
}
.bg-main {
    background: #f3f3f3;
    background: url(../images/bg-parallax1.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.navbar-nav>li {
    padding: 0 14px;
}
.form-control-wrapper {
    position: relative;
}
.coupon_img .img_size {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
    margin: auto;
}
.col-coupont:hover .img_size {
    transform: scale(1.05);
}
.col-coupont {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}
.footer-main h3{
    color: #fff;
}
.footer-main p {
    color: #ccc;
}

/*freeze header*/
.header-container {z-index: 9999;}
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 9999;width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }



.pmain{
    margin-top: 110px;
}
@media (max-width: 687px) {
    .pmain {
        margin-top: 60px;
    }
}
@media (min-width: 993px) {
    .instead-border-top-menu-mobile {display: none;}
    .header-container > .container.freeze-header.with-bg {position: relative !important;}
}



@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 26px;
    }
}
.navbar-nav>li>a {
    font-size: 17px;
}
.item-booking select optgroup {
    color: #000;
}
.item-booking select option {
    color: #56b367;
}
.header-main, .menu_mobile_v1 {
    position: relative;
    padding: 0;
}
.pmain {
    margin-top: 0;
}

/*
* Fix theme
*/
.parallax {
    height: auto;
    padding: 50px 0;
    min-height: 450px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.parallax:before {
    position: absolute;
    z-index: -1;
}
.parallax h3 {
    position: relative;
    padding: 0;
    margin: 0;
    top: auto;
    left: auto;
    transform: initial;
}
.detail-price-number .old {
    text-decoration: line-through;
    font-size: 80%;
}
@media ( max-width: 767px ) {
    .section-feel, .section-love, .section-beautiful {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
        min-height: 320px;
    }
}

.section-news, .sidebar .heading h5 {
    background: none;
}
.section-news .item h3 {
    font-size: 15px;
}
.mDesc {
    font-size: 12px;
    font-style: italic;
}

/* Open hour - Contact info */
.foh-wrap,
.fci-wrap {display: table;text-align: left;}
.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

/* Youtube iframe */
.youtube-player { position: relative; padding-bottom: 56.25%; /* Use 75% for 4:3 videos */ width: 100%;max-width: 100%; height: 0;background: #000;margin: 0 auto;overflow: hidden;}
.youtube-player iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; background: transparent;}

/*Service*/
ul.services_tab_ul_v1, ul.service_gallery, ul.services_item_ul_v1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.services_item_ul_v1 {
    margin: 15px auto;
}
li.ui-state-default {
    background: #e6e6e6;
}
li.ui-state-default.list_child a {
    padding-left: 30px;
}
li.ui-state-default + li.ui-state-default {
    margin-top: 5px;
}
li.ui-state-default a {
    display: block;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: #000;
    padding: 15px;
}
li.ui-state-default:hover, li.ui-tabs-active, li.ui-state-active {
    background-color: #000;
}
li.ui-state-default:hover a, li.ui-tabs-active a, li.ui-state-active a {
    color: #fff;
}
li.services_item_v1 {
    border-bottom: 1px dashed #dedede;
    clear: both;
}
li.services_item_v1 + li.services_item_v1 {
    padding-top: 15px;
}
li.services_item_v1 span.name_service_v1, li.services_item_v1 span.price_service_v1 {
    font-size: 17px;
}
li.services_item_v1 span.price_service_v1 {
    color: #f00;
}
.service_price_table {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pagination .page-link, .pagination_v1 li, .pagination li {
    cursor: pointer;
}
.box_title {
    display: flex;
}
.box_title .name_service_v1 {
    flex: 1;
}

.service-btn-group a {
    background: #ff5656;
}
.page-heading .btn_service_book {
    padding-top: 15px;
}
@media ( min-width: 768px ) {
    .page-heading .btn_service_book {
        text-align: right;
        padding-top: 0;
    }
}

.section-stylist .item.mb {
    margin-bottom: 30px;
}

.section-stylist a:hover .info .description {
    color: #000;
}

@media ( min-width: 768px ) {
    .in-container {
        min-height: 420px;
    }
}
.section-testimonials {
    position: relative;
    z-index: 1;
}
.section-testimonials:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}
.testimonials-list {
    text-align: center;
}

.signature {
    float: left;
    width: 100%;
}

/*news module*/
.section-news .n-meta {
    border-color: #16938b;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #16938b;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #16938b none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #16938b;
    border-color: #16938b;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #16938b
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #16938b;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}
.white-popup {
    overflow: initial;
}