.navbar-nav > li > a {
    font-size: 20px;
}

.header-nav .logo {
    max-width: 250px;
}

.in-content {
    text-align: justify;
}

h2.service-name {
    font-size: 30px;
}

.staff-avatar {
    display: none;
}

h2.service-name {
    font-size: 24px;
    color: #000;
    font-weight: normal;
    margin-top: 10px;
}

.footer-main h3 {
    font-size: 20px;
}

.header-main {
    padding: 0;
}

.freeze-header.with-bg {
    background-color: #000000;
}

.section-count .item {
    background-color: #00000075;
}

.section-count .item {
    border-right: 1px solid #060606;
    border-bottom: 1px solid #000;
}

.item-location .content-location {
    background-color: #000000ba;
    border-right: #000 1px solid;
    border-bottom: #000 1px solid;
}

.btn, .btn-main, .btn-short, .header-main.sticky, .header-page .header-main, .menu_mobile_v1 {
    background: #000000;
    font-size: 16px;
}

.section-count .item h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.section-count .item .number span {
    border-bottom: 0;
    display: inline-block;
    font-size: 26px;
    font-family: "JosefinSlab";
}

.contact-hours, .page-heading, .footer-main {
    background: #1d2129;
}

.section-about .section-heading {
    border-bottom: 0;
}

.section-about .section-content {
    border-bottom: 0;
}

.section-about {
    padding: 70px 0 30px 0;
}

.section-video {
    background-color: #fafafa;
}

.section-service {
    text-align: center;
}

.section-service h5 {
    color: #efd02f;
    font-weight: 300;
}

.faq-collapse .card-header {
    background-color: #000000;
    padding: 15px 15px;
    border-radius: 0;
}

.card-header h5 {
    color: #fff;
}

.section-review:before {
    background-color: rgba(29, 33, 41, 0.86);
}

body:not(.site-idx) .header-main {
    background: #000000;
}

.sms-booking #btn_search_booking .btn-search {
    background-color: #000000;
}

.mean-container a.meanmenu-reveal {
    border: 1px solid #fff;
    border-radius: 0px;
}

.mean-container a.meanmenu-reveal > span, .mean-container a.meanmenu-reveal > span:before,
.mean-container a.meanmenu-reveal > span:after {
    background: #fff;
}

.footer-main, .freeze-header.with-bg {
    background-image: url("../../images/bg-section.png");
}