
body {
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    font-family: 'Questrial',Arial,sans-serif;
    color: #555;
    font-weight: 400;
    font-size: 14px;
}
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #f85c5c;
    text-decoration: none;
}
a.btn{
    color: #000;
    border: 1px solid #E2E2E2;
    background: none;
    background: #fff;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    padding: 0 15px;
    transition: all 0.3s ease 0s;
}

.btn-default {
    padding: 0 15px;
    border: 0;
    font-size: 14px;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
}



.btn-primary,
a.btn-primary {
    background: #E2E2E2;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease;
    z-index: 2;
    border: 1px solid #E2E2E2;
    border-radius: 0;
}

.btn:hover,
.btn-primary:hover {
    background: #000;
    color: #fff;
    transition: all 0.3s ease;
}


p {
    margin: 0 0 20px;
    line-height: 1.8;
}


.form-control {
    padding: 5px 20px;
    height: 50px;
    width: 100%;
    font-size: 13px;
    margin: 0px 0;
    border: 1px solid #E2E2E2;
    outline: none;
    font-weight: 500;
    box-shadow: none;
    border-radius: 0px;
    color: #555;
    background: #fff;
}

.form-control-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
}


/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:14px 5%; 
    border-top: 1px solid #e8e8e8;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing:0px;
    font-weight: 600;
    color: #504e50;
    font-size: 12px;

}
.mean-container a.meanmenu-reveal {top:16px; }
.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background: #000;
}
.mean-container .mean-nav ul li a.mean-expand {
    border: 1px solid #e8e8e8;
}
.mean-container .mean-nav ul li li a {
    border-top: 1px solid #c3c1be;
     padding:14px 10%; 
}
.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.3);
}

.mean-container .mean-nav {
    background: #fff;
    margin-top: 84px;
    position: absolute;
    z-index: 10;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 2px 5px -2px rgba(0,0,0,.1);
}
.menu_mobile_v1 { 
    margin-bottom: 0px;
    background: #fff;
    z-index: 999;
    padding: 0 30px;
}
.mobile_logo { z-index: 1; top: 10px; padding-left: 30px; }

#desktop-nav {
    padding:0px;
}
.navbar.main-nav {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 0px;
}
.navbar-nav {
    float: none;
    display: inline-block;
    vertical-align: top;
}

.navbar-nav>li>a {
    /*font-family: "Open Sans";*/
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1.4px;
    font-weight: 600;
    font-style: normal;
    color: #504e50;
    font-size: 12px;

}
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    color: #000;
    background: none;
}
.navbar-nav>li.active:hover>a,
.navbar-nav>li:hover>a.active {
    color: #000;
}

.navbar-nav>li.active a:after,
.navbar-nav>li>a:hover:after {
    width: 50%;
    background: #3A3A3A;
}
.navbar-nav>li>a:after {
    content: '';
    position: relative;
    top: 9px;
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .2s ease;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
    margin: 0;
    border: 1px solid rgba(128, 128, 128, 0.40);
    box-shadow: none;
    padding: 0;
}
.dropdown-submenu.pull-left {float: none; width: 100%;}
.dropdown-submenu.pull-left>.dropdown-menu {width: 100%;}
.dropdown.pull-left .dropdown-menu {left: auto;right: 0;}
.navbar-nav .dropdown-menu {
    border: none;
    border-radius: 0px;
    background: #fff;
    color: #252525;
    
}

.dropdown-menu>li>a {
    display: block;
    padding: 15px 20px;
    color: #000;
    font-family: "Open Sans";
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 600;
    font-size: 11px;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background:rgba(212, 210, 210, 0.3);
    color: #000;
}

.nav-shop >li>a { font-size: 14px; padding: 0 10px; }
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover { background: none; }

.header-main {
    background: white;
    height: 115px;
    display: table;
    transition: all .6s ease;
    width: 100%;
}
.header-left-block {
    display: table-cell;
    vertical-align: middle;
    width: 39%;
    text-align: right;
}
.header-center-block {
    display: table-cell;
    vertical-align: middle;
    width: 20%;
    text-align: center;
}
.header-right-block {
    display: table-cell;
    vertical-align: middle;
    width: 39%;
    text-align: left;
}
.header-right-block .main-nav {
    float: left;
}

.header-cart-icon-wrapper {
    display: inline-block;
    position: relative;
}
.header-cart-icon {
    display: inline-block;
    position: relative;
    top: 17px;
    margin: 0 13px;
    width: 25px;
    height: 25px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-size: 16px 16px;
}
.cart-counter {
    position: absolute;
    top: 5px;
    right: 10px;
    background: #9D8980;
    border-radius: 50%;
    text-align: center;
    padding: 2px 6px;
    font-size: 10px;
    color: white;
    line-height: 14px;
}

/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
.imgrps {
    max-width: 100%;
    height: auto;
}
.art-main {
    position: relative;
    padding: 0;
}
.header { position: relative; }
.header-top { 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    padding: 10px 0 5px;
}
.headtop-social img {
    width: 32px;
    height: 32px;
    margin: 0 5px 5px 0;
}
.headtop-left { margin-top: 5px; }
.header .container {position: relative;}

.logo  { margin:13px 0 0;}
.pmain { margin: 0;}
.mTitle {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-variant-ligatures: common-ligatures;
    margin: 0 0 10px;
}
.sub-title {
    color: #252525;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
}
.in-container {
    padding: 50px 0 0;
}
.in-content {
    line-height: 1.8;
    font-size: 13px;
    padding-bottom: 20px;
}
.in-content p { line-height: 2.2;}
.in-content-full {
    padding-left: 0px;
}
h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 2px;
    font-weight: normal;
    font-style: normal;
    color: #303030;
    font-size: 16px;
    position: relative;
    text-align: left;
     margin: 15px 0;
}
h3 {
    padding: 0;
    margin: 0 0 15px;
    line-height: 1.4;
    color: #787878;
    font-size: 14px;
    text-shadow: 0 1px 1px #fff; 
}

h4{
    line-height: 14px;
    color: #777;
    font-size: 12px;
    text-transform: uppercase;
}
h5 {
    margin: 10px 0 0;
    font-size: 15px;
}

.page-heading{
    position: relative;
    background: rgba(255, 25, 25, 0) url(../images/working-hours.jpg)center center no-repeat fixed;
    background-size: cover;
}
.page-heading::before {
    background: rgba(238, 13, 95, 0.52) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.page-title {
    color: #fff;
    padding: 0;
    margin: 15px 0;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: relative;
}

/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.sp-buttons{
    position: absolute;
    left: -45px;
    top: 20%;
    width: auto;
}
.sp-buttons:before {
    content: '';
    width: 1px;
    padding: 0;
    height: 80px;
    background: #CFCFCF;
    bottom: 110%;
    position: absolute;
}
.sp-buttons:after {
    content: '';
    width: 1px;
    padding: 0;
    height: 175px;
    background: #CFCFCF;
    top: 130%;
    position: absolute;
}
.sp-buttons .sp-button:last-child { margin-bottom: 0; }
.sp-button {
    border-radius: 0;
    background: rgba(125, 125, 125, 0.26);
    border:0;
    display: block;
    margin: 0 0 15px;
    width: 14px;
    height: 14px;
}
.sp-selected-button{
    background:rgb(157, 137, 128);
}
.section { margin-bottom: 50px; }

.title-center {
    text-align: center;
    margin-bottom: 100px;
}
.title-center .icon{
    font-size: 2.15em;
    color: #2A2A2A;
}
.title-center h2 { text-align: center; }
.sub-title {
    font-family: 'Questrial', sans-serif;
    line-height: 15px;
    letter-spacing: 3.2px;
    font-weight: 400;
    font-style: normal;
    color: #9D8980;
    font-size: 10px;
}
.title-center h2:before {
    left: 0px;
    right: 0px;
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 70%;
    margin: 0 auto;
}
.title-center h2 span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

.products-list .item { margin-bottom: 50px; }
.products-list .thumb { position: relative; }
.products-list .item h2{
    padding: .8em 0;
    margin: 0;
    font-size: 1em;
}
.products-list .price {
    font-size: 0.9em;
    color: #000;
    z-index: 100;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
}
.products-list .price del {
    display:inline-block;
    margin-right: 6px;
    opacity: .5;
}
.products-list .price ins {
    text-decoration: none;
    font-weight: 700;
    display: inline-block;
}

.products-list .onsale {
    top: 0;
    right: 0;
    left: auto;
    min-height: 3em;
    min-width: 3em;
    padding: 0.2em 0.7em;
    z-index: 10;
    font-weight: 700;
    position: absolute;
    text-align: center;
    line-height: 3.236;
    margin: 5px;
    background-color: #FFFFFF;
    color: #636363;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
}
.products-list .item:hover .product-icons {
    height: 50px;
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.product-icons {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 5;
    height: 0px;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
}
.product-icons .col {
    position: relative;
    bottom: 0;
    height: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    width: 33.33%;
    width: calc(100% / 3);
    background: white;
    display: inline-block;
}
.product-icons .col1 {
    background-image: url(../images/eye.svg);
    background-size: 24px 33px;
    background-position: center;
    background-repeat: no-repeat;
}
.product-icons .col2 {
    background-image: url(../images/bag.svg);
    background-size: 20px 30px;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
}
.product-icons .col3 {
    background-image: url(../images/heart.svg);
    background-size: 17px 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.products-list .secondary-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.products-list .item:hover .secondary-image {
    opacity: 1;
}

.section-partner .item:hover { 
    opacity: 0.5; 
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}


.title-left { margin-bottom: 50px }
.title-left h3 {
    line-height: 1em;
    font-size: 12px;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.title-left h3:before {
    left: 0px;
    right: 0px;
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 70%;
    margin: 0 auto;
}
.title-left h3 span {
    background: #fff;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}
.box-title {
    z-index: 8;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(193, 193, 193);
    padding: 27px;
    box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    border-radius: 0px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.sale-box {text-align: center; }
.sale-box h3{
    font-family: "Playfair Display";
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}
.box-sub-text {
    font-family: 'Questrial', sans-serif;
    line-height: 15px;
    letter-spacing: 3.2px;
    font-weight: 400;
    font-style: normal;
    color: #9D8980;
    font-size: 10px;
}
a.sale-link {
    color: #666;
    background-color: #FFF;
    font-size: 14px;
    padding: 14px 20px;
    border:1px solid rgba(0,0,0,.1);
    margin-top: 30px;
    display: inline-block;
    transition: all .6s ease;
}
a.sale-link:hover {background: #f0f0f0; color: #5e5e5e; }
.section-sale .row{
    display: flex;
}
.sale-col { 
    background-color: #fcfcfc;  
    display: flex; 
    align-items: center;
    text-align: center;
    justify-content: center;
}


.title-page { margin-bottom: 50px }
.title-page  h2 {
    line-height: 1em;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}
.title-page  h2:before {
    left: 0px;
    right: 0px;
    background: #ddd;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0 auto;
}
.title-page  h2 span {
    background: #fff;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}


/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar-box { 
    margin: 0 0 60px;
    border: 1px solid #E2E2E2;
    padding: 5px 20px 20px;
    overflow: visible;
}
.art-sidebar-name { text-align: center; }
.sidebar-social {text-align: left;}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    line-height: 1.4;
}
.art-sidebar-content .col-2 i { font-size: 18px; color: #781414; }
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 10px;
    line-height: 1.4;
    font-size: 12px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.art-sidebar-content .col-2 .col-right {padding-left: 50px; }
.timeopen .art-sidebar-content .col-2 .col-right {padding-left: 80px;}
.art-sidebar-box h3 {
    position: relative;
    display: inline;
    top: -20px;
    padding: 0 20px;
    background: white;
    font-family: "Playfair Display";
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 16px;
}

.sidebar-hotphone {
    color: #333;
    font-size: 13px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }
.art-sidebar-box ul { padding: 0; margin: 0; margin-left: 15px; list-style: none; }
.art-sidebar-box li { margin-bottom: 10px; }
.art-sidebar-box li a {color: #777777;font-size: 12px;}

.art-sidebar-box li:before {
    content: '';
    border-top: 2px solid #dfdfdf;
    padding: 4px;
    position: relative;
    top: 14px;
    left: -8px;
}
/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-xs-6 { padding: 0 5px; }


.gallery-wrap { display: flex; justify-content: space-between; flex-wrap: wrap; }
.gallery-item { 
    margin-bottom: 10px; 
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.gallery-item span {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    padding-bottom: 75%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gallery-item:after {
    display: none;
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.2s ease-out;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
}
.gallery-item:hover:after {display: block;}
.gallery-item:hover .gallery-info .project-title {
    top: 35%;
    opacity: 1;
    visibility: visible;
}
.gallery-item .gallery-info { text-align: center; }
.gallery-item .icon {
    z-index: 1;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.gallery-item:hover .icon {
    bottom: 0px;
    color: #000;
    opacity: 1;
    visibility: visible;
}
.gallery-item h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    top: 60%;
    z-index: 1;
    position: absolute;
    left: 0;
    color: #fff;
    width: 100%;
    opacity: 0;
    visibility: hidden;
}



/*.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    height: 200px;
    transition: all 0.5s ease;
    background-color: #fff;
}
.gallery-item>span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s ease;
}
.gallery-item span:hover {
    transform: scale(1.1);
}*/
.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}
.pagination>li.active>a.hover-main-color,
.pagination>li.active>span.hover-main-color,
.pagination>li>a:hover.hover-main-color,
.pagination>li>span:hover.hover-main-color {
    background-color: #000;
    color: #fff;
    border: 1px solid #ccc;
}

/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/

.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    height: 30px;
    float: left;
    width: 100%;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 25px;
    top: 45px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}

.group-select {
    margin-right: 0;
    position: relative;
    margin-bottom: 15px;
}
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #ebebeb;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}
.popup_main_area {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#f7f7f7;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color: #121212;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    margin-top: 0;
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}

.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#fff;
    border-radius: 3px;
    color: #222;
    padding-bottom: 10px;
    border: 1px solid #E2E2E2;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #000;font-size: 24px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
.box_cart {margin: 30px auto;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}

.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.maps  { margin-bottom: 30px; }
.maps iframe{
    border: 0;
    height: 400px;
}
.contact-info { color: #777;}

.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p {
    color: #6e6b61;
    font-size: 14px; 
    line-height: 1.4;
    margin: 0 0 20px;
}
.contact-form .form-group{
    margin-bottom: 0;   
}
.btn-submit { margin-top: 20px; }
.contact-form .form-control{
    padding: 16px;
    min-height: 64px;
}

.contact-social { padding-top: 20px; }
.contact-map { margin-bottom: 30px; }
.contact-info h3,
.contact-form h3 {
    color: #000;
    font-size: 16px;
    padding: 0;
}
.contact-form textarea { padding: 20px;}
.contact-form label {
    font-weight: normal;
    color: #555;
}
.contact-map iframe { max-width: 100%; }
.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
    line-height: 35px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
    line-height: 35px;
}
.btn_submit_login { margin-bottom: 30px;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}
.box_register .btn_submit_login {margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}


.contact-name h3 {
    line-height: 1;
    margin: 0;
    color: #781414;
    font-size: 24px;
}
.contact-info .fci-row { display: table-row; }
.contact-info .fci-title,
.contact-info .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    vertical-align: top;
}
.contact-info .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 0; }
h1.service-name {
    font-size: 24px;
    font-style: normal;
    line-height: 1;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-right: 15px;
    font-family: 'Playfair Display', serif;
    color: #000;
}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #cdcdcd;
}
.price-item h4 { font-size: 15px; }
.price-item-number {
    font-size: 18px;
    color: #000000;
    margin: 10px 0;
    font-weight: 600;
    line-height: 1.0;
}
.circle-service-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #e2e2e2;
    display: inline-block;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.top-right {text-align: left;}
.top-right a {
    line-height: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 12px;
    padding-right: 5px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #a9a9a9;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 18px;
    color:#000000;
    font-weight: 600;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 15px;
    font-weight: 600;
}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 20;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:#000;
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}
#back-top a:hover{ opacity: 0.9;  }
.footer {
    margin-top: 60px;
    padding: 2% 0;
    background: #FCFCFC;
}
.footer-main { padding: 20px 0; }
.footer-logo { margin-bottom: 0px; }
.footer-social img {
    margin: 0 5px 5px 0;
    width: 32px;
    height: 32px;
}
.footer-copyright { 
    background: #fff;
    padding: 35px 0; 
    color: #898989;
    font-size: 12px;
}
.menu-footer {
    text-align: center;
}
.menu-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu-footer li {
    display: inline;
    border: 0;
    padding: 0 8px;
}
.menu-footer li a {
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 600;
    font-style: normal;
    color: #504e50;
}
.footer-social { text-align: right; }
.footer-social i{
    margin: 0 20px; 
    color: #898989;
    font-size: 14px;
}