/*
* Translate Menu
* Version 1.0.0
* By ThamLV
*/

/*
* Global CSS
*/
.translate-bar-container, .translate-wrap {
    position: relative;
    z-index: 1;
}

.translate-bar {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.translate-reveal {
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    padding: 5px;

    display: inline-flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 3px;
}

.translate-bar.left .translate-reveal {
    left: 15px;
    right: auto;
}

.translate-bar.center .translate-reveal {
    left: 50%;
    right: auto;
    margin-left: -25px;
}

.translate-bar.right .translate-reveal {
    left: auto;
    right: 15px;
}

.translate-reveal > span {
    position: relative;
    cursor: pointer;
}

.translate-reveal > span,
.translate-reveal > span:before,
.translate-reveal > span:after {
    background-color: #000;
    height: 5px;
    width: 100%;
}

.translate-reveal > span:before,
.translate-reveal > span:after {
    content: "";
    position: absolute;
    left: 0;
}

.translate-reveal > span:before {
    top: -9px;
}

.translate-reveal > span:after {
    bottom: -9px;
}

.translate-reveal.open-reveal > span {
    background-color: transparent;
}

.translate-reveal.open-reveal > span:before {
    top: 0;
    transform: rotate(45deg);
}

.translate-reveal.open-reveal > span:after {
    top: 0;
    transform: rotate(-45deg);
}

.translate-nav {
    position: fixed;
    z-index: 1021;
    top: 0;
    height: 100vh;
    background-color: #fff;
    overflow: hidden auto;
}

.translate-nav.left {
    left: 0;
}

.translate-nav.right {
    right: 0;
}

.translate-overlay {
    position: absolute;
    z-index: 1021;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.translate-reveal > span,
.translate-reveal > span:before,
.translate-reveal > span:after,
.translate-nav, .translate-wrap, .translate-overlay {
    -webkit-transition: -webkit-all .30s ease;
    -o-transition: -o-all .30s ease;
    -moz-transition: all .30s ease;
    transition: all .30s ease;
}

/*
* Menu CSS
*/
.translate-nav {
    padding: 15px;
}

.translate-nav ul, .translate-nav li {
    margin: 0;
    padding: 0;
}

.translate-nav li a {
    display: block;
    color: #000;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 7px 0;
}

.translate-nav li + li a {
    border-top: 1px solid #eee;
}

.translate-submenu {
    position: relative;
    z-index: 1;
    padding-right: 30px;
}

.translate-expand {
    position: absolute;
    left: auto;
    top: 1px;
    right: 0;
    bottom: 0;
    width: 30px;
    border-left: 1px solid #eee;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #eee;
}

.translate-expand > * {
    flex: 1;
    font-size: 15px;
}

.translate-contract, .translate-nav li.translate-contract {
    padding: 7px 0;
    font-size: 13px;
}

.translate-expand, .translate-contract {
    cursor: pointer;
}

/*
* Animation
*/
@keyframes slide-in-left{
    from{
        transform: translateX(240px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-out-left{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(-240px);
    }
}

@keyframes slide-in-right{
    from{
        transform: translateX(-240px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slide-out-right{
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        opacity: 0;
        transform: translateX(240px);
    }
}