/*
@import url("animate.css");
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("multi-row-grid.css");
@import url("owl.carousel.css");
@import url("menu_bar.css");
@import url("bootstrap-datepicker.css");
@import url("magnific-popup.css");
@import url("selectric.css");
@import url("jquery.fancybox.min.css");
*/
/*

    1. Reset

    2. Header

    3. Content

    4. Footer

    */
/**
 * Fonts
 * -----------------------------------------------------------------------------
 */
 @font-face {
    font-family: 'CALI MT regular';
    src: url('../fonts/CALIST.ttf') format("woff"); 
}
@font-face {
    font-family: 'CALI MT bold';
    src: url('../fonts/CALISTB.ttf') format("woff"); 
}
@font-face {
    font-family: 'CALI MT Bold Italic';
    src: url('../fonts/CALISTBI.ttf') format("woff"); 
}
@font-face {
    font-family: 'CALI MT Italic';
    src: url('../fonts/CALISTI.ttf') format("woff"); 
}
/**
 * 1.0 - Reset
 * -----------------------------------------------------------------------------
 */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, font, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline; 
}

body {
    position: relative;
    overflow-x: hidden;
    font-size: 13px;
    /*font-family: 'Montserrat', 'Roboto', 'Roboto Light', 'Arial', 'sans-serif';*/
    color: #000;
    font-weight: 300;
    
}
.body-audio{
    margin-bottom: 35px;
}
h1, h2, h3, h4, h5, h6 {
    clear: both; 
}


img {
    max-width: 100%;
    height: auto;
    width: auto;
    border: 0;
    vertical-align: middle; 
}

a {
    text-decoration: none;
    color: #333333; 
}

a:hover {
    color: #8496b0;
    text-decoration: none; 
}
a[href^="tel"] { color: inherit; text-decoration: none; }
a:focus {
    text-decoration: none;
    color: inherit;
    outline: none; 
}

a, button, input {
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s; 
}

*, *:before, *:after {
    box-sizing: border-box; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; 
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; 
}

ul {
    list-style: none;
    padding: 0; 
}

ul:after, section:after {
    content: '';
    clear: both;
    display: block; 
}

small {
    font-size: 80%; 
}
.abs-styl{
    position: absolute;
}
.rev-styl{
    position: relative;
}
.zindex-1{
    z-index: 1;
}
.zindex-2{
    z-index: 2;
}
.zindex-3{
    z-index: 3;
}
.zindex-4{
    z-index: 4;
}
.zindex-5{
    z-index: 5;
}
.zindex-9{
    z-index: 9;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.mar-15{
    margin: 15px 0px;
}
.mar-top-15{
    margin-top: 15px;
}
.mar-bottom-15{
    margin-bottom: 15px;
}
.mar-left-15{
    margin-left: 15px;
}
.mar-right-15{
    margin-right: 15px;
}
.pad-15{
    padding: 15px 0px;
}
.pad-top-15{
    padding-top: 15px;
}
.pad-bottom-15{
    padding-bottom: 15px;
}
.pad-left-15{
    padding-left: 15px;
}
.pad-right-15{
    padding-right: 15px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #009846;
    position: relative;
}
.transition{
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
}
.transition1{
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s; 
}
.transition1-5{
    transition: all 1.5s ease-in-out 0s;
    -moz-transition: all 1.5s ease-in-out 0s;
    -o-transition: all 1.5s ease-in-out 0s;
    -webkit-transition: all 1.5s ease-in-out 0s;
    -ms-transition: all 1.5s ease-in-out 0s; 
}
.transition2{
    transition: all 2s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    -o-transition: all 2s ease-in-out 0s;
    -webkit-transition: all 2s ease-in-out 0s;
    -ms-transition: all 2s ease-in-out 0s; 
}
.transition2-5{
    transition: all 2.5s ease-in-out 0s;
    -moz-transition: all 2.5s ease-in-out 0s;
    -o-transition: all 2.5s ease-in-out 0s;
    -webkit-transition: all 2.5s ease-in-out 0s;
    -ms-transition: all 2.5s ease-in-out 0s; 
}
.transition3{
    transition: all 3s ease-in-out 0s;
    -moz-transition: all 3s ease-in-out 0s;
    -o-transition: all 3s ease-in-out 0s;
    -webkit-transition: all 3s ease-in-out 0s;
    -ms-transition: all 3s ease-in-out 0s; 
}
.transition3-5{
    transition: all 3.5s ease-in-out 0s;
    -moz-transition: all 3.5s ease-in-out 0s;
    -o-transition: all 3.5s ease-in-out 0s;
    -webkit-transition: all 3.5s ease-in-out 0s;
    -ms-transition: all 3.5s ease-in-out 0s; 
}
.transition4{
    transition: all 4s ease-in-out 0s;
    -moz-transition: all 4s ease-in-out 0s;
    -o-transition: all 4s ease-in-out 0s;
    -webkit-transition: all 4s ease-in-out 0s;
    -ms-transition: all 4s ease-in-out 0s; 
}
.mar-left{
    margin-left: -200px;
    opacity: 0;
}
.mar-right{
    margin-right: -200px;
    opacity: 0;
}
.mar-top{
    margin-top: -200px;
    opacity: 0;
}
.mar-bottom{
    margin-bottom: -200px;
    opacity: 0;
}
.abs-left{
    left: -500px;
    opacity: 0;
}
.abs-top{
    top: -500px;
    opacity: 0;
}
.abs-bottom{
    bottom: -500px;
    opacity: 0;
}
.abs-right{
    right: -500px;
    opacity: 0;
}
h2.layout-title{
    text-align: center;
    width: 100%;
    font-size: 30px;
}
h3.sub-layout-title{
    text-align: center;
    margin-top: 50px;
}
.uppercase{
    text-transform: uppercase;
}
/**
* Width
* -----------------------------------------------------------------------------
*/
.width-100{
    width: 100%;
}
.width-75{
    width: 75%;
}
.width-50{
    width: 50%;
}
.width-33{
    width: 33.33333%;
}
.width-25{
    width: 25%;
}
.width-20{
    width: 20%;
}
/** end Width */

/*font-title*/
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
/*end font-title*/

/**
* Position
* -----------------------------------------------------------------------------
*/
.center{
    text-align: center;
}
.txt-left{
    text-align: left;
}
.txt-right{
    text-align: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
/** end Position */

/**
* Background
* -----------------------------------------------------------------------------
*/
.background-white{
    background: #ffffff;
}
.background-black{
    background: #000000;
}
.background-eb{
    background: #ebebeb;
}
.background-f9{
    background: #f9f9f9;
}
.background-42{
    background: #424242;
}
/** end Background */

/**
* Border
* -----------------------------------------------------------------------------
*/
.border-dashed-cc{
    border: 1px dashed #ccc;
}
.border-dashed-eb{
    border: 1px dashed #ebebeb;
}

.border-solid-cc{
    border: 1px solid #ccc;
}
.border-solid-eb{
    border: 1px solid #ebebeb;
}
/** end Border */

/**
* Box-shadow
* -----------------------------------------------------------------------------
*/
.box-shadow{
    box-shadow: 0px 4px 10px #ebebeb;
}
/** end Box-shadow */

/**
* Padding
* -----------------------------------------------------------------------------
*/
.pad-15{
    padding: 15px;
}
.pad-5{
    padding: 5px;
}
.pad-10{
    padding: 10px;
}
.pad-vertical-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-horizontal-15{
    padding-left: 15px;
    padding-right: 15px;
}
.pad-vertical-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-horizontal-5{
    padding-left: 5px;
    padding-right: 5px;
}
.pad-vertical-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-horizontal-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pad-0{
    padding: 0px;
}
/** end Padding */

/**
* Margin
* -----------------------------------------------------------------------------
*/
.mar-15{
    margin: 15px;
}
.mar-5{
    margin: 5px;
}
.mar-10{
    margin: 10px;
}
.mar-vertical-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mar-horizontal-15{
    margin-left: 15px;
    margin-right: 15px;
}
.mar-vertical-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mar-horizontal-5{
    margin-left: 5px;
    margin-right: 5px;
}
.mar-vertical-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mar-horizontal-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mar-0{
    padding: 0px;
}
.mar-left-10{
    margin-left: 10px;
}
.mar-right-10{
    margin-right: 10px;
}
/** end Padding */

/**
* Display
* -----------------------------------------------------------------------------
*/
.block{
    display: block;
}
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.ds-table{
    display: table;
    width: 100%;
}
.vertical{
    display: table-cell;
    vertical-align: middle;
}
/** end Display */

/*effect menu 1*/
.menu-effect-1{

}
.menu-effect-1 ul{
    
}
.menu-effect-1 ul li{
    
}
.menu-effect-1 ul li a{
    border: 1px solid transparent;
}
.menu-effect-1 ul li a i{
    margin-right: 6px;
}
.menu-effect-1 ul li a:hover{
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.menu-effect-1 ul li.active a{
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
/*end effect menu 1*/

/*menu side bar mobile*/
.content-side-menu{
    float: left;
    width: 100%;
    position: relative;
    z-index: 99;
}
.shadow-mobile {
    position: absolute;
    background: rgba(0, 0, 0, 0.49);
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: none;
    cursor: pointer;
}
/*end menu side bar mobile*/

/*effect img*/
.eff-v3:hover:before, .eff-v3:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.eff-v3:before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.48);
    border-top: 1px solid rgba(255, 255, 255, 0.48);
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}
.eff-v3:after {
    border-left: 1px solid rgba(255, 255, 255, 0.48);
    border-right: 1px solid rgba(255, 255, 255, 0.48);
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
}
.eff-v3:before, .eff-v3:after {
    bottom: 20px;
    content: "";
    left: 20px;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    -webkit-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    z-index: 1;
}
.eff-v3 {
    background-color: #000;
    overflow: hidden;
    position: relative;
}
.eff-v3 img {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.35s ease 0s;
    -o-transition: opacity 0.35s ease 0s;
    transition: opacity 0.35s ease 0s;
}
.eff-v3:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
/*end effect img*/

/**
* 2.0 - Header
* -----------------------------------------------------------------------------
*/

.welcome-text {
    font-size: 13px;
    font-family: 'Roboto', 'Roboto Light', 'Arial', 'sans-serif';
    color: #000;
    font-weight: 300;
}
.contact-link{
    font-size: 13px;
    font-family: 'Roboto', 'Roboto Light', 'Arial', 'sans-serif';
    color: #000;
    font-weight: 300;
}
/** end Header */

/**
* 3.0 - logo
* -----------------------------------------------------------------------------
*/
/*Banner slider index*/
.banner-slider-index{
    float: left;
    width: 100%;
}
.tp-banner-container{
    position: relative;
}
/*end slider*/

/*main content*/
.audio-bg{
    float: left;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 9999999999;
}
.audio-bg audio{
    float: left;
    width: 100%;
}
/*end main content*/

/*footer*/
.footer-2 .footer-col{
    float: left;
    width: 50%;
}
.footer-3 .footer-col{
    float: left;
    width: 33.333333%;
}
.footer-4 .footer-col{
    float: left;
    width: 25%;
}
.footer-col h2{
    font-family: "Open Sans";
    color: rgb(102, 102, 102);
}
.footer-col{
    padding-right: 7px;
    padding-left: 7px;
}
.row-7{
    margin-left: -7px; 
    margin-right: -7px;
}
.our-gallery .item-our-gallery{
    float: left;
    width: 50%;
    border: 4px solid transparent;
}
/*end footer*/

/*paginate*/
.paginate{
    float: left;
    width: 100%;
    text-align: center;
}
.paginate ul li{
    display: inline-block;
}
.paginate ul li a {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    border: 1px solid #ccc;
    margin: 0px 3px;
}
.paginate ul li.active a, .paginate ul li:hover a {
    background: #ccc;
    color: #fff;
}
/*end paginate*/

/*error alert*/
.errorMessage {
    text-align: left;
    color: red;
    font-size: 12px;
    margin-bottom: 7px;
}
.subscrible-form .errorMessage{
    display: block;
    text-align: left;
    color: red;
    font-size: 12px;
    margin-bottom: 7px;
    position: absolute;
}
/*end error alert*/

.module-position {
    min-height: 4px;
    display: block;
    float: left;
    width: 100%;
    z-index: 999999;
    position: relative;
        margin-bottom: 80px;
}
.LOpopup{
    z-index: 999999999;
}
.module-position ul li a{
    color: #000 !important;
}
.admin_panel {
    z-index: 99999999;
    position: relative;
}