.menu-bar-mobile {
    position: fixed;
    height: 100%;
    width: 300px;
    background: #fff;
    z-index: 9999999;
    box-shadow: 1px 0px 1px #ccc;
    overflow-y: scroll;
    opacity: 0;
    margin-left: -305px;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
}
.menu-bar-mobile-show{
    margin-left: 0px;
    opacity: 1;
}
.logo-menu{
	float: left;
	width: 100%;
	background: #fff;
}
.logo-menu img{
	width: 80%;
	margin-bottom: 15px;
}
.menu-bar-lv-1{
	float: left;
	width: 100%;
	position: relative;
}
.menu-bar-lv-1 a {
    float: left;
    width: 100%;
    height: 40px;
    line-height: 30px;
    background: #fff;
    margin-bottom: 1px;
    padding: 5px 15px;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
}
.menu-bar-lv-1 a:hover{
	box-shadow: 0px 0px 2px #443333;
}
.menu-bar-lv-1 span {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 30px;
    height: 30px;
    font-size: 17px;
    text-align: center;
    padding-top: 9px;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s; 
}
.menu-bar-lv-2, .menu-bar-lv-3{
	position: relative;
	float: left;
    width: 100%;
    display: none;
}
.menu-bar-lv-2 a {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 15px;
}
.menu-bar-lv-2 i:last-child{
	margin-right: 7px;
}
.menu-bar-lv-3 a {
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 33px;
}
.rotate-menu{
	transform:rotate(180deg);
	top: 10px !important;
}
.menu-btn-show {
    position: absolute;
    width: 28px;
    height: 27px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    z-index: 9999;
    top: 125px;
}
.menu-btn-show .border-style {
    width: 100%;
    height: 4px;
    background: #515151;
    float: left;
    margin-bottom: 5px;
}
.fixed-box .menu-btn-show .border-style{
	background: #707070;
}
.box-login-logout {
    float: left;
    width: 100%;
    position: relative;
    background: #f9f9f9;
}
.boder-rotate {
    position: absolute;
    left: 50%;
    height: 40px;
    width: 1px;
    background: #ebebeb;
    transform: rotate(30deg);
}
.box-login-logout i{
	margin-right: 6px;
}
.box-login-logout .left{
    float: left;
    width: 50%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    font-size: 15px;
    border-top: 1px solid #ebebeb;
}
@media screen and (min-width: 992px) {
	.menu-btn-show{
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.menu-btn-show{
		display: block;
	}
    .main-menu ul{
        display: none;
    }
}
@media screen and (max-width: 360px) {
	.menu-bar-mobile{
		width: 250px;
	}
}