@media (min-width: 1900px) {
	.img-slider-index img{
	    width: 100%;
	}
}
@media screen and (min-width: 1400px) {

}
@media screen and (max-width: 1399px) {
	.ctn-contact-form-1 iframe{
		width: 100%;
		float: left;
	}
}
@media screen and (max-width: 1280px) {

}
@media screen and (min-width: 1200px) {

}

@media screen and (max-width: 1200px) {	
	.img-slider-index {
	    float: left;
	    width: 100%;
	    position: relative;
	    z-index: 1;
	    height: 100%;
	}
	.tp-simpleresponsive img {
	    max-width: 170% !important;
	}
	.header-container .layout-header-2 {
	    float: left;
	    width: 100%;
	}
	.header-container .layout-header-3 {
	    float: left;
	}
	.logo img {
	    width: 160px;
	    margin: 15px 0px;
	}
	.menu-btn-show {
	    margin-top: 0px;
	    margin-right: 0px;
	}
	.bg-about-us {
	    width: 100%;
	    padding-right: 0;
	    float: left;
	    width: 100%;
	    margin: 40px 0px;
	    margin-bottom: 20px;
	}
	.layout-header-1{
		margin: 0px;
	}
	.list-services-style-2 .item-services {
	    float: left;
	    width: 50%;
	    border-bottom: none;
	}
	.list-services-style-2 .img-item-services {
	    float: left;
	    width: 100%;
	    position: relative;
	    text-align: center;
	    margin-bottom: 30px;
	}
	.list-services-style-2 .img-item-services a {
	    width: 180px;
	    height: 180px;
	    border-radius: 50%;
	    margin-right: 0px;
	    overflow: hidden;
	    border: 5px solid #d59ebf;
	    position: relative;
	    margin-top: 25px;
	    display: inline-block;
	    float: initial;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 24px;
	    right: 105px;
	}
	.list-services-style-2 .title-item-services {
	    padding-left: 0px;
	    text-align: center;
	}
	.menu-btn-show {
	    position: absolute;
	    width: 28px;
	    height: 27px;
	    float: right;
	    margin-right: 15px;
	    cursor: pointer;
	    z-index: 9999;
	    top: 40px;
	    right: 0px;
	}
	.logo{
		position: relative;
	}
	.about-flex{
		display: block;
	}
	.about-flex .col-xs-6{
		width: 100%;
	}
	.img-about-us-index a img {
	    min-width: 100%;
	    max-width: 100%;
	    min-height: initial;
	    max-height: initial;
	    margin-left: 0%;
	    position: relative;
	}
	.img-about-us-index a {
	    position: relative;
	    height: initial;
	    padding: 0px;
	    left: 0px;
	}
	.img-about-us-index{
		padding-top: 0px;
	}
	.item-our-services {
	    float: left;
	    margin-bottom: 50px;
	}
	.book-online a {
	    float: right;
	    color: #f9a392;
	    font-family: 'Open Sans';
	    font-weight: 400;
	    text-transform: uppercase;
	    font-size: 14px;
	    background: #fff;
	    padding: 5px;
	    margin-top: 24px;
	    max-height: 52px;
	    white-space: nowrap;
	    margin-left: 20px;
	}
	.our-services .container {
	    position: relative;
	    z-index: 999;
	}
	.about-us-inpage .img-about-us-index a img {
	    min-width: 100%;
	    max-width: 100%;
	    min-height: initial;
	    max-height: initial;
	    margin-left: 0%;
	}
	.about-us-inpage .img-about-us-index a {
	    position: relative;
	    height: 100%;
	    left: 0px;
	    width: 100%;
	    top: 0px;
	    overflow: hidden;
	    padding: 0px;
	}
	.title-our-services h2 a {
    	color: #000;
	    font-weight: 400;
	    letter-spacing: 0.5px;
	    font-size: 22px;
	    text-transform: uppercase;
	    font-family: 'CALI MT regular';
	}
	.about-us-inpage .img-about-us-index{
		padding: 0px;
		margin: 0px;
	}
	.bg-about-us{
		margin-top: 20px;
	}
	.ourteam-of-shop .col-xs-6{
		margin-bottom: 30px;
	}
	
	.main-menu {
	    padding-left: 0px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	    text-align: center;
	}
	.main-menu ul li a {
	    font-size: 13px;
	    font-weight: 400;
	    text-transform: uppercase;
	    color: #000;
	    border-bottom: 1px solid transparent;
	}
	.bg-about-us .title-standard h2 {
	    color: #000;
	    font-family: 'CALI MT regular';
	    font-size: 36px;
	    font-weight: 300;
	    margin: 15px 0px 0 0;
	    position: relative;
	    text-transform: uppercase;
	}
}
@media screen and (max-width: 1024px) {
	.gallery-index{
		overflow: hidden;
	}
	.header-container {
	    float: left;
	    width: 100%;
	    position: relative;
	    overflow: hidden;
	}
	#owl-our-services{
		margin: 20px 0px;
	}
	#owl-our-services .owl-prev {
	    position: absolute;
	    top: 26%;
	    left: -15px;
	    color: #fff;
	    font-size: 63px;
	}
	#owl-our-services .owl-next {
	    position: absolute;
	    top: 26%;
	    right: -15px;
	    color: #fff;
	    font-size: 63px;
	}
	.bg-about-us {
	}
	.bg-nail-gallery {
	    background-position: left bottom;
	    position: absolute;
	    left: 0px;
	    bottom: -100px;
	    width: 1000px;
	    height: 570px;
	    background-repeat: no-repeat;
	    z-index: 99;
	    background-size: 65%;
	}
	.ctn-gallery-instagram ul li {
	    width: 20%;
	    float: left;
	    padding: 3px;
	    background: #fff;
	}
	.content-item-about-us p{
		padding-right: 0px;
	}
}
@media screen and (max-width: 992px) {
	.news-page-stl .col-xs-12{
		width: 100%;
	}
	.page-services {
	    float: left;
	    width: 100%;
	    padding: 0px 0px;
	}
	.page-services .col-xs-12{
		width: 100%;
		margin-top: 20px;
	}
	.des-box-services p {
	    font-family: 'CALI MT regular';
	    font-size: 15px;
	    line-height: 25px;
	    margin-top: 2px;
	}
	.faq-accordion{
		padding: 15px;
	}
	.faq-accordion .col-lg-6{
		width: 100%;
	}
	.main-menu{
		display: none;
	}
	.header-container .layout-header-3 {
	    float: left;
	    width: 100%;
	}
	.menu-btn-show {
	    position: absolute;
	    width: 28px;
	    height: 27px;
	    float: right;
	    margin-right: 15px;
	    cursor: pointer;
	    z-index: 9999;
	    top: 55px;
	    right: 0px;
	}
	.owl-prev {
	    position: absolute;
	    left: 0px !important;
	    top: 50%;
	    font-size: 40px;
	    opacity: 1 !important;
	}
	.owl-next {
	    position: absolute;
	    right: 0px !important;
	    top: 50%;
	    font-size: 40px;
	    opacity: 1 !important;
	}
	.ctn-blog-news-index {
	    float: left;
	    width: 100%;
	    padding: 40px 30px;
	}
	.owl-blog-news .owl-prev {
	    position: absolute;
	    left: -20px !important;
	    top: 50%;
	    font-size: 40px;
	    opacity: 0;
	}
	.owl-blog-news .owl-next {
	    position: absolute;
	    right: -20px !important;
	    top: 50%;
	    font-size: 40px;
	    opacity: 1 !important;
	}
	.layout-header-1 .col-xs-6 {
	    width: 100%;
	    text-align: center;
	}
	.contact-link{
		width: 100%;
	}
	.ourteam-of-shop  .col-sm-4 {
	    width: 50%;
	}
	.news-page-stl .listnews .list-item {
	    float: left;
	    width: 50%;
	    padding: 0px 15px;
	    margin-bottom: 30px;
	}
	.logo-menu img {
	    width: 65%;
	    margin-bottom: 15px;
	    margin-top: 15px;
	}
	.title-item-services .view-more {
	    float: left;
	}
	.bg-contact-form{
		display: none;
	}
	.ctn-contact-form-1 .col-sm-6{
		width: 100%;
	}
	.contact-form-1 {
	    float: left;
	    width: 100%;
	    background: #fefcfd;
	    padding: 10px 0px;
	    position: relative;
	    z-index: 9999;
	    padding-bottom: 10px;
	}
	.ctn-gallery-index .flex{
		display: block;
	}
	.ctn-gallery-index .col-sm-5, .ctn-gallery-index .col-sm-7{
		width: 100%;
		margin-bottom: 30px;
	}
	.gallery-img-big, .gallery-img-small {
	    float: left;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    max-height: initial;
	}
	.gallery-img-small a{
	    float: left;
	    width: 50%;
	    height: 210px;
	}
	.gallery-img-small a:first-child{
		border: none;
	        border-right: 15px solid #fff;

	}
	.gallery-img-small a:last-child{
		border: none;
	    border-left: 15px solid #fff;
	}
	.bg-about-us {
	}
	.gallery-img-big a, .gallery-img-big a img {
	    float: left;
	    height: initial;
	    min-width: 100%;
	}
	.content-item-about-us {
	    float: left;
	    width: 100%;
	    padding: 0px;

	    margin-bottom: 30px;
	}
	.img-item-about-us {
	    float: left;
	    width: 100%;
	}
	.about-us-page-1 .item-about-us:nth-child(2n+1) .content-item-about-us {
	    float: right;
	    padding: 0px;

	    margin-bottom: 30px;
	}
	.show-iframe, .width-show-iframe{
		width: 97%;
		height: 300px;
	}
	.logo-menu{
		text-align: center;
	}
	.subscrible {
	    background-size: 100% !important;
	}
	.news-page-stl .listnews-style2 .list-item {
	    width: 100%;
	}
	.news-page-stl .listnews-style2 .list-content-detail p {
	    float: left;
	    width: 100%;
	    font-size: 15px;
	    font-weight: 300;
	    font-family: Roboto;
	    text-align: justify;
	    height: 87px;
	    overflow: hidden;
	}
	.list-services-style-2 .title-item-services .view-more {
	    float: initial;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 22px;
	    right: 49px;
	}
	.left-ctn-book .item-booking .group-select, .left-ctn-book .item-booking .btn-item-booking {
	    width: 100%;
	    float: left;
	    margin-right: 0px;
	    padding-right: 0px;
	    margin-bottom: 30px;
	    position: relative;
	}
	.left-ctn-book .item-booking:first-child > .group-select:after {
	    content: "";
	    height: 60px;
	    width: 1px;
	    background: #ccc;
	    position: absolute;
	    right: 14px;
	    top: 28px;
	    display: none;
	}
	.infor-booking{
		display: block !important;
	}
	.book-online span {
	    color: #fff;
	    font-family: 'Open Sans';
	    font-weight: 300;
	    text-transform: uppercase;
	    font-size: 16px;
	    float: left;
	    padding-top: 28px;
	}
	.welcome-text {
	    font-size: 14px;
	    color: #fff;
	    font-weight: 300;
	    line-height: 21px;
	}
	.contact-link p {
	    margin-left: 7px;
	}
	.book-online .container{
		display: flex;
	}
	.address-top-page{
	    float: right;
	    display: block;
	    text-align: center;
	    width: 100%;
	}
	.address-top-box-1 {
	    float: left;
	    display: block;
	    margin-right: 0px;
	    width: 33.33333%;
	    text-align: left;
	    padding-right: 20px;
	}
	.address-top-page .address-top-box-1:last-child{
	    margin-right: 0px;
	}
	.icon-top-box-1{
	    margin-top: 0px;
	    margin-right: 15px;
	    float: left;
	}
	.icon-top-box-1 img{
	    margin-top: 22px;
	}
	.title-top-box-1 h2 {
	    font-family: 'CALI MT regular';
	    color: #000000;
	    font-size: 16px;
	    font-weight: normal;
	    margin-bottom: 5px;
	    margin-top: 22px;
	    text-transform: uppercase;
	    clear: initial;
	    text-align: left;
	}
	.title-top-box-1 a, .title-top-box-1 p{
	    color: #fdb1aa;
	    font-family: 'CALI MT regular';
	    font-size: 16px;
	    font-weight: normal;
	    text-align: left;
	}
	.layout-header-1,.address-top-page{
	display: none;
	}
}

@media screen and (max-width: 950px) {
	.services-book-inpage .content-shop-booking{
		width: 100%;
	}
	.services-book-inpage .btn-search {
	    float: left;
	    width: 126px;
	    height: 41px;
	    margin-top: 244px;
	    margin-left: 30px;
	    border: none;
	    color: #fff;
	    background: #f9a392;
	    text-transform: uppercase;
	    position: relative;
	}
	.box-date {
	    margin-right: 0px;
	    width: 95%;
	}
	.input-date {
	    float: left;
	    width: 80%;
	    position: relative;
	}
}
@media screen and (max-width:850px) {
	.subscrible-form h2 {
	    display: inline-block;
	    font-size: 30px;
	    margin: 0px;
	    width: 100%;
	    margin-bottom: 15px;
	}
	.subscrible {
	    float: left;
	    width: 100%;
	    margin-top: 80px;
	    background: url('../images/bg-footer.png') no-repeat;
	    height: initial;
	}
	.subscrible .item-subscrible {
	    width: 60%;
	    display: inline-block;
	    margin: 10px 20px;
	}
	.subscrible .style-button {
	    display: inline-block;
	    float: initial;
	    display: block;
	    text-align: center;
	    width: 120px;
	    margin: 0 auto;
	    margin-top: 30px;
	}
	.ctn-gallery-instagram ul li {
	    width: 25%;
	    float: left;
	    padding: 3px;
	    background: #fff;
	}
	.box-descript-slide h2 {
    	font-family: 'Prata', serif !important;
	    font-weight: 400 !important;
	    color: #fff;
	    font-size: 30px !important;
	    background: transparent !important;
	    text-transform: uppercase !important;
	    width: 100% !important;
	    text-align: center !important;
	    margin: 10px 0px;
	}
}
@media screen and (max-width : 767px) {
	.item-our-services {
	    float: left;
	    margin-bottom: 0px;
	}
	.tp-simpleresponsive >ul >li{
		/*position: relative !important;*/
	}
	.form-input-card label, .form-input-card input{
		margin-bottom: 10px;
	}
	.form-input-card input {
	    min-width: 95%;
	}
	.form-input-name input {
	    min-width: 95%;
	   margin-bottom: 15px;
	}
	.banner-page-list {
	    overflow: hidden;
	    background-position: center center;
	    background-attachment: initial;
	}
	.banner-page-list .title-page {
	    position: absolute;
	    float: left;
	    width: 100%;
	    height: 100%;
	    max-height: 225px;
	    left: 0px;
	}
	.contact-page-1{
		padding: 20px 0;
	}
	.gift-card-step-2 {
	    width: 93%;
	    margin: 40px auto;
	}
	.bg-nail-gallery {
	    background-position: left bottom;
	    position: absolute;
	    left: 0px;
	    bottom: 0px;
	    width: 1000px;
	    height: 570px;
	    background-repeat: no-repeat;
	    z-index: 99;
	    background-size: 35%;
	}
	.news-page-stl .listnews .list {
	     margin-top: 0px; 
	    float: left;
	    width: 100%;
	}
	.news-page-stl .listnews-style2 .list-content-detail p {
	    float: left;
	    width: 100%;
	    font-size: 15px;
	    font-weight: 300;
	    font-family: Roboto;
	    text-align: justify;
	    height: initial;
	    overflow: hidden;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 22px;
	    right: 96px;
	}
	.header-container .layout-header-2 {
	    float: left;
	    width: 100%;
	    margin: 0px;
	}
	.bg-about-us, .gallery-index, .subscrible{
		margin-top: 0px;
	}
	.contact-footer .col-xs-6{
		width: 100%;
	}
	.img-desc-shop iframe {
	    height: 300px;
	    width: 100%;
	}
	.cart_continue_cus{
		margin-bottom: 10px;
		display: block;
	}
}
@media screen and (max-width : 700px) {
	.tp-rightarrow, .tp-leftarrow {
	    background-size: 21px !important;
	        height: 44px !important;
	}
	.left-ctn-book{
	    float: left;
	    width: 100%;
	}
	.gift-card-step-3 {
	    float: left;
	    width: 86%;
	    padding: 20px;
	    border-radius: 5px;
	    border: 2px solid #999;
	    margin: 30px;
	}
	.layout-header-1 .col-xs-6{
		width: 100%;
		text-align: center;
	}
	.contact-link {
	    float: right;
	    width: 100%;
	}
	
	.menu-btn-show {
	    position: absolute;
	    width: 28px;
	    height: 27px;
	    float: right;
	    margin-right: 15px;
	    cursor: pointer;
	    z-index: 9999;
	    top: 55px;
	    right: 0px;
	}
	.input-date {
	    float: left;
	    width: 67%;
	    position: relative;
	}
	.contact-us-index .col-xs-6{
		width: 100%;
	}

	.contact-us-index > .container > .row{
		display: block;
	}
	.img-contact-us-index {
	    bottom: -2px;
	    position: relative;
	    left: 0px;
	    width: 95%;
	}
}
@media screen and (max-width : 640px) {
	.product-services-left {
	    float: left;
	    width: 80%;
	    border: 1px solid #fbafa9;
	    height: 152px;
	    border-left: none;
	    margin-left: 90px;
	    padding-left: 44px;
	    margin-right: 35px;
	    position: relative;
	}
	.des-box-services p {
	    font-family: 'CALI MT regular';
	    font-size: 15px;
	    line-height: 25px;
	    float: left;
	    width: 100%;
	    padding: 30px;
	}
	.product-services-left:after {
	    position: absolute;
	    content: "";
	    width: 14px;
	    top: initial;
	    bottom: -7px;
	    height: 14px;
	    background: #ffffff;
	    border-left: 1px solid #f9a392;
	    margin: auto;
	    border-bottom: 1px solid #ccc;
	    transform: rotate(-48deg);
	    right: -8px;
	    left: 0px;
	}
	.about-us .col-xs-5, .about-us .col-xs-7{
		width: 100%;
	}
	.menu-btn-show {
	    position: absolute;
	    width: 28px;
	    height: 27px;
	    float: right;
	    margin-right: 15px;
	    cursor: pointer;
	    z-index: 9999;
	    top: 55px;
	    right: 0px;
	}
	.box-descript-slide h2 {
	    font-family: 'Prata', serif !important;
	    font-weight: 400 !important;
	    color: #fff;
	    font-size: 24px !important;
	    background: transparent !important;
	    text-transform: uppercase !important;
	    width: 100% !important;
	    text-align: center !important;
	    margin: 16px 0px;
	}
	.box-descript-slide p {
	    font-family: 'Open Sans', serif !important;
	    font-size: 15px !important;
	    font-weight: 400 !important;
	    background: transparent !important;
	    color: #fff;
	    width: 300px !important;
	    text-align: center !important;
	    text-transform: none !important;
	    margin-top: 00px !important;
	    margin-bottom: 20px;
	    margin: 0 auto;
	    white-space: normal;
	}
	.address-top-box-1 {
	    float: left;
	    display: block;
	    margin-right: 0px;
	    width: 100%;
	    text-align: left;
	    padding-right: 20px;
	}

	.bg-about-us .title-standard{
		text-align: left;
	}

	.ctn-about-inpage p{
		text-align: left;
	}

	.view-more-about{
		float: left;
	}

	.services-item-product{
		display: inline-block;
	}
}
@media screen and (max-width : 620px) {
	.book-btn-care {
	    float: left;
	    width: 100%;
	    padding: 0 15px;
	}
	.group-select {
	    float: left;
	    width: 100%;
	    margin-right: 30px;
	}
	.box-date {
	    margin-right: 0px;
	    width: 100%;
	}
	.left-ctn-book{
	    float: left;
	    width: 100%;
	}
	.input-newsletter {
	    width: 100%;
	    margin: 30px auto;
	    display: inline-block;
	    position: relative;
	}
	.book-online span {
	    color: #fff;
	    font-family: 'Open Sans';
	    font-weight: 300;
	    text-transform: uppercase;
	    font-size: 16px;
	    float: left;
	    padding-top: 20px;
	    display: block;
		float: left;
		width: 100%;
		text-align: center;
	}
	.book-online {
	    float: left;
	    width: 100%;
	    background: #f9a392;
	    height: inherit;
	    padding-bottom: 15px;
	    text-align: center;
	}
	.book-online .container{
		display: block;
	}
	.book-online a {
	    float: inherit;
	    display: inline-block;
	}
	.page-services{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.care-boder {
	    border: 1px solid #ebebeb;
	    height: 175px;
	    position: relative;
	    padding-left: 185px;
	    padding-right: 30px;
	}
	.img-care-item {
	    float: left;
	    width: 165px;
	    height: 100%;
	    position: absolute;
	    left: 0px;
	}
}
@media screen and (max-width : 600px) {
	#ulFacilities li {
    font-family: 'CALI MT regular';
    color: #000;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding: 0px 0px !important;
}
#ulFacilities {
    float: left;
    margin-top: 10px;
    margin: 0px;
    margin-bottom: 15px;
}
	#owl-our-services .owl-item {
	    padding: 0px;
	}
	.tp-simpleresponsive img {
	    max-width: 140% !important;
	}
	#owl-our-services {
	    margin: 20px 0px;
	}
	.img-our-services {
	    height: initial;
	}
        .item-our-services {
            padding: 10px 0px;
                 border: 10px solid #fff;
        }
	.ctn-about-us p {
	    color: #666;
	    font-size: 14px;
	    line-height: 26px;
	    font-weight: 400;
	    text-align: justify;
	}
	.ctn-contact-form-1 {
	    float: left;
	    width: 100%;
	    padding: 20px 15px;
	    box-shadow: 0px 0px 9px #ccc;
	    position: relative;
	    z-index: 999;
	}
	.contact-footer {
		
	    padding: 10px;
	    padding-bottom: 20px;
	    position: relative;
	    padding-top: 30px;
	    z-index: 99;
	}
	.ctn-about-shop{
		margin-top: 0px;
	}
	.form-contact-us-index  .btn-sauna{
		margin-bottom: 15px;
	}
	.img-item-services {
	    width: 180px;
	    margin-right: 0px;
	    text-align: center;
	    margin: 0 auto;
	    height: 220px;
	    float: initial;
	    margin-bottom: 15px;
	}
	.title-item-services {
	    padding-left: 0px;
	    text-align: center;
	}
	.title-item-services .view-more {
	    float: initial;
	}
	.coupon-page-1 .col-xs-6{
		width: 100%;
	}
	.subscrible .item-subscrible {
	    width: 90%;
	    display: inline-block;
	    margin: 10px 20px;
	}
	.img-our-services img {
	    /*height: initial;
	    max-width: initial;
	    min-width: 100%;
	    height: 100%;
	    max-height: 250px;*/
	}
	.about-us .ctn-about-us{
		padding: 0px 15px;
	}
	.about-us .business-hour{
		padding: 0px 15px;
	}
	.bg-about-us {
	}
	.contact-form-1 .container {
	    position: relative;
	    z-index: 99;
	    padding: 0px;
	}
	.ctn-order-fixed {
	    padding: 0px 0px;
	    margin-top: 0px;
	    float: left;
	    width: 100%;
	}
	.subscrible {
	    background-position: 2px 35px;
	}
	.ctn-gallery-instagram ul li {
	    width: 33.333333%;
	    float: left;
	    padding: 3px;
	    background: #fff;
	}
	.content-shop-booking {
	    float: left;
	    width: 100%;
	    margin-top: 30px;
	    border-radius: 15px;
	    background: #F9F9F9;
	    padding: 15px;
	}
	.tp-banner {
	    height: 235px !important;
	}
}

@media screen and (max-width : 560px) {
	.box-descript-slide h2 {
	    font-family: 'Prata', serif !important;
	    font-weight: 400 !important;
	    color: #fff;
	    font-size: 24px !important;
	    background: transparent !important;
	    text-transform: uppercase !important;
	    width: 300px !important;
	    text-align: center !important;
	    margin: 16px 0px;
	    white-space: normal;
	    margin: 20px auto;
	}
	.gallery-img-small a {
	    float: left;
	    width: 100%;
	    height: initial;
	    margin-bottom: 30px;
	}
	.gallery-img-small a:first-child, .gallery-img-small a:last-child{
		border: none;
	}
	.ctn-gift-step-3 h2 {
	    clear: initial;
	    float: left;
	}
	.qr-img{
		float: left;
		width: 100%;
		margin-top: 15px;
	}
	.qr-img img{
		width: 100%;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 22px;
	    right: 46px;
	}
	.box-services-left {
	    float: left;
	    width: 100%;
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.item-services-2 ul li a.view-more {
	    padding: 4px 16px;
	    display: inline-block;
	    border: 1px solid #ccc;
	    font-size: 13px;
	    text-transform: uppercase;
	    float: right;
	    position: absolute;
	    top: 16px;
	    right: 0px;
	}
	.item-services-2 ul li {
	    float: left;
	    width: 100%;
	    display: block;
	    margin-bottom: 15px;
	    position: relative;
	}
	.our-services .container{
		display: block;
	}
	.book-online span{
		display: block;
		float: left;
		width: 100%;
		text-align: center;
	}
	.book-online{
		padding-bottom: 15px;
		height: initial;
	}
	.book-online a {
	    float: left;
	    margin-left: 29%;
	}

	.ctn-blog-news-index .col-xs-6{
		width: 100%;
	}
	.blog-news-index-img img{
		min-width: 100%;
	}
}


@media screen and (max-width : 500px){
	.product-services-left {
	    float: left;
	    width: 70%;
	    border: 1px solid #fbafa9;
	    height: 152px;
	    border-left: none;
	    margin-left: 90px;
	    padding-left: 44px;
	    margin-right: 35px;
	    position: relative;
	}
	.list-services-shop .col-xs-6{
		width: 100%;
	}
	.business-hour ul li {
	    width: 100%;
	    float: left;
	}
	.cate-gallery ul li {
	    display: inline-block;
/*	    width: 100%;
	    margin-bottom: 30px;*/
	}
	.video-page-1 .col-xs-6{
		width: 100%;
	}
	.img-item-video img{
		width: 100%;
	}

	.list-ticket .col-xs-6{
		width:100%;
	}
	.btn-search {
	    float: left;
	    width: 100%;
	    height: 33px;
	    margin-top: 33px;
	    margin-left: 0px;
	    border: none;
	    color: #444;
	    text-transform: uppercase;
	}
	.list-services-style-2 .item-services {
	    float: left;
	    width: 100%;
	    border-bottom: none;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 22px;
	    right: 33%;
	}
}

@media screen and (max-width: 460px) {
	.product-services-left {
	    float: left;
	    width: 100%;
	    border: 1px solid #fbafa9;
	    height: initial;
	    margin-left: 0px;
	    padding-left: 0px;
	    margin-right: 0px;
	    position: relative;
	}
	.services-item-product {
	    float: left;
	    width: 100%;
	    margin-bottom: 40px;
	}
	.services-img-item-product {
	    position: relative;
	    width: 100%;
	    height: inherit;
	    float: left;
	    border-radius: 0px;
	    overflow: hidden;
	    left: 0px;
	}
	.services-title-item-product {
	    float: left;
	    padding: 0px 0px;
	    background: #fff;
	    padding-left: 0px;
	    width: 100%;
	    text-align: center;
	    height: 150px;
	    overflow: hidden;
	}
	.blog-news-inpage-title {
	    position: relative;
	    float: left;
	    width: 100%;
	    padding-left: 5px;
	    padding-top: 10px;
	}
	.ctn-blog-news-inpage .time-img-blog {
	    position: absolute;
	    left: 10px;
	    top: -100px;
	    background: #f9a392;
	    width: 70px;
	    height: 90px;
	    font-family: 'CALI MT regular';
	    font-size: 19px;
	    text-transform: uppercase;
	    font-weight: 300;
	    color: #fff;
	    text-align: center;
	    padding-top: 18px;
	    line-height: 29px;
	}
	.tp-banner {
	    height: 165px !important;
	}
	.contact-link {
	    font-size: 12px;
	    font-family: 'Open Sans', 'Roboto Light', Arial, sans-serif;
	    color: #868686;
	    font-weight: 300;
	    height: 36px;
	    line-height: 36px;
	}
	.contact-link {
	    font-size: 12px;
	    font-family: 'Open Sans', 'Roboto Light', Arial, sans-serif;
	    color: #868686;
	    font-weight: 300;
	    height: initial;
	    line-height: 36px;
	}
	.contact-link p{
		margin: 0px 3px;
	}
	.welcome-text {
	    font-size: 13px;
	    color: #fff;
	    font-weight: 300;
	    line-height: 21px;
	}
	.form-input-infor .width-50{
		width: 100%;
		padding-bottom: 0px;
	}
	.list-gallery-page-1 .col-xs-6{
		width: 100%;
	}
	.news-page-stl .listnews .list-item {
	    float: left;
	    width: 100%;
	    padding: 0px 15px;
	    margin-bottom: 30px;
	}
	.list-content-img {
	    float: left;
	    width: 100%;
	    height: initial;
	    overflow: initial;
	    position: relative;
	    margin-bottom: 10px;
	}
	.list-content-img img {
	    position: relative;
	    min-width: 100%;
	    height: initial;
	    max-width: 100%;
	}
	.news-page-stl .listnews-style2 .list-content-img {
	    float: left;
	    width: 100%;
	    height: initial;
	    overflow: initial;
	    position: relative;
	    margin-bottom: 10px;
	    left: 0px;
	}
	.news-page-stl .listnews-style2 .list-content-body {
	    padding-left: 0px;
	}
	.list-services-style-2 .img-item-services span.sale-off {
	    position: absolute;
	    top: 22px;
	    right: 28%;
	}
	.footer-center span spam {
	    width: 113px;
	    float: left;
	    text-align: left;
	}
	.input-date {
    	float: left;
	    width: 59%;
	    position: relative;
	}
	.services-product .col-xs-6{
		width: 100%;
	}
	.care-boder {
	    border: 1px solid #ebebeb;
	    height: initial;
	    position: relative;
	    padding-left: 15px;
	    padding-right: 15px;
	    padding-top: 15px;
	    float: left;
	    width: 100%;
	    padding-bottom: 15px;
	}
	.img-care-item {
	    float: left;
	    width: 100%;
	    height: 100%;
	    position: relative;
	    left: 0px;
	}
	.img-care-item a {
	    position: relative;
	    left: 0px;
	    top: 0px;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	}
	.img-care-item a img {
	    max-width: initial;
	    height: initial;
	    min-width: 100%;
	}
	.title-care-item, .book-btn-care{
		text-align: center;
	}
}	
@media (max-width: 400px) {
	.am a, .pm a {
	    float: left;
	    padding: 7px 5px 5px 5px;
	    background: #ebebeb;
	    margin-right: 0px;
	    font-size: 14px;
	    margin-bottom: 0px;
	    /* width: 33.3333%; */
	    border: 5px solid #fff;
	    text-align: center;
	}
	.input-date {
	    float: left;
	    width: 52%;
	    position: relative;
	}
	#ulFacilities {
	    float: left;
	    width: 100%;
	    margin-top: 10px;
	}
	.form-contact-us-index .width-50 {
	    padding: 5px 15px;
	    width: 100%;
	}
}
@media (max-height: 780px) {

}

@media (max-width: 640px) {
   
}

@media (max-width: 500px) {
  
}