.col-lef{
    float: left;
}
.header-top-left br{
    display: none;
}
.social-img-icons img{
    max-width: 35px;
    margin-bottom: 5px;
}
.scroll_btn{
    position: fixed;
    top: 20px;
    z-index: 100;
}
.form-group{position: relative}
.add-services{
    cursor: pointer;
}
.removeButton{
    cursor: pointer;
    position: absolute;
    z-index: 10;
}
.removeButton + .row > .col-md-6:first-child label{
    margin-left: 30px;
}
.form-tooltip-error ul{
    margin: 0px;
    padding: 0px;
}
.img-info-staff a{
    display: block;
}
.img-info-staff a img{
    max-width: 100%;
}
.preview_img img{
    max-width:100%;
}
@media (max-width: 687px) {

}

/* Custom logo */
#desktop-nav {padding: 0;}
.mobile-nav, .mean-container .mean-bar {height: 100px;}
.mean-container .mean-nav {top: 100px;}
.mean-container a.meanmenu-reveal {
    top: 50%;
    margin-top: -23px;
}
.mobile_logo {
    width: calc(100% - 50px);
    height: 100px;
    line-height: 100px;
}
ul#filter {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background: #ccc;
}
#filter li {
    display: inline-block;
}

#filter li.active a, #filter li a:hover {
    background: #135bd8;
    color: #fff;
}
#filter li a {
    padding: 10px 15px;
    display: block;
    cursor: pointer;
}
.table.price-row td{
    text-align: right;
}
.table.price-row .row-text{
    text-align: right;
}
.btn-next{float: right}
@media ( min-width: 576px ){}
@media ( min-width: 768px ){
    .mobile-nav, .mean-container .mean-bar {height: 110px;}
    .mean-container .mean-nav {top: 110px;}
    .mobile_logo {
        height: 110px;
        line-height: 110px;
    }
}
@media ( min-width: 992px ){
    .navbar-nav > li > a {padding: 10px;}
    .navbar.main-nav {padding: 25px 5px;}
    .logo {
        width: 160px;
        height: 140px;
        line-height: 140px;
        margin-left: -80px;
    }
}
@media ( min-width: 1200px ){
    .logo {
        width: 260px;
        height: 160px;
        line-height: 160px;
        margin-left: -130px;
    }
}

.fadd a {
    color: #fff;
    font-weight: bold;
}

/*freeze footer*/
.freeze-footer { position: fixed; right: 15px; bottom: 60px; padding: 0; display: inline-block;z-index: 1021;}
.freeze-footer ul li {list-style-type: none;}
.freeze-footer a { width: 100%; margin-bottom: 15px; color: #fff; padding: 10px 10px; line-height: 1; font-size: 17px; height: auto;}
.freeze-footer a.btn_make_appointment {background-color: #681d98;border-color: #681d98;}
.freeze-footer a.btn_call_now {background-color: #681d98;border-color: #681d98;}
.freeze-footer a:hover{ border-color: #fff;color: #ffffff; }

/*freeze header*/
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021;width: 100%; }
.freeze-header.with-bg{ background-color: #681d98; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

.fixed-freeze.scroll_btn {
    top: 100px;
}
@media (max-width: 991px) {
    .fixed-freeze.scroll_btn {
        top: 120px;
    }
}

.owl-carousel .carousel-nav-btn-gc button {
    background-color: transparent;
    border-color: transparent;
}
.owl-dots button {
    border-color: transparent;
    background-color: transparent;
    padding: 0;
}
.item.dis-flex {
    display: flex;
    width: 100%;
}

/*Testimonials*/
.section-testimonials {
    position: relative;
    z-index: 0;
    padding: 50px 0;
    text-align: center;
}
.section-testimonials:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
}
.section-testimonials:after {
    content: '';
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-parallax1.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.section-testimonials h2.mtitle {
    font-family: 'Cookie', cursive;
    font-size: 44px;
    color: #681a97;
    margin: 0;
}
.testimonials-list .item {
    padding-top: 50px;
}
.section-testimonials .testimonial-quote {
    color: #eee;
    font-size: 110px;
    font-family: 'Montserrat',sans-serif;
    line-height: 1;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.testimonials-list .name {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
}
.testimonials-list .owl-pagination {
    position: initial;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
}
.testimonials-list .owl-page {
    display: inline-block;
    padding: 6px 4px;
    position: relative;
}
/*
.testimonials-list .owl-page span {
    width: 6px;
    height: 6px;
    display: block;
    background: rgba(255,255,255, .7);
    position: relative;
    z-index: 1000 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.testimonials-list .owl-page.active span {
    background: transparent;
    bordeR: 1px solid rgba(255,255,255, .8);
    -webkit-transform: scale(1.3333333);
    -moz-transform: scale(1.3333333);
    -o-transform: scale(1.3333333);
    -ms-transform: scale(1.3333333);
    transform: scale(1.3333333);
}*/

.pointer {
    cursor: pointer;
}

/* News, Table of content */
#toc_container {
    border-color: #681d98;
    background-color: #f8f9fa;
}
.section-news .n-meta {
    border-color: #681d98;
}
.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #681d98;
}

.section-news .n-thumb a:after {
    background: rgba(0,0,0,0.6);
}
.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}
.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content , .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details>h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #681d98;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #DEDEDE;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #111 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #681d98;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #681d98;
    border-color: #681d98;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #681d98;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #681d98;
    border-color: #681d98;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #DEDEDE;
}

.category_news_v1 ul li:hover a {
    color: #111
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #681d98;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
    margin-bottom: 15px;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

/* By Consent */
.consent-form .group-select, .consent-form .group-select label {
    float: none;
}
.consent-form .group-select {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {
    display: initial;
}
.form-horizontal .radio {
    padding-top: 0;
}
.consent-form2 {
    border-top-color: #333;
}

.btn_consent, .btn_consent:hover, .btn_consent:focus {
    border-color: #681d98;
    background: #681d98;
    color: #fff;
}
.relative {
    position: relative;
}
.white-popup {
    overflow: initial;
}