
body {
    margin: 0 auto;
    position: relative;
    width: 100%;
    min-height: 100%;
    color:#181818;
    font-size: 14px;
    font-family: 'Montserrat', Sans-Serif;
    background: url(../images/bg.jpg) top center no-repeat #e8eaef;
}
img{
    max-width: 100%;
}
ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
a {
    color:#691c99;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #eedaac;
    text-decoration: none;
}

.btn {
    color: #000;
    background-color: #CCC;
    border: 0;
}
.btn:hover {
    color: #fff;
    background-color: #46096c;
}
.btn-default {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
}

.btn-primary,
a.btn-primary {
    background-color: #681d98;
    color: #fff;
    border: none;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    padding: 0 30px;
}

.btn-primary:focus,
.btn-primary:hover,
a.btn-primary:hover {
    color: #fff;
    background-color: #46096c;
    border-color: #46096c;
}

p {
    margin: 13px 0;
    line-height: 1.8;
}


.form-control {
    font-size: 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border:1px solid #ccc;
    border-radius: 3px;
    height: auto;
    padding: 5px 12px;
    height: 35px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.form-control-wrapper {
    margin-top: 5px;
    margin-bottom: 15px;
}



/*//////////////////// NAVIGATION BAR ////////////////////*/
.mean-container .mean-nav ul li a { 
    padding:13px 5%; text-transform: none; 
    border-bottom: 1px solid rgba(0,0,0,.12);
    border-top: 1px solid rgba(255,255,255,.06);
}
.mean-container a.meanmenu-reveal {
    z-index: 25;
    top: 15px;
    margin-right: 15px;
}
.button-dark{
    z-index: 10;
    color: #fff;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.1);
    background: rgba(0,0,0,.05);
}
.button-dark-btn{
    z-index: 9999999;
    left: 25px;
    top: 13px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    display: inline-block;
}
.button-dark:hover,
.button-dark-btn:hover {
    color: #fff;
}
.mean-container a.meanmenu-reveal>span,
.mean-container a.meanmenu-reveal>span:before,
.mean-container a.meanmenu-reveal>span:after {
    background: #641795;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    transition: all 0.15s ease;
    background: rgba(0, 0, 0, 0.3);
}

.mean-container .mean-nav {background: #641795; margin-top: 0px;}
.menu_mobile_v1 { 
    margin:0;
    text-align: center;
}
.mean-container .mean-bar { min-height: 70px; padding: 0; }
.mobile_logo { 
    
}
.mobile-nav { text-align: center; background: #fff; }
.mean-container .mean-nav { 
    margin-top: 0px; 
    position: absolute;
    left: 0;
    top: 70px;
}
.mobile_logo img {max-height: 70px;}
#desktop-nav {
    padding:0 0 0 15px;
    margin: 0;
    text-align: left;
}
.navbar.main-nav {
    min-height:32px;
    margin: 0px;
    border: 0;
    border-radius: 0;
    padding: 23px 5%;
}
.navbar-nav {
    margin: 0 auto;
}
.navbar-nav.right { float: right; }
.navbar-nav>li.logo-empty { 
    width: 226px;
}
.navbar-nav>li>a {
    text-decoration: none;
    border-radius: 0;
    padding: 12px 15px;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a{
    color: #fff;
    background: #590d88;
    border-radius: 50px;
}

li.dropdown:hover>.dropdown-menu {
    display: block;
    margin: 0;
}
.dropdown-submenu.pull-left {float: none; width: 100%;}
.dropdown-submenu.pull-left>.dropdown-menu {width: 100%;}
.dropdown.pull-left .dropdown-menu {left: auto;right: 0;}
.navbar-nav .dropdown-menu {
    border: 0;
    border-radius: 0px;
    background: #580e88;
    color: #fff;
}
.dropdown-menu>li>a {
    display: block;
    padding: 8px 20px;
    color: #fff;
    font-size: 13px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
}
.dropdown-menu>li>a:hover {
    transition: all 0.15s ease;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.nav-shop { position: absolute; right: 0; top: 5px; }
.nav-shop>li { margin-right: 0; }
.nav-shop>li>a { padding: 0 10px; font-size: 12px; line-height: 20px; background: none; border-radius: 0; color: #fff;}
.nav-shop>li>a:before { display: none; }

/*===================================================================================*/
/*  HEADER
/*===================================================================================*/
.header { 
    position: relative;
    width: 100%;
    transition: all 0.5s ease;
}
.header-top {
    line-height: 41px;
    background-color: #590d88;
    font-family: 'Montserrat';
    font-weight: 300;
    color: #fff;
    font-size: 12px;
    display: flex;
    padding: 0 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-top-left ,
.header-top-right{ width: 40%; text-align: center;}
.header-top-right a {
    font-weight: 800;
    color: #fff;
}
.header-main {
    position: relative; 
    min-height: 90px;
    background: #6a1b9a;
}
.logo {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: -41px;
    left: 50%;
    margin-left: -125px;
    z-index: 999;
    height: 150px;
    line-height: 150px;
    background: #fff;
    width: 250px;
    overflow: hidden;
}

/*===================================================================================*/
/*  MAIN
/*===================================================================================*/
h2 {
    margin: 10px 0 0;
    font-size: 22px;
    font-family: 'Montserrat';
}
h3 {
    margin: 0 0 10px;
    font-size: 18px;
    font-family: 'Montserrat';
}
h4 {
    margin: 0 0 10px;
    font-size: 15px;
}
h5 {
    margin: 0 0 10px;
    font-size: 14px;
}
.imgrps {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}
.art-main {
    margin: 0;
    position: relative;
}
.pmain { padding: 0px;}
.mTitle {
    font-family: 'Cookie', cursive;
    font-size: 6em;
    color: #fff;
    position: relative;
    z-index: 10;
    margin: 0;
}
.in-container {
    background: #fff;
    min-height: 200px;
}
.in-content {
    color: #666;
    line-height: 1.6;
    font-size: 14px;
    padding: 30px 25px;

}
.in-content iframe { max-width: 100%; }
.in-headbg {
    background: url(../images/bg-page.jpg) 0px 95% no-repeat;
    position: relative;
    padding: 90px 0 50px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
}
.in-headbg:before {
    background-color: rgba(0,0,0,.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: 1;
}




/*===================================================================================*/
/*  PAGE
/*===================================================================================*/
.col-page { margin: 0 -10px; }
.col-page .col-md-left,
.col-page .col-md-right{ padding: 0 10px; }

.section-slider { overflow: hidden;}
.section {padding: 30px;}

.section-about { padding-top: 50px; background: #fff; }
.section-about h2 {
    font-family: 'Cookie', cursive;
    font-size: 44px;
    color: #681a97;
    margin: 0;
}
.section-about h3 {
    color: #681a97;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.section-about h3 span{
    font-weight: 100;
}
.section-about .about-content {
    font-weight: 300;
    padding-left: 25px;
    font-size: 16px;
    padding-bottom: 30px;
    background: url(../images/bg-about.png) 0px 95% no-repeat;
}
.section-about .about-content p { line-height: 1.6; margin-bottom: 25px; }
.section-about a {
    font-family: 'Montserrat';
    color: #681a97;
    font-size: 16px;
    font-weight: 800;
    text-decoration: underline;
}
.about-img { text-align: right; }

.section-service {background: #fff;}
.section-service .row { margin: 0; }
.section-service .col-sm-4 { padding: 0; }
.section-service .item {text-align: center;}
.section-service h3 {
    background: #681a97;
    line-height: 50px;
    font-family: 'Cookie', cursive;
    font-size: 34px;
    color: #fff;
    margin: 0;
}
.section-service .icenter h3 {
    background: #3d0b5b;
}
.section-service .item { transition: all 0.5s ease; }
.section-service .item:hover  { opacity: 0.8;  }

.section-service .cover {
    overflow: hidden;
    position: relative;
    transition: all 0.5s ease;
    will-change: transform;
    transform: perspective(700px) rotateX(0deg) rotateY(0deg);
    display: block;
}
.section-service .cover:hover {
    will-change: transform;
    transform: perspective(700px) rotateX(5deg) rotateY(0deg);
}
.section-service .cover:hover:before  {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: .5;
    -ms-filter: "alpha(opacity=50)";
}
.section-service .cover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: #000;
    -webkit-transition: all .7s cubic-bezier(0.4,0,.2,1);
    transition: all .7s cubic-bezier(0.4,0,.2,1);
    z-index: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
}

.section-vt {
    background: url(../images/bg-service.png) top center #681a97;
    padding-bottom: 70px;
}
.section-vt h2 { 
    font-family: 'Cookie', cursive;
    font-size: 44px;
    color: #fff;
    text-align: center;
    margin: 0 0 15px;
}
.vt-time { padding-bottom: 50px; padding-left: 15%; color: #fff;  background: url(../images/icon-la.png) bottom center no-repeat;}
.section-vt .col-2 {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.4;
}
.section-vt .col-left {
    font-size: 20px;
    float: left;
    margin: 0px;
    font-weight: 300;
    padding: 0px;
    width: 30%;
}
.section-vt .col-right {  font-weight: 700; text-align: left; padding-left: 160px; }
.about-page { padding-top: 0; }



/*===================================================================================*/
/*  SIDEBAR
/*===================================================================================*/
.art-sidebar {
    background: #FFFFFF;
    border: 1px solid #FF2E8C;
    padding: 15px;
    margin: 0 auto;
    color: #9a0049;
    font-size: 13px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    line-height: 175%; 

    text-align: center;
}
.art-sidebar-box {
    margin-bottom: 10px; 
}
.art-sidebar-box h3 {
    line-height: 20px;
    margin: 0px;
    padding: 0px 0 10px;
    font-size: 16px;
    color: #9a0049;
    font-weight: 700;
}
.art-sidebar-social { text-align: left; }
.art-sidebar-social img { max-width: 50px; }
.art-sidebar-content {
    font-size: 13px;
    line-height: 175%;
}
.art-sidebar-content .col-2 {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    line-height: 1.4;
}
.timeopen .art-sidebar-content .col-2 {
    margin-bottom: 5px;
    line-height: 1.4;
    font-size: 14px;
}
.art-sidebar-content .col-2 .col-left {
    float: left;
    margin: 0px;
    font-weight: bold;
    padding: 0px;
}
.art-sidebar-content .col-right {padding-left: 55px; }
.timeopen .col-right {padding-left: 110px;}

.sidebar-hotphone {
    color: #d52c17;
    font-size: 18px;
    font-weight: bold;
}
.art-sidebar-box iframe ,
.art-sidebar-content iframe {width: 100%; }

.fomr-coupon h5 { font-size: 14px; }
.fomr-coupon input.form-input { width: 100%; }
.fomr-coupon .input3 input.form-input  { width: 23%; }
.fomr-coupon label {
    font-weight: normal;
    color: #48402E;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.fomr-coupon .mc-field-group { margin-bottom: 10px; }

.art-adv { margin-top: 15px;}
.art-adv img { width: 100%; }


/*===================================================================================*/
/*  GALLERY
/*===================================================================================*/
.list-gallery { padding: 0px; }
.list-gallery .row { margin: 0 -5px; }
.list-gallery .col-xs-6 { padding: 0 5px; }
.gallery-item {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    height: 170px;
    transition: all 0.5s ease;
    background-color: #fff;
}
.gallery-item>span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    transition: transform 0.5s ease;
}
.gallery-item span:hover {
    transform: scale(1.1);
}
.pagination>li>a.hover-main-color,
.pagination>li>span.hover-main-color {
    color: #000;
    margin-left: 1px;
}


/*===================================================================================*/
/*  BOOKING
/*===================================================================================*/
.form-horizontal{
    max-width: 100%;
    width: 100%;
    /*overflow: hidden;*/
}
.item-booking {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.group-select select option {
    color: #515151;
    padding: 3px;
    width: 100%;
    overflow: hidden;
}
.group-select optgroup {
    font-weight: 700;
    color: #E94E75;
    padding: 5px;
    width: 100%;
    overflow: hidden;
}
.group-select .fa-calendar {
    position: absolute;
    margin-top: 0px;
    right: 25px;
    top: 38px;
    font-size: 18px;
}
.box_register .btn_submit_login { margin-top: 40px;}
.popup_main_area .border_right {border-right: 1px solid #dedede;}
.box_register .btn_login_social {text-align: center;align-items: center;}
.txt_login a {color: #06bcf1;}
.group-select {
    margin-right: 0;
    position: relative;
    margin-bottom: 15px;
}
.label-name {min-height: 24px; }
.group-select label {
    float: left;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
    min-height: 24px;
}
.btn-search {
    width: 100%;
    text-transform: uppercase;
    outline: none;
}
.staff-avatar {padding: 0;}
.staff_service_v1 {display: inline-block;}
.staff_service_v1 {margin-top: 15px;overflow: hidden;}
.staff_service_v1 h4 {margin-top: 0; font-weight: 700;}
.time_work_staff_v1 ul {
    margin-top: 20px;
    padding-left: 0;
}
.time_work_staff_v1 ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.time_work_staff_v1 ul li a {
    color: #000;
    padding: 10px;
    background: #dcdcdc;
    margin: 0;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-variant-ligatures: common-ligatures;
    display: inline-block;
}
.content-shop-booking,#box_person,
.time_work_staff_v1 {padding-bottom: 30px;}
.white-popup {
    position: relative;
    padding: 0;
    width: auto;
    max-width: 800px;
    margin: 20px auto;
}
.popup_main_area {
    background: #fff;
    padding: 15px;
    float: left;
    width: 100%;
    color: #333;
}
.box_account_v1 .modal_form_header {
    min-height: 16.43px;
    padding: 5px 15px 15px;
    border-bottom: 1px solid #655353;
    background: #000000;
    color: #fff;
}
#send_booking .input-box {margin-bottom: 5px;}


/*===================================================================================*/
/*  CART
/*===================================================================================*/

.table-mobile-collapse{
    display: table;
    border:1px solid gray;
    border-spacing: 0;
    border-collapse: collapse;
}
.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    display: none;
}
.tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.table-row{
    border:inherit;
    vertical-align: inherit;
}
.table-head{

    padding: 15px;
    border:inherit;
    vertical-align: inherit;
}
.table-data{
    padding: 15px;
    padding-top: 0;
    vertical-align: inherit;
}

.table-responsive{

}
.cart-wrraper{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color:#ffffff;
    color: #333;
}

.cart-product-image-cell{
    display: flex;
    padding-top: 15px;
    padding-bottom: 0;
}

.table-cart{
    background-color:#fff;
    border:none;
    margin-bottom:0;
}
.table-cart .thead .table-head{
    background-color: #691c99;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
}
.table-cart .tbody .table-data{
    display: block;
    vertical-align: top;
}
.table-cart .tbody .table-row:last-child .table-data{
    border-bottom: none;
}
.table-cart p{
    margin-bottom: 0;
}
.quantity-label{
    display: inline-block;
}
.table-cart .form-control{
    margin-top: 10px;
}
.cart-product-image-cell{
    vertical-align: top;
}
.table-cart .tbody .table-data.quantity-cell,
.table-cart .tbody .table-data.price-cell,.table-cart .tbody .table-data.total-change-cell{
    display: inline-block;
    vertical-align: bottom;
    padding-left: 15px;
}

.table-cart .tbody .table-data.price-cell{
    min-width: 273px;
}
.total-change-cell{
    padding-left: 15px;
}
.total-change-cell>p.total_change:before{
    display: inline-block;
    position: relative;
    content: "Total:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
}
.cart-product-image{
    width: 72px;
    height: 72px;
    margin-right: 15px;
}
.cart-product-image>img{
    width: 100%;
    height: auto;
}
.cart-product-name{
    font-weight: bold;
}
.form-control.form-control-sm{
    width: 80px;
    display: inline-block;
}
.form-control:focus,.active.form-control{
    border-color: #fec168;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ffc10773;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #ffc10773;
}
.total_change{
    color: #ff0000;
    font-weight: bold;
    text-align: right;

}
.total-amount{
    text-align: right;
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
}
.total-amount-label{
    text-align: right;
    display: none;
}
.total-amount:before{
    display: inline-block;
    position: relative;
    content: "Amount:";
    font-weight: normal;
    margin-right: 15px;
    color:#000;
    padding-top: 15px;
}
.total-amount-cell{
    padding:0;
}

.table-row{
    border-bottom: 2px solid #ffffff;
}
.cart-product-image,.cart-product-description{
    display: inline-block;
    vertical-align: top;
    
}
.cart-wrraper .table-data.price-cell select.form-control {
    width: 160px;
}


/* FORM CART */
.cart img {
    margin: 0 auto 25px auto;
    text-align: center;
    display: block
}
.cart .form_cart {margin-bottom: 30px}
.cart .form_cart a {
    display: table;
    margin: 10px auto 25px auto;
    padding: 15px 65px;
    font-size: 15px;
    cursor: pointer
}
.cart .form_cart p {font-size: 14px;}
.cart .order {
    margin-top: 15px;
    background:#691c99;
    border-radius: 3px;
    color: #fff;
    padding-bottom: 10px;
}
.cart .order .inner {padding: 15px 20px 0px 20px}
.cart .order .inner ul li {
    clear: both;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%
}
.cart .order .inner ul li .frame_img {
    height: 60px;
    overflow: hidden;
    float: left;
    margin-right: 15px
}
.cart .order .inner ul li .frame_img img {width: 60px;background: #fff}
.cart .order .inner ul li .name_product {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 63%;
    overflow: hidden;
    float: left;
}
.cart .order .inner ul li .name_product p {font-size: 15px}
.cart .order .inner ul li .name_product span {
    color: #858585;
    font-size: 13px;
    margin-right: 5px
}
.cart .order .inner ul li .name_product small {
    width: 7px;
    height: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block
}
.cart .order .subtotal {padding: 0px 20px 15px 20px}
.cart .order .subtotal ul li {padding: 3px 0px}
.cart ul {margin-top: 15px;list-style: none;padding-left: 0;}
.cart .order .total ul {padding: 15px 20px;}
.cart .order .total ul li span { color: #fff;font-size: 16px;}
.cart .note { margin: 15px 0px}
.cart .note p {font-size: 14px;margin: 0;}
h2.timr {margin: 0;margin-bottom: 20px;}
ul.list_form li {margin: 5px 0;}
h4.sanb {font-size: 18px;font-style: italic;}
.inner .price, .subtotal span,.total span {font-weight: bold;}
.fl-flex-label label {font-weight: normal;}
.white-popup {clear: both;overflow: hidden;}
.cart .note p.boldnote {font-size: 16px; font-weight: bold;}
#send_to_friend {margin-left: 0;}
.total-payment-info li {
    line-height: 30px;
}
.cards-item {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.cards-item .cards-item-image {
    transition: transform 0.25s ease;
    margin-bottom: 10px;
}
.cards-item:hover .cards-item-image {transform: scale(1.05);}
.cards-item .btn {margin-top: 10px;}
.book_appoin_btn { margin-top: 20px; }

/*===================================================================================*/
/*  CONTACT
/*===================================================================================*/
.contact-page { padding-top: 50px; }
.contact-info {padding: 20px 0;}
.contact-page h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    color: #671e98;
}
.contact-info h4 {
    margin: 0;
    font-size: 20px;
}
.contact-info p { margin: 0 0 5px; }
.contact-map { margin-bottom: 30px; }
.contact-map iframe { width: 100%; }
.contact-form label {
    font-weight: normal;
    color: #666666;
}
.contact-social {font-size: 14px;}
.contact-social a {color: #FA5705;}
.contact-page h3.text-center { margin: 10px 0 20px; }

.login_form_area .box_area_login_v1 {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    align-items: center;
}
.box_area_login_v1 h2.section_title {
    color: #252525;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    margin-bottom: 0;
}
.btn_login_social {margin-top: 20px;}
.btn_login_social span,
.btn_login_social i {
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
}
.btn_login_social span {
    font-family: 'Lato', sans-serif;
    font-variant-ligatures: common-ligatures;
}
.btn_login_social .btn_facebook_v1 {
    background: #3B5998;
    padding: 7px 25px;
}
.btn_login_social .btn_gplus_v1 {
    background: #dd4b39;
    padding: 7px 35px;
}
.btn_submit_login { margin-bottom: 30px;}
.btn_submit_login button.submit {
    background-color: #ffc267;
    border: 1px solid #ffc267;
    color: #fff;
    font-size: 12px;
    line-height: inherit;
    padding: 10px 30px;
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none;
    border-radius: 3px;
}


.popup_main_area h3 { margin: 15px 0; font-weight: 700; font-size: 18px; }
.popup_main_area  .note-booking {color: red; font-style: italic; margin: 10px 0; display: block;}
.box_register .btn_login_social {text-align: center;align-items: center;}
.popup_main_area .btn { margin: 20px 0; }



/*===================================================================================*/
/*  SERVICEs
/*===================================================================================*/
.service-container { padding-top: 20px; padding-right: 15px;    padding-left: 15px; }
.service-heading { padding-bottom: 20px; }
.service-list .row { padding-bottom: 20px; }

.service-list .row img { padding-top: 30px; }
.service-list .service-heading img ,
.service-heading img {padding-top: 12px; padding-right: 6px;}
.service-list .service-row  { padding-bottom: 30px; }
h1.service-name {
    line-height: 1;
    padding-bottom: 15px;
    margin:30px 0 5px;
    border-bottom: 1px solid #c5c5c5;
    padding-right: 15px;
    font-size: 24px;
    color: #681a97;
    font-family: 'Montserrat';
    font-weight: 700;

}
.price-item {
    padding-bottom: 5px;
    padding-top: 5px;
    color: #555;
    border-bottom: #c5c5c5  dashed 1px;
}
.price-item h4 { font-size: 15px; margin-top: 10px; }
.price-item-number {
    font-size: 16px;
    color: #671e98;
    margin: 10px 0;
    font-weight: bold;
    line-height: 1.0;
}
.circle-service-image {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 3px solid #fec168;
    display: inline-block;
    margin-top: 20px;
    background-size: cover;
    background-position: center;
}
.rouded-service-image {
    width: 180px;
    height: 180px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}
.service-row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.service-row h2 {
    font-family: 'Cookie', cursive;
    font-size: 38px;
    color: #681a97;
}
.top-right {text-align: left;}
.top-right a {
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
}
.top-right a img {
    vertical-align: top;
    padding-top: 10px;
}
.detail-price-item {
    display: flex;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 5px;
    color: #555;
}
.detail-price-dots {
    height: 15px;
    flex: 1;
    border-bottom: 1px dotted #c5c5c5;
}
.detail-price-number {
    padding-left: 5px;
    font-size: 16px;
    color: #671e98;
    font-weight: bold;
}
.detail-price-name {
    padding-right: 5px;
    font-size: 14px;
    font-weight: 600;
}
.service-note {font-style: oblique;font-size: 13px;margin-bottom: 40px}

@media (min-width: 768px) {
    .top-right {
        text-align: right;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
    .circle-service-image {
        width: 250px;
        height: 250px;
    }
    .rouded-service-image {
        width: 250px;
        height: 250px;
    }
}

/*===================================================================================*/
/*  FOOTER
/*===================================================================================*/
.footer-container {
    margin: 0 auto;
    position: relative;
    background: #47096d;
    padding: 30px 30px 15px;   
    color: #fff;
    font-weight: 300;
}
.footer h3 {
    font-family: 'Cookie', cursive;
    font-size: 44px;
    color: #fff;
    margin: 0 0 10px;
}
.footer p { margin: 0 0 15px; }
.footer-address i {
    background: #8e29cc;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 15px;
}
.fadd-info { padding-left: 55px; }
.fadd-info h4 { text-decoration: underline;margin: 0; }

.footer-map iframe {
    border: 5px solid #681a97 !important;
    max-width: 100%;
    height: 200px;
}
.footer-copyright {
    margin-top: 20px;
    border-top: 1px solid #681a97;
    padding: 20px 0 0;
}
.footer p.copyright { margin-top: 5px; float: left; color: #bc7ee1; margin-bottom: 0; }
.footer-bank { float: right; }


#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#back-top a {
    width: 50px;
    height: 50px;
    background:rgba(0,0,0,0.5);
    display: block;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    color:#FFFFFF;
    line-height:50px;
}


.owl-carousel{
    position: relative;
}
.owl-carousel .carousel-nav-btn-gc{
    top: 45%;
    width: 100%;
    font-size: 32px;
}
.owl-carousel .carousel-nav-btn-gc .carousel-nav-left{
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 10px;
}
.owl-carousel .carousel-nav-btn-gc .carousel-nav-right{
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 10px;
}