.alert.alert-aquamarine {
    border: 1px solid #43ca43;
    border-radius: inherit;
    background: #b3fb9b;
}

.form-control-wrapper {
  position: relative;
}

p.title_giftcard {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    margin: 10px;
    color: #444343;
}

p.des_giftcard {
    text-align: center;
    margin-bottom: 20px;
}

.white-popup {
    position: relative !important;
    background: none;
    padding: 20px!important;
    width: auto!important;
    /*max-width: 80%!important;*/
    margin: 20px auto!important;
}

.mfp-close {
    /*background-color: whitesmoke !important;*/
}

.cart-table .cart-product img {
    border: 1px solid #f3f3f3;
    display: block;
    float: left;
    margin-right: 25px;
    width: 93px;
}

/**********Check giftcard**********/
.box_info_barcode {
    padding: 20px;
}

.box_info_barcode p {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.box_info_barcode ul li label {
    font-style: italic;
    margin-right: 5px;
}

.section-padding {
    padding: 60px 0;
}

p.title_message {
    text-align: center;
}