/*! #######################################################################

  MeanMenu 2.0.7
  --------

  To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */


/* hide the link until viewport size is reached */

a.meanmenu-reveal {
    display: none;
}


/* when under viewport size, .mean-container is added to body */

.mean-container .mean-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    width: 100%
}

.mean-container a.meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 13px 13px 11px 13px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    top: 0px;
    margin-right: 5px;
    position: absolute;
	z-index:999;
}

.mean-container a.meanmenu-reveal span {
    display: block;
    background: #e62b4c;
    height: 3px;
    margin-top: 3px;
}

.mean-container .mean-nav {
    float: left;
    width: 100%;
    background: #fff;
    margin-top: 55px;
    position: absolute;
    z-index: 10;

}

.mean-container .mean-nav ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
}

.mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
}

.mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 90%;
    padding: 1em 5%;
    margin: 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid #e8e8e8;
    text-decoration: none;
    text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
    width: 80%;
    border-top: 1px solid #c3c1be;
    padding: 14px 10%;
    opacity: 0.75;
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;

}

.mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover,
.mean-container .mean-nav ul li.active a {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8);
}

.mean-container .mean-nav ul li a.mean-expand {
    border: 1px solid #e8e8e8;
    border-top: 0;
    border-bottom: 0;
    font-weight: 700;
    height: 23px;
    margin-top: 1px;
    padding: 12px 12px 9px !important;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 26px;
    z-index: 2;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
    background: rgba(0, 0, 0,0.1);
}

.mean-container .mean-push {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}


/* Fix for box sizing on Foundation Framework etc. */

.mean-container .mean-bar,
.mean-container .mean-bar * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.mean-remove {
    display: none !important;
}

/* THEME */
.csi-header{
    position: relative;
}
.menu_mobile_v1{
    position: relative;
    width: 100%;
    margin-bottom: 0px;
    background: #fff;
    z-index: 999;
    padding: 0px;
    text-align: left;
    min-height: 55px;
}

.mobile_logo {
    align-items: center;
    display: inline-block;
    justify-content: flex-start;
    margin: 10px;
    z-index: 10;
    position: relative;
}
.mobile_logo img {
    max-height: 35px;
}
.mean-container a.meanmenu-reveal{

}
.mean-container a.meanmenu-reveal>span{
    display: block;
    position: absolute;
    background: #000;
    width: 25px;
    height: 2px;
    top: 27px;
    margin: 0;
    transition: all 0.15s ease;
}
.mean-container a.meanmenu-reveal>span:before,.mean-container a.meanmenu-reveal>span:after{
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    position: absolute;
    background: #000;
}
.mean-container a.meanmenu-reveal>span:before{
    top: 7px;
}
.mean-container a.meanmenu-reveal>span:after{
    top: -7px;
}
.mean-container a.meanmenu-reveal.meanclose>span{
    background-color: rgba(0,0,0,0)
}
.mean-container a.meanmenu-reveal.meanclose>span:before{
    top: 0;
    transform: rotate(45deg);
}
.mean-container a.meanmenu-reveal.meanclose>span:after{
    top: 0;
    transform: rotate(-45deg);
}
.mean-container a.meanmenu-reveal:hover>span,
.mean-container a.meanmenu-reveal:hover>span:before,
.mean-container a.meanmenu-reveal:hover>span:after {
  transition: all 0.35s ease-out;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    right: 100%;
    left:auto;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu,.dropdown.pull-left .dropdown-menu >.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}