/*
* By Demo
*/
.footer-social ul.head-top-social li {
    display: inline-block;
    padding: 3px;
}

.footer-copyright {
    padding: 10px 0 0px;
}

.detail-price-number {
    font-weight: normal;
}

span.detail-price-name {
    color: #000;
}

.section-about h2 {
    font-size: 40px;
}

.stitle {
    font-size: 30px;
}

.section-services .item {
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.copyright p {
    padding-bottom: 0px;
}

.footer-phone {
    padding-bottom: 14px;
}

.footer-phone a {
    color: #fff;
}

.section-about-text h3 {
    font-size: 36px;
}

section.coupon_code_v1 img {
    margin-bottom: 10px;
}

@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 28px;
    }
}

.circle-service-image {
    background-size: cover;
}

.logo {
    max-width: 300px;
}

.head-nav-right .btn-main {
    min-width: 120px;
}

.bg-main {
    background: #f3f3f3;
    background: url(../images/bg-parallax1.jpg);
    background-position: bottom !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.navbar-nav > li {
    padding: 0 14px;
}

@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 26px;
    }
}

.navbar-nav > li > a {
    font-size: 17px;
}

.item-booking select optgroup {
    color: #000;
}

.item-booking select option {
    color: #56b367;
}

@media (max-width: 767px) {
    .about-right img {
        max-width: 100% !important;
    }
}

.copyright p {
    padding-bottom: 0px;
    font-size: 13px;
}

.box_service p {
    text-align: justify;
}

.section-services h2 {
    font-size: 52px;
}

.section {
    padding: 30px 0px;
}

.bg-main {
    background: none;
}

.services-list .info p {
    display: none;
}

.thumb img {
    width: 100%;
}

.ellip {
    color: #fff;
}

.mfp-content img {
    text-align: center;
    display: block;
    margin: auto;
}

.page-contact {
    background: #eee;
    background-position: center !important;
    padding: 40px;
}

.section {
    padding: 20px 0px;
}

.head-top, a.btn-main, .btn-main, .btn-link, .section-about-text, .contact-details {
    background: #b3a656;
}

h2, h3, h4 {
    color: #b3a656 !important;
}

.testimonial-quote {
    color: #b3a656 !important;
}

.footer-copyright {
    border-bottom: 8px solid #b3a656;
}

.page-heading {
    padding: 20px 0;
    background: #f7f2d3;
}

.bg-main, .page-heading, .form-control {
    background: #f7f2d3;
}

.head-top-right .ht-item .fa, .head-top-right .ht-item .info-name, .head-top li, .footer-phone i, .contact-details i, .opening-hour-time {
    color: #fff;
}

.contact-hours {
    border-bottom: 8px solid #b3a656;
}

.section-about h2, .stitle, .form-control, .form-control::placeholder, .navbar-nav > li > a:hover, .navbar-nav > li > a:active, .navbar-nav > li > a:focus, .navbar-nav > li.active > a, .navbar-nav > li:hover > a {
    color: #b3a656;
}

@media only screen and (max-width: 687px) {
    .mobile_logo img {
        max-height: 70px;
    }
}

.mean-container .mean-nav {
    margin-top: 90px;
}

.gallery-title {
    background: #f7f2d3;
}

.section-about-text h3 {
    font-size: 36px;
    color: #fff !important;
}

@media ( max-width: 767px ) {
    .footer-main {
        background-attachment: scroll;
        background-position: center;
    }
}

.ellip a {
    color: #fff;
    font-size: 20px;
}

@media only screen and (max-width: 687px) {
    .parallax h3 {
        font-size: 20px;
    }
}

.footer-main {
    background-image: url('../images/BG.jpg');
}

@media (max-width: 767px) {
    .footer-main {
        background-attachment: scroll;
        background-position: center;
    }
}

.info_staff {
    display: none;
}

h3.stitle {
    font-size: 28px;
}

.mobile_logo {
    margin-right: 60px;
}

@media ( max-width: 575px ) {
    .footer-copyright {
        border-bottom-width: 45px;
    }
}