img, * img {
    max-width: 100%;
}

.scroll_btn {
    position: fixed;
    top: 0px;
    z-index: 1001;
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.fl-flex-label.fl-collapsed.fl-background .fl-label {
    background: #e2fee7;
}
.form-tooltip-error ul,.form-tooltip-error ul.list_form li{
    margin: 0px;
    padding: 0px;
}

.footer-copyright {
    padding: 10px 0 0px;
}
.detail-price-number {
    font-weight: normal;
}
span.detail-price-name {
    color: #000;
}
.section-about h2 {
    font-size: 40px;
}
.stitle {
    font-size: 30px;
}
.section-services .item {
    padding-bottom: 10px;
    margin-bottom: 0px;
}
.copyright p {
    padding-bottom: 0px;
}
.footer-phone {
    padding-bottom: 14px;
}
.footer-phone a {
    color: #fff;
}
.section-about-text h3 {
    font-size: 36px;
}
section.coupon_code_v1 img {
    margin-bottom: 10px;
}
@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 28px;
    }
}
.circle-service-image {
    background-size: cover;
}
.logo {
    max-width: 300px;
}
.head-nav-right .btn-main {
    min-width: 120px;
}
.bg-main {
    background: #f3f3f3;
    background: url(../images/bg-parallax1.jpg);
    background-position: bottom!important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.navbar-nav>li {
    padding: 0 14px;
}
.form-control-wrapper {
    position: relative;
}
.coupon_img .img_size {
    transition: transform 0.25s ease;
    margin-bottom: 20px;
    margin: auto;
}
.col-coupont:hover .img_size {
    transform: scale(1.05);
}
.col-coupont {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}
.footer-main h3{
    color: #fff;
}
.footer-main p {
    color: #ccc;
}

/*freeze header*/
.header-container {z-index: 9999;}
.freeze-header{ position: fixed !important; left: 0;top: 0; z-index: 1021; width: 100%; }
.freeze-header.with-bg{ background-color: #fff; -webkit-box-shadow: 0px 1px 1px #eee; -moz-box-shadow: 0px 1px 1px #eee; box-shadow: 0px 1px 1px #eee; }
.freeze-header.with-bg { width: 100%; }

@media (min-width: 993px) {
    .instead-border-top-menu-mobile {display: none;}
    .header-container > .container.freeze-header.with-bg {position: relative !important;}
}



@media only screen and (max-width: 687px) {
    .section-about h2 {
        font-size: 26px;
    }
}
.navbar-nav>li>a {
    font-size: 17px;
}
.item-booking select optgroup {
    color: #000;
}
.item-booking select option {
    color: #56b367;
}

/* Open hour - Contact info */
.foh-wrap,
.fci-wrap {display: table;text-align: left;}
.foh-row,
p.foh-row,
span.foh-row,
div.foh-row,
.fci-row,
p.fci-row,
span.fci-row,
div.fci-row {
    line-height: 1.5;
    display: table-row;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.foh-row .foh-time,
p.foh-row .foh-time,
span.foh-row .foh-time,
div.foh-row .foh-time,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title,
.fci-row .fci-content,
p.fci-row .fci-content,
span.fci-row .fci-content,
div.fci-row .fci-content {
    display: table-cell;
    padding: 0;
    padding-bottom: 10px;
    text-transform: initial;
}
.foh-row .foh-date,
p.foh-row .foh-date,
span.foh-row .foh-date,
div.foh-row .foh-date,
.fci-row .fci-title,
p.fci-row .fci-title,
span.fci-row .fci-title,
div.fci-row .fci-title {
    padding-right: 15px;
    font-weight: bold;
}

.head-top-left .fci-row, .head-top-left .foh-row {
    color: #fff;
}


.head-top-social img {
    background: #fff;
}


@media ( max-width: 575px ) { select.form-control.list_service.multi { max-height: 47px;} }

.m-gallery-box-wrap {padding: 0 10px;margin: 0 0 15px 0;overflow: initial;}
.m-gallery-box {
    position: relative;
    background-color: #fff;
    margin: 0 -10px 10px;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.m-image-bg, .m-gallery-box .m-image-bg {
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
    padding-bottom: 75%;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.m-image-bg img, .m-gallery-box .m-image-bg img {
    display: none !important;
}
.m-image-title, .m-gallery-box .m-image-title {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;

    color: #FFF;
    font-weight: 500;
    background: rgba(3, 3, 3, 0.3);
    filter: alpha(opacity=30);
    max-height: 60px;
    padding: 5px;
    margin: 0;
    overflow: hidden;
}

.m-gallery-box:hover, .m-gallery-box:focus {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/*news module*/
.section-news .n-meta {
    border-color: #b3a656;
}

.section-news .n-meta .date-d, .section-news .n-meta .date-m {
    color: #b3a656;
}

.section-news .n-thumb a:after {
    background: rgba(0, 0, 0, 0.6);
}

.section-news .n-item:hover .n-thumb a:after {
    color: #fff;
}

.n-author, .n-author a {
    color: #aaa;
}

.box_news_details .news_content, .box_news_details .news_content p, .box_news_details .news_content span {
    color: #fff;
}

.box_news_details > h3 {
    color: #333;
}

.box_news_details blockquote {
    background-color: #f6f6f6;
    border-left-color: #464646;
    color: #666;
}

.news_comment_v1 h3.leave_comment_v1,
.box_comment_new_v1 h3.leave_comment_v1,
.search_area_bar h3.leave_comment_v1,
.recent_area_bar h3.leave_comment_v1,
.category_news_v1 h3.leave_comment_v1,
.tag_news_v1 h3.leave_comment_v1 {
    border-bottom-color: #ddd;
}

.news_comment_v1 h3.leave_comment_v1::before,
.box_comment_new_v1 h3.leave_comment_v1::before,
.search_area_bar h3.leave_comment_v1::before,
.recent_area_bar h3.leave_comment_v1::before,
.category_news_v1 h3.leave_comment_v1::before,
.tag_news_v1 h3.leave_comment_v1::before {
    background: #b3a656 none repeat scroll 0 0;
}

.news_top_comment .msg_avatar_v1 a {
    color: #252525;
}

.news_details_title_v1 .first_title_v1 span {
    color: #666;
}

.box_comment_new_v1 .leave_form input, .box_comment_new_v1 .text_leave textarea {
    background: transparent none repeat scroll 0 0;
    border-color: #c1c1c1;
    color: #666;
}

.box_comment_new_v1 .text_leave button.submit {
    background-color: #b3a656;
    border-color: #b3a656;
    color: #fff;
}

.search_area_bar input[type="text"] {
    background-color: #fff;
    border-color: #d3d3d3;
    color: #666;
}

.search_area_bar button.submit {
    background-color: #b3a656;
    border-color: #b3a656;
    color: #fff;
}

.category_news_v1 ul li a {
    color: #333;
    border-bottom: 1px solid #f1f1f1;
}

.category_news_v1 ul li:hover a {
    color: #b3a656;
}

.tag_news_v1 ul li a {
    background-color: #e6e6e6;
    color: #252525;
}

.tag_news_v1 ul li:hover a {
    background-color: #b3a656;
    color: #fff;
}

.section-news .nearby {
    border-color: #DEDEDE;
}

@media (min-width: 992px) {
    .news_sidebar_left {
        border-left-color: #eee;
    }
}

.signature {
    float: left;
    width: 100%;
}

/* Gallery */
.m-category-tab {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 0 15px;
}

.m-gallery-content {
    position: relative;
}
.m-category-tab li {
    background-color: #fff;
    color: #000;
}

.m-category-tab li.active, .m-category-tab li:hover {
    background-color: #000;
    color: #fff;
}
.m-category-tab li, .m-category-tab li.active, .m-category-tab li:hover {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

.m-gallery-content, .m-gallery-listing, .m-gallery-paging {
    text-align: center;
}

@media ( max-width: 374px ) {
    .m-category-tab li {
        width: 100%;
    }
}
.white-popup {
    overflow: initial;
}
/* Social */
ul.social, ul.social li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: auto;
}

ul.social li {
    padding: 5px;
}